
<link rel="stylesheet" type="text/css" href="../css/list_style.css">
        <div id="web">
                <div class="row content">
                    <div class="list">
                        <div class="con_title">
                            <h3>랭킹</h3>
                            <p>HOME &gt; <strong>랭킹</strong></p>
                        </div>
                        <!-- 랭킹 별 차트 구문 -->
                        <canvas id="win" style='width:450px; height:30vh; display: inline-block;'></canvas>
                        <canvas id="point" style='width:450px; height:30vh; display: inline-block;'></canvas>
                        <canvas id="levels" style='width:450px; height:30vh; display: inline-block;'></canvas>
                    </div>
                </div>
        </div>
