<div th:fragment="mainModalFragment" class="page-modals">
    <script>
        function clearModal(){
            const modal = document.getElementById("modal-report");
            modal.querySelector(".abc").value="";
            modal.querySelector(".uk-textarea").value="";
        }
    </script>
    <style>
        .abc {
            width: 100%;
            margin-top: 10px;
            border-radius: 5px;
            height: 40px;
            font-size: 20px;
            background-color: #f5f5f5;
            border: none;
            padding: 15px;
            color: black;
        }
        .mytext {
            color: black;
        }
        .dark-theme .mytext{
            color: white;
        }
        .dark-theme .abc{
            background-color: #1A2634;
            color:white;
        }
    </style>
    <div class="uk-flex-top" id="modal-report" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default"
                type="button" data-uk-close></button>
            <h2 class="uk-modal-title">Report</h2>
            <form class="" th:action="@{/report}" method="post" enctype="multipart/form-data">
                <div class="uk-margin">
                    <div class="uk-form-label">Subject</div>
                    <div class="uk-form-controls">
                        <select name="subject" class="js-select">
                            <option value="미 선택">항목</option>
                            <option value="부정 승패">부정 승패</option>
                            <option value="베팅 오류">베팅 오류</option>
                        </select>
                    </div>
                    <input class="abc" name="btIdmodalInput" id="btIdmodalInput" placeholder="BattleID 입력">
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Details</div>
                    <div class="uk-form-controls"><textarea class="uk-textarea mytext" name="details"
                            placeholder="Try to include all details..."></textarea></div>
                    <div class="uk-form-controls uk-margin-small-top">
                        <div data-uk-form-custom><input name="file" id="file" type="file"><button class="uk-button uk-button-default"
                                type="button" tabindex="-1"><i class="ico_attach-circle"></i><span>Attach
                                    File</span></button></div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-grid uk-flex-right" data-uk-grid>
                        <div><button class="uk-button uk-button-small uk-button-danger">Submit</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="uk-flex-top" id="modal-help" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default"
                type="button" data-uk-close></button>
            <h2 class="uk-modal-title">Help</h2>
            <div class="search">
                <div class="search__input"><i class="ico_search"></i><input type="search" name="search"
                        placeholder="Search"></div>
                <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
            </div>
            <div class="uk-margin-small-left uk-margin-small-bottom uk-margin-medium-top">
                <h4>Popular Q&A</h4>
                <ul>
                    <li><img src="./img/svgico/clipboard-text.svg" alt="icon"><span>How to Upload Your Developed
                            Game</span></li>
                    <li><img src="./img/svgico/clipboard-text.svg" alt="icon"><span>How to Go Live Stream</span>
                    </li>
                    <li><img src="./img/svgico/clipboard-text.svg" alt="icon"><span>Get in touch with the Creator
                            Support Team</span></li>
                </ul>
                <ul>
                    <li><a href="#!">browse all articles</a></li>
                    <li><a href="#!">Send Feedback</a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>