<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <nav th:fragment="navFragment" id="navigation">
        <ul class="row">
            <li><a href="../board/notice">공지사항</a>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li><a href="../board/fight">대전</a>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li><a href="board/team">협동</a>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li><a href="../board/list">게시판</a>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li><a href="../rank">랭킹</a>
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </nav>

</body>
</html>