<!DOCTYPE html>
<html lang="en">

<body>
    <aside th:fragment="sidebarFragment" class="sidebar is-show" id="sidebar">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/sidebar.css" />
        <div class="sidebar-box">
            <ul class="uk-nav">
                <li id="nav-home" class=""><a href="/"><i class="ico_home"></i><span>Home</span></a></li>

                <!-- Account -->
                <li class="uk-nav-header">Account</li>
                <li id="nav-profile" class=""><a th:href="@{/profile}"><i class="ico_profile"></i><span>Profile</span></a>
                </li>
                <li id="nav-wallet" class=""><a th:href="@{/wallet}"><i
                            class="fa-solid fa-wallet ico_fontawesome"></i></i><span>Point Wallet</span></a></li>

                <!-- Main -->
                <li class="uk-nav-header">Main</li>
                <li id="nav-battle" class=""><a th:href="@{/battle?page=1}"><i
                            class="fa-solid fa-hand-fist ico_fontawesome"></i><span>Battle</span></a></li>

                <li id="nav-community-header" class=""><a th:href="@{/board/list?board_cd=20004}"><i
                            class="ico_community"></i><span>Community</span></a></li>
                <ul id="nav-community-submenu" class="submenu none">
                    <li id="nav-free" class=""><a th:href="@{/board/list?board_cd=20004}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Free</span></a></li>
                    <li id="nav-share" class=""><a th:href="@{/board/list?board_cd=20005}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Share</span></a></li>
                    <li id="nav-strategy" class=""><a th:href="@{/board/list?board_cd=20006}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Strategy</span></a></li>
                </ul>

                <!-- NOTICE -->
                <li id="nav-notice-header" class=""><a th:href="@{/board/list?board_cd=20001}"><i
                            class="fa-solid fa-clipboard ico_fontawesome"></i><span>Notice</span></a></li>
                <ul class="submenu none">
                    <li id="nav-notice" class=""><a th:href="@{/board/list?board_cd=20001}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Notice</span></a></li>
                    <li id="nav-update" class=""><a th:href="@{/board/list?board_cd=20002}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Update</span></a></li>
                    <li id="nav-event" class=""><a th:href="@{/board/list?board_cd=20003}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Event</span></a></li>
                </ul>

                <!-- RANKING -->
                <li id="nav-rank" class=""><a th:href="@{/levelrank}"><i
                            class="fa-solid fa-ranking-star ico_fontawesome"></i><span>Ranking</span></a></li>
                <ul class="submenu none">
                    <li id="nav-levelrank" class=""><a th:href="@{/levelrank}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Level Ranking</span></a></li>
                    <li id="nav-pointrank" class=""><a th:href="@{/pointrank}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>Point Ranking</span></a></li>
                    <li id="nav-winraterank" class=""><a th:href="@{/winraterank}"><i
                                class="fa-solid fa-caret-right ico_fontawesome"></i><span>WinRate Ranking</span></a>
                    </li>
                </ul>
                <li id="nav-shop" class=""><a th:href="@{/shop}"><i class="ico_store"></i><span>Shop</span></a></li>
                <!-- Support -->
                <li class="uk-nav-header">Support</li>
                <li class=""><a href="#modal-report" data-uk-toggle onclick="clearModal()"><i class="ico_report"></i><span>Report</span></a>
                </li>
                <!-- <li><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>Help</span></a></li> -->
                
                <!-- <li class="uk-nav-header">Visiter</li> -->
                <li></li>
                <div style="padding-top: 22px;">
                    <table>
                        <tr>
                            <td th:text="${'TODAY '}"></td>
                            <td class="tdid" th:text="${todayCount}"></td>
                        </tr>
                        <tr>
                            <td th:text="${'TOTAL '}"></td>
                            <td class="tdid" th:text="${totalCount}"></td>
                        </tr>
                    </table>
                </div>
            </ul>
        </div>
    </aside>
</body>