<!DOCTYPE html>
<html lang="en">
<body>
    <aside th:fragment="sidebarFragment" class="sidebar is-show" id="sidebar">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .board-submenu,
            .rank-submenu {
                display: none;
            }
        </style>
        <div class="sidebar-box">
            <ul class="uk-nav">
                <li id="nav-home" class=""><a href="/"><i class="ico_home"></i><span>Home</span></a></li>

                <!-- Account -->
                <li class="uk-nav-header">Account</li>
                <li id="nav-profile" class=""><a href="profile"><i class="ico_profile"></i><span>Profile</span></a></li>
                <li class=""><a href="05_favourites.html"><i class="ico_favourites"></i><span>Favourites</span><span
                            class="count">15</span></a></li>
                <li class=""><a href="06_chats.html"><i class="ico_chats"></i><span>Chats</span></a></li>
                <li class=""><a href="07_friends.html"><i class="ico_friends"></i><span>Friends</span></a></li>
                <li id="nav-wallet" class=""><a href="/wallet"><i class="fa-solid fa-wallet ico_fontawesome"></i></i><span>Point Wallet</span></a></li>

                <!-- Main -->
                <li class="uk-nav-header">Main</li>
                <li id="nav-shop"><a href="/shop"><i class="ico_store"></i><span>Shop</span></a></li>
                <li class=""><a href="11_market.html"><i class="ico_market"></i><span>Market</span></a></li>
                <li id="nav-notice" class="dropdown"><a href="/list?board_cd=20001" class="dropdown-toggle"><i class="fa-solid fa-clipboard ico_fontawesome"></i><span>Notice</span></a>
                    <ul class="dropdown-menu board-submenu">
                        <li id="nav-notice" class=""><a href="/list?board_cd=20001"><span>Notice</span></a></li>
                        <li id="nav-update" class=""><a href="/list?board_cd=20002"><span>Update</span></a></li>
                        <li id="nav-event" class=""><a href="/list?board_cd=20003"><span>Event</span></a></li>
                    </ul>
                </li>
                <li id="nav-free" class="dropdown"><a href="/list?board_cd=20004" class="dropdown-toggle"><i class="ico_community"></i><span>Community</span></a>
                    <ul class="dropdown-menu board-submenu">
                        <li id="nav-free" class=""><a href="/list?board_cd=20004"><span>Free Board</span></a></li>
                        <li id="nav-information" class=""><a href="/list?board_cd=20005"><span>Sharing Information</span></a></li>
                        <li id="nav-strategy" class=""><a href="/list?board_cd=20006"><span>Share the Strategy</span></a></li>
                    </ul>
                </li>
                <li id="nav-battle" class=""><a href="/battle"><i class="fa-solid fa-hand-fist ico_fontawesome"></i><span>Battle</span></a></li>
                <li class=""><a href="13_community.html"><i class="fa-solid fa-dungeon ico_fontawesome"></i><span>Party</span></a></li>
                <li id="nav-rank" class="dropdown"><a href="" class="dropdown-toggle"><i class="fa-solid fa-ranking-star ico_fontawesome"></i><span>Ranking</span></a>
                    <ul class="dropdown-menu rank-submenu">
                        <li class=""><a href="../levelrank"><span>Level Ranking</span></a></li>
                        <li class=""><a href="../pointrank"><span>Point Ranking</span></a></li>
                        <li class=""><a href="../winraterank"><span>WinRate Ranking</span></a></li>
                    </ul>
                </li>
                <!-- Support -->
                <li class="uk-nav-header">Support</li>
                <li class=""><a href="#modal-report" data-uk-toggle><i class="ico_report"></i><span>Report</span></a>
                </li>
                <li><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>Help</span></a></li>
            </ul>
        </div>
    </aside>
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').on('click', function () {
                $(this).next('.dropdown-menu').slideToggle(300);
            });
        });
    </script>
</body>