.uk-text-lead{
    font-size:50px;
    font-weight: 1000;
}
.widjet__head{
    height:70px;
    align-items: flex-end;
    margin-bottom: 24px;
}
@media (max-width: 1910px) {
    .profile-section {
        order: 3; /* 두 번째로 순서 변경 */
    }

    .post-section {
        order: 1; /* 첫 번째로 순서 변경 */
    }

    .requests-section {
        order: 2; /* 세 번째로 순서 변경 */
    }
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content .content-main{
    display: flex;
    min-height: 500px;
    min-height: 1000px;
    background-color: rgba(244, 97, 25, 0.05);
}
.dark-theme .content .content-main{
    background-color: #0C1826;
}
.content .content-main .uk-grid{
    margin-left:0px;
}
/* 프로필 카드 */
.content-main .profile-card{
    width: calc(100% - 30px);
    min-width: 270px;
    max-width: 300px;
}
.content-main > div{
    padding-top : 30px;
    padding-bottom: 30px;
}
/* 포스트 섹션 */
.content-main .post-section{
    /* padding-left: 0px; */
    width: 800px;
}
.content-main .post-info{
    background-color: #ffffff;
    border-bottom: 2px solid;
}
.dark-theme .content-main .post-info{
    background-color: #222222;
}
.content-main .post-info .post-title{
    height: 80%;
    padding: 20px 40px 20px 40px;
    display: flex;
    align-items: center;

    font-size: 30px;
}
.content-main .post-info .post-sub{
    height: 18%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-main .line{
    height: 1px;
    background-color: var(--main-color-now);
    margin-left: 40px;
    margin-right:40px;
    width: calc(100% - 80px);
}
.content-main .post-info .post-sub > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-sub .writer{
    margin-left : 5px;
    min-width: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.31;
    font-family: 'Inter', sans-serif;
}
.post-sub .date{
    min-width: 100px;
}
.post-sub .like{
    margin-left : 20px;
    min-width: 100px;
}
.post-sub .hit{
    margin-left : 20px;
}
.content-main .battle-info{
    background-color: white;
    display: flex;
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;

    font-size: 20px;
}
.dark-theme .content-main .battle-info{
    background-color: #222222;
}
.content-main .battle-info > div{
    border-left: 4px solid;
    border-right: 4px solid;
    border-radius: 20px;
    padding: 20px;
}
.content-main .post-text{
    background-color: white;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:30px;
}
.dark-theme .content-main .post-text{
    background-color: #222222;
}
.content .content-header{
    background-color: white;
    height: 70px;
}


/* 신청자 섹션 */
.requests-section{
    width: 450px;
}
.--friend-requests{
    margin-right: 30px;
}
.friend-requests-item + .friend-requests-item {
    margin-top: 12px;
}
body.dark-theme .friend-requests-item__action button.reject {
    background: #ffeeea;
    color: #fe5631;
}
body.dark-theme .friend-requests-item__action button.reject:hover {
    color: #fff;
}
.--friend-requests .widjet__head{
    margin-bottom : 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
}
.dark-theme .--friend-requests .widjet__head{
    margin-bottom : 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 30px;
}
.content-main .requests-section .widjet__body{
    background-color: #fff;
    border-radius: 20px;
    padding : 15px;
}
.dark-theme .content-main .requests-section .widjet__body{
    background-color: #222222;
}
.content-main .requests-section .title{
    font-size :45px;
    margin-bottom: 0;
    
    display: flex;
    width: 100%;
    justify-content: center;
}

.friend-requests-item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}
.friend-request-item-header{
    width: 100%;
    display: flex;
    padding : 5px;
    justify-content: space-between;
}

.friend-requests-item__action{
    
    width: 28%;
    display: flex;
    justify-content: flex-end;
}
.friend-requests-item__action button{
    background-color: #f5f5f5;
}
.friend-request-item-main{
    width: 70%;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.31;
    font-family: 'Inter', sans-serif;
}
.friend-request-item-main div{
    height: 100%;
    display: flex;
    align-items: center;
}
.request-user{
    margin-left:10px;
}
.friend-requests-item__name{
    margin: 0;
    font-size:19px;
    font-weight: 700;
}
.request-user-level-section{
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.friend-request-item-main .level_icon{
}
.friend-request-item-main .level{
    font-size: 17px;
    margin-left:3px;
}
.friend-request-item-main .ico_fontawesome{
    margin-bottom: 1px;
}
.friend-requests-item__name {
    margin-left:2px;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #353535;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


/* 댓글 */
.dark-theme .comment-section-header,.dark-theme .comment-section-main,.dark-theme .comment-input-section{
    background-color: #222222;
}
.comment-section{
    border-top : 1px solid rgba(0,0,0,0.3);
}
.dark-theme .comment-section{
    border-top : 1px solid rgba(255,255,255,0.3);
}
.comment-section{
    padding-bottom: 30px;
    padding-top : 10px;
    /* width: 800px; */
}
.comment-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 20px;
    border-bottom: 3px solid;

    background-color: #fff;
    padding-left: 10px;
    font-size: 28px;
}
.comment-section-header > div:nth-child(1){
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 15px;
}
.comment-section-header > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    width: 180px;
    margin-right: 10px;
    font-size: 23px;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 15px;
}

.comment-section-main{
    background-color: #fff;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}
.dark-theme .comment-section-main{
    border-bottom: 1px dotted rgba(255,255,255,0.3);
}
.comment-section-main > div{
    margin-left:10px;
}
.comment-section-main .comment-header{
    display: flex;
    justify-content: space-between;
    margin-right:10px;
}

.like-section{
    display: flex;
    justify-content: center;
    height: 40px;
    padding-top: 15px;
    align-items: flex-end;
    font-size: 20px;
}
.like-section > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 10px;
}
.like-section > div > i{
    margin-left:5px;
}
.like-section > div:nth-child(1){
    color:#fe5631;
    margin-left:10px;
}
.like-section > div:nth-child(2){
    color:#768fff;
    margin-left:10px;
}
.post-section > .like-section{
    padding-bottom: 10px;
    background-color: #fff;
    height: 100px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    padding-right: 80px;
    padding-left: 80px;
    font-size:30px;
}
.post-section > .like-section > div{
    width: 50%;
    border:none;
    display: flex;
    margin-left:0px;
}
.post-section > .like-section > div:nth-child(1){
    justify-content: flex-end;
}
.post-section > .like-section > div:nth-child(2){
    justify-content: flex-start;
}
.post-section > .like-section > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 10px;
}
.post-section > .like-section > div > div > i{
    margin-left: 5px;
}
.dark-theme .post-section > .like-section{
    background-color: #222222;
}
.comment-section-main .comment-header .comment-user-info{
    height: 40px;
    padding-top: 15px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: flex-end;
}
.comment-section-main .comment-header .comment-user-info > span:nth-child(1){
    font-size:18px;
    font-weight: 1000;
}
.comment-section-main .comment-header .comment-user-info > span:nth-child(2){
    font-size:15px;
    margin-left : 10px;
}
.comment-section-main .comment-text{
    min-height: 50px;
    padding-right: 10px;
    margin-bottom: 15px;
}
.comment-section-main .comment-footer{

}
.comment-section-main .comment-footer .reply-section{
    
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;

}
.comment-section-main .comment-footer{
    
}
.comment-section-main .comment-footer{
    
}

.comment-input-section{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}
.dark-theme .comment-input-section{
    background-color: #363637;
}
.comment-input-section .header{
}
.comment-input-section .header > div{
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 1000;
}
.comment-input{
    margin: 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.comment_input_text{
    height: 100%;
    width: 100%;
    margin-right: 10px;
    background-color: #fff;
}
.dark-theme .comment_input_text{
    color:white;
    background-color: #222222;
}
.comment-section .button-section{
    height : 100%;
    width: 15%;
}
.btn_re{
    height: 100%;
    width: 100%;
}
.reply-form .comment-input{
    
    height: 80px;
    margin-left: -10px;
    margin-right: 0px;
    padding:10px;
    background-color: #f0f0f0;
}
.dark-theme .reply-form .comment-input{
    background-color: #363637;
}

.comment-section .line{
    height: 0.5px;
    width: 100%;
    margin-left:0px;
    background-color: rgba(0,0,0,0.1);
}
.dark-theme .comment-section .line{
    background-color: rgba(255,255,255,0.1);
}

.content-footer{
}
.content-footer .btn_re{
    margin-left : 10px;
    width:100px;
}



.delete-comment{
    margin-left: 5px;
}

.request_btn{
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
    height: 70px;
    border: 1px solid #408b31;
    border-radius: 10px;
    background-color: #4aa138;
    color:black;
    box-shadow: rgba(74, 161, 51, 0.4) 0px 4px 22px;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.battle-start_btn{
    cursor: pointer;
    margin-top: 30px;
    height: 70px;
    color:black;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.battle-start_btn > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.battle-start_btn .start{
    background-color: #4aa138;
    box-shadow: rgba(74, 161, 51, 0.4) 0px 4px 22px;
}
.battle-start_btn:hover .start{
    background-color: #60c94b;
    box-shadow: rgba(74, 161, 51, 0.4) 0px 4px 22px;
}
.battle-start_btn .end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #4aa138;
    box-shadow: rgba(74, 161, 51, 0.4) 0px 4px 22px;
}
.battle-start_btn:hover .end{
    background-color: #60c94b;
    box-shadow: rgba(74, 161, 51, 0.4) 0px 4px 22px;
}
.battle-start_btn:hover .end strong{
    color : rgb(255, 68, 68);
}
.battle-start-deadline{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    color: rgba(0,0,0,0.5);
}
.dark-theme .battle-start-deadline{
    color: rgba(255,255,255,0.5);
}
.post-section .betting-section{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.dark-theme .betting-section{
    background-color: #222222;
}
.battle-card{
    width: 90%;
}
.battle-profile-right{
    width: 40%;
}
.battle-card-info{
    width: 60%;
}
.info-sub{
    height: 30%;
    display: flex;
    justify-content: center;
}
.info-state{
    width: 60%;
}
.info-state > div{
    
    width: 90%;
    height: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-center{
    height: 40%;
}
.info-point-header-list{
    font-size: 14px;
}
.battle-card__box .point-betting{
    width: 100%;
}
.battle-profile-info{
    width: auto;
}
.battle-info > div{
    width: 500px;
}
.battle-info > div > div{
    display: flex;
    
}
.battle-info-key{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-left : 10%;
    margin-top: 7px;
    margin-bottom : 7px;
    padding-right: 30px;
}
.battle-info-value{
    width: 50%;
    margin-top: 7px;
    margin-bottom : 7px;

}

.reply{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.reply > .ico_fontawesome{
    margin-top :30px;
    margin-right:2.5%;
    width: 5%;
}
.reply > div{
    width: 100%;
}

.asc{
    display: flex;
    flex-direction: column;
}
.desc{
    display: flex;
    flex-direction: column-reverse;
}
.request-user{
    display: flex;
    flex-direction: column;

}

.friend-requests-item__action .A{
    background-color: rgb(255, 90, 84);
    border-radius: 10px;
    padding : 5px;
    color : black;
    box-shadow: rgba(255, 90, 84,0.5) 0px 0px 7px 3px;
}
.friend-requests-item__action .Y{
    background-color: rgb(153, 205, 50);
    border-radius: 10px;
    padding : 5px;
    color : black;
    box-shadow: rgba(153, 205, 50,0.5) 0px 0px 7px 3px;

}
.friend-requests-item__action .N{
    background-color: rgb(64, 43, 255);
    border-radius: 10px;
    padding : 5px;
    color : black;
    box-shadow: rgba(64, 43, 255,0.5) 0px 0px 7px 3px;
    
}
.none {
    display: none !important;
}

.left-time{
    width: 114px !important;
    height: 38px !important;
    margin-left: 209px !important;
    margin-top: -45px !important;
}


