.battle-textarea{
    background-color: #ffffff;
}
.dark-theme .battle-textarea{
    background-color: #222222;
    color : #fff;
}
.content-main .post-section{
    width: 760px;
}
.post-text .battle-textarea{
    width: 100%;
    min-height: 400px;
}
.post-title .battle-textarea{
    width: 100%;
}

.battle-info .battle-textarea{
    height: 30px;
    width: 100%;
}
.battle-info .date-picker > div{
    display: flex;
}
.battle-info .date-picker > div:nth-child(2){
    margin-top: 10px;
}
.battle-info .date-picker > div:nth-child(2) > select:first-child{
    margin-left : 35%;
}
.battle-info .date-picker > div > select{
    width: 30%;
    margin-left : 5%;
}
.battle-info .date-picker > div > select:first-child{
    margin-left : 0px;
}
.battle-info .date-picker select{
    background-color: #fff;
}
.dark-theme .battle-info .date-picker select{
    background-color: #222;
    color : #fff;
}

@media (max-width: 1910px) {
    .profile-section {
        display: none;
    }

    .post-section {
        order: 1; /* 첫 번째로 순서 변경 */
        /* width: 100% !important;
        padding-right: 40px !important; */
    }
    .requests-section{
        /* display: none; */
    }
}

.write-rule-section{
    background: #ffffff;
    padding-left: 0px;
    width: 390px;
    margin-left: 40px;
    padding:10px;
    margin-bottom: 25px;
    line-height: 30px;

}
.write-rule-section .rule-header{
    display: flex;
    margin-left:10px;
    margin-top:10px;
    font-size : 30px;
}
.write-rule-section .sentence{
    display: flex;
    margin-top : 10px;
    margin-left: 10px;
}

.dark-theme .write-rule-section{
    background-color: #222222;
}
.button-section{
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    margin-top:5px;
}
.content-footer .button-section{
    margin: 0px;
    display: flex;
    justify-content: space-between !important;
}
.content-footer .button-section >div{
    display: flex;
}
.post-section .button-section{
    margin : 0px;
}
.dark-theme .content-footer .button-section{
    background-color: #0C1826;
    border-top : 1px solid rgba(255,255,255,0.3);
}
.content-footer .button-section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 200px;
    background-color: rgba(244, 97, 25, 0.05);
    border-top : 1px solid rgba(0,0,0,0.3);
    padding : 10px 10px;
}
.battle-card-section .button-section{
    background-color: #f5f5f5;
}
.dark-theme .battle-card-section .button-section{
    background-color: #040615;
}
.battle-card-section .content-footer{
    padding-top: 12px;
}
.battle-card-section .button-section .btn_re{
    height: 100% !important;
    width: 100px;

}
.content-footer{
    margin-bottom: 50px;
}
.for-select{
    margin-top: 0px !important;
}
.nice-select{
    height:30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.dark-theme.nice-select{
    border: 1px solid white;
}
#selectedGameInput{
    width: 100%;
}
.selectedGameInput{
    height: 30px;
    margin-top:5px;
}
.first-key{
    margin-top: 0;
    margin-bottom: 7px;
}