@charset "utf-8";

.list{
    height: 90vh;
}

/* 게시판 스타일 */

/* input */
button { margin:0; *margin:0 2px; padding:0; cursor:pointer; border:0; vertical-align:middle; background-repeat:no-repeat; background-position:top left; }
textarea { height:120px; border:1px solid #cecece;}
select{ height:26px; padding:2px; border:1px solid #cecece; /*font-size:12px; color:#444;*/ vertical-align:middle;}
table { border-collapse:collapse; border-spacing:0;}
hr {display:none;}


/* 리스트 */
.contents_sub { width:100%; margin:0; }
.contents_sub table { width:100%; border-collapse:collapse; }
.contents_sub table img { padding-top:2px; }

.board_top { width:100%; overflow:hidden; margin:10px 0; }
.board_top .f_search { float:right; width:550px; text-align:right; }
.board_top .bold { float:left; width:200px; margin:10px 0; }

.board_title { font:bold 14px dotum; color:#000000; }

.board { width:100%; }
.board th { height:41px; border-bottom:1px solid #dadada; background-color:#f9f9fb; color:#464646; font-weight:600; word-wrap: break-word; border-top:1px solid #464646; word-break: break-all; }
.board td { height:30px; border-bottom:1px solid #dadada; color:#797979; text-align:center; padding:5px; word-wrap: break-word; word-break: break-all; }
.board td.left { text-align:left; }
.board td.category{ font-weight:bold; }   

/* board view */

.board_write { border-top:1px solid #464646; }
.board_write th, .board_write td {height:25px; text-align:left; padding:8px; border-bottom:1px solid #dadada;}
.board_write th { color:#464646; font-weight:600; background-color:#f9f9fb; }
.board_write td { color:#797979; }

.board_editor_area { width:100%; height:200px; }

.board_view { border-top:1px solid #464646; }
.board_view table { border-collapse:collapse; }
.board_view th, .board_view td { height:25px; text-align:left; padding:8px;}
.board_view th { border-bottom:1px solid #dadada; color:#464646; font-weight:600; background-color:#f2f2f2; }
.board_view td { border-bottom:1px solid #dadada; color:#797979; }
.board_view td.tip { color:#7ab5df; }

.board_view_area, .board_view_input, .board_view_input_mail, .board_view_input_number { border:1px solid #d1d1d1; }
.board_view_area { height:100px; width:500px;}
.board_view_input { height:20px; width:500px;}
.board_view_input_mail { height:20px; width:100px; }
.board_view_input_number { height:20px; width:30px; }

.coment_input_text { border:1px solid #bbb; width:100%; height:60px; }

.page {text-align:right; font:11px verdana; padding:5px}
.view_box {border:1px solid #d2d2d2; padding:10px;}
.veiw_box_td {border-bottom:1px dotted #d2d2d2; padding:5px;}
.veiw_box_td2 { padding:5px;}
.coment_re {font:11px dotum; padding:5px; background-color:#fafafa;border-bottom:1px dotted #d2d2d2;word-wrap: break-word; word-break: break-all;}
.coment_re_txt {background-color:#fafafa;line-height:15px; padding:5px 0 0 0}
.coment_re_txt img {padding-top:2px;}

    
/* Paging */
.paginate_regular { padding:10px 0; text-align:center; line-height:normal; }  
.paginate_regular a { display:inline-block; position:relative; margin:0 -2px; padding:2px 8px; font-weight:600; line-height:normal; text-decoration:none; vertical-align:middle; }  
.paginate_regular a:hover,  
.paginate_regular a:active,  
.paginate_regular a:focus { background-color:#f8f8f8; } 

.paginate_regular strong { color:#ff6600;}  
.paginate_regular .direction { font-weight:normal; color:#767676; white-space:nowrap; }  
.paginate_regular .direction span { font-weight:bold; font-size:14px; }  

.paginate_regular .direction:hover, .paginate_regular .direction:active, .paginate_regular .direction:focus { background-color:#ffffff; color:#333333; }

.upload_db_wrap td {border-bottom:0}
.upload_db_wrap div {padding:3px 0 0 0}

/* Button */
/* .btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;} */
/* .btn_list  { display:inline-block; background:#fcfcfc; border:1px solid #bcbcbc;padding:6px 17px 7px 17px;} */
/* .btn_comment  { display:inline-block; background:#fcfcfc; border:1px solid #bcbcbc;padding:0px 17px 0px 17px; height:22px;} */
/* .btn_re {display:inline-block; width:100px; height:62px; text-align:center; background:url('../images/btn_comment_bg.gif') no-repeat;} */
.btn_txt01 {color:#000000; font-weight:600;}
.btn_txt02 {color:#1f1f1f; font-weight:600;}

.btn_list{
    width: 100%;
	-webkit-box-shadow: 2px 2px 7px 0px #00000024;
	/* background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%); */
	background-color: #222;
    /* box-sizing: border-box; */
	/* border: 1px solid white; */
    /* border-radius: 50%; */
	display:inline-block;
	cursor:pointer;
	/* color:#ffffff; */
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.btn_write:hover {
	/* background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%); */
	background-color:#565c67;
    color: var( --main-color-dark);
}
.btn_write:active {
	position:relative;
	top:1px;
}



/* Align*/
.btn_area {overflow:hidden; margin:10px 0;}
.align_left {float:left; }
.align_right {float:right;}
.align_right button {}
.align_left button {}
.tR {text-align:right;}
.pR10 {padding-right:10px;}

.next_data_area{margin-top: 20px; padding-top: 5px; padding-left: 8px; text-align: left;border-top: 1px solid #dadada;}
.prev_data_area{margin-top: 10px;margin-bottom: 10px; padding-top: 5px;padding-bottom: 5px; padding-left: 8px; text-align: left;border-bottom: 1px solid #dadada;}
.next_data_area .b{font-weight: bold;}
.prev_data_area .b{font-weight: bold;}

/* Color */
.txt_blue { font-weight:bold; color:#7ab5df;}
.txt_orange { font:bold 12px verdana; color:#ff7e00;}
.bg01 {background-color:#fafafa;}
.bg02 {width: 100px;}

.con_title {overflow:hidden; position:relative; height: 30px; margin-bottom: 10px;}
.con_title h3 {margin:0px 0 0px 0;  text-align:left; }
.con_title p {margin-top: 10px; padding-bottom: 5px; border-bottom: 1px solid #DADADA;}    
.contents1 .con_txt{ clear:both;}    
.contents1 {margin-top: 30px;}