@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}
#wrap_full{
    width: 100%;
    height: 100vh;
    background: #403a3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #403a3e, #be5869); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #403a3e, #be5869); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#frmLogin {
    border: 3px solid black;
    padding: 0px;
    width: 440px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    /* margin-top: 25%; */
    transform: translate(-50%, -50%);
}

#frmLogin form {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#frmLogin #login-header {
    height: 50px;
}

#frmLogin #login-header>div:first-child {
    height: 48px;
    display: flex;
    justify-content: space-between;
}

#frmLogin #login-header .title {
    font-size: 30px;
    padding: 5px;
}

#frmLogin #login-header .white {
    height: 2px;
    background-color: black;
}

#frmLogin #btn-close {
    appearance: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

#frmLogin #nav {
    background-color: rgba(245, 10, 100);
    z-index: 100;
    position: relative;
    height: 35px;
}

#frmLogin #nav #navigation {
    display: flex;
    /* width: 100%; */
    list-style: none;
    padding: 0;
    margin: 0;
}

#frmLogin #nav #navigation li {
    flex: 1;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7.5px;
    font-size: 15px;
    border: 1px solid transparent;
    border-bottom: 0 none;
    border-top: 0 none;
    font-weight: 700;
    cursor: pointer;
}

#frmLogin #login-contents {
    padding: 5px;
    /* height: 155px; */
}

#frmLogin #login-contents div:first-child label {
    font-size: 25px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;

}

#frmLogin #login-contents div:first-child input {
    /* width: 200px; */
    height: 30px;
}

#frmLogin #login-footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#frmLogin #login-footer #btn-login,
#btn-signup {
    width: calc(100% - 10px);
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

#frmLogin .label{
    width: 150px;
}

