.uk-width-2-3\@l{width:100%}
.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: stretch;

    /* align-items: flex-start; */
}
.swiper {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(244, 97, 25, 0.05);
    border-radius: 15px;
    /* border: 1px solid black; */
}
.dark-theme .swiper{
    background-color: #0C1826;
}
.profile-background {
    padding:10px;
    background-color: #e0e0e0;
}
.dark-theme .profile-background{
    background-color: #181818;;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet {
    background-color: #00f0f0 !important;
}
.swiper-pagination-bullet-active{
    background-color: #0ff !important;
}
.user{
    width: 100%;
    justify-content:space-around;
}

.profile-card{
    width: 270px;
    /* display: inline-block; */
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    flex-wrap: wrap;
    justify-content: center;

    background-color: #222;
    color: white;
    /* background-image: url("../img/acheivement-3.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.profile-card .profile-user_info .ico_fontawesome{   
    font-size: 30px;
}
.profile-header{
    width: 100%;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.profile-image{
    /* margin-top: 20px 
px
; */
    /* width: 18vh; */
    /* height: 18vh; */
    /* margin: 0 auto; */
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #0ff;

}

.profile-user_info {
    width: 90%;
    height:50px;
    margin: 0 auto;
    font-size: 16px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.profile-user_info div span{
    color:white;
}
.profile-user_info div {
    height: 100%;
    width:100px;
    display: flex;
    align-items: center;
}
.profile-user_info .profile-user-level-icon{
    width: 20%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.profile-user_info .profile-user-level{
    width: 30%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.profile-user_info .profile-user_nick{
    /* font-size:16px; */
    width: 60%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.profile-user_level {
    margin: 0 0 0px;
}
.profile-user_nick {
    margin-left: 10px; /*Adjust the margin as needed*/
}

.profile-user_info > .badge {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 10px; /* Adjust the margin as needed */
}

.profile-main{
    font-size: 30px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}
.profile-introduction{
    display: flex;
    width: 80%;
    height : 80px;
    font-size:15px;
}
.profile-dividing-line{
    margin-top:2px;
    margin-bottom: 2px;
    width: 216px;
    height:1px;
    background-color: #0ff;
}
.profile-badge-section{
    width: 80%;
    height: 150px;
    font-size:12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px;
    padding-top: 5px;
}
.profile-badge-section .badge-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 33%;
}

.profile-badge-section .badge{
    height: 50px;
    width: 50px;
    /* size: 40px; */
    font-size: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-badge-section img {
    width:35px;
    height: 35px;
    margin: 5px;
}

.body .dark-theme .profile-background{
    background: #0C1826;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
}

.body .swiper{
    background-color: #F0f0f0;
}

.none {
    display: none;
}


.none {
    display: none;
}






/* 버튼 디자인 */
/* Button */
/* .btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;} */
/* .btn_list  { display:inline-block; background:#fcfcfc; border:1px solid #bcbcbc;padding:6px 17px 7px 17px;} */
/* .btn_comment  { display:inline-block; background:#fcfcfc; border:1px solid #bcbcbc;padding:0px 17px 0px 17px; height:22px;} */
/* .btn_re {display:inline-block; width:100px; height:62px; text-align:center; background:url('../images/btn_comment_bg.gif') no-repeat;} */
/* .btn_txt01 {color:#000000; font-weight:600;}
.btn_txt02 {color:#1f1f1f; font-weight:600;} */

.btn_write { width: 20%; -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_list { width: 20%; -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_comment { width: 20%; -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:20px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_re {  -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #fff; border: none; border-radius:15px;	display:inline-block; cursor:pointer; color:#000; font-family:Arial; font-size:20px; font-weight:bold; padding:6px 12px; text-decoration:none; border:1px solid;}
.dark-theme .btn_re{ background-color: #222; color:#fff};

.btn_write:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_list:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_comment:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_re:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }


.btn_write:active { position:relative; top:1px; }
.btn_list:active { position:relative; top:1px; }
.btn_comment:active { position:relative; top:1px; }
.btn_re:active { position:relative; top:1px; }

.coment_input_text{
    resize: none;
	border: none;
    color: white;
    /* height: 50px; */
    background-color: #181818;
}
.search__input .ico_fontawesome{
    font-size:20px;
}
