@charset "utf-8";

.height50px {
    height: 50px;
}

.height100per {
    height: 100%;
}

.height95per {
    height: 95%;
}

.margintop1per {
    margin-top: 1%;

}
.dark-theme .widjet__body{
    background-color: #181818 !important;
}
.widjet__body {
    padding: 10px 15px;
}
.widjet__head{
    height:70px;
    align-items: flex-end;
    margin-bottom: 24px;
}
.widjet__head>div {
    height: 30px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.widjet__head>div select {
    width: 50px;
    margin-right: px;
}

.widjet__head>div>div {

    display: flex;
    align-items: center;
}

.widjet__head .current {

    display: flex;
    justify-content: center;
    align-items: center;
}

.widjet__head .search__refresh {
    margin-left: 12px;
    margin-right: 15px;
}

.battle-profile-nickname {
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.31;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
}
.battle-profile-right .battle-profile-nickname{
    text-align: left;
}
.battle-profile-right .battle-profile-nickname .battle-profile-lvl{
    
    margin-right:5px;
    margin-left:0px;
}
.js-popular .battle-profile-nickname {
    font-size: 16px;
}
.js-popular .battle-profile-nickname2 {
    font-size: 16px;
}
.battle-card {
    display: block;
    position: relative;
}

.battle-card + .battle-card {
    margin-top: 12px;
}

.battle-card__box {
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(244, 97, 25, 0.05);
    border: 1px solid grey;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    height: 115px;
    font-weight: 800;
}

.battle-profile-media {
    display: block;
    position: relative;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}


.hot-battle .battle-profile-media {
    min-height: 0px !important;
    max-height: 200px !important;
}

.battle-profile-media img {
    -o-object-fit: cover;
    -o-object-position: top center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    min-height: 100%;
    object-fit: cover;
    object-position: top center;
    transform: translate(-50%, -50%);
}
.uk-text-lead{
    font-size:50px;
    font-weight: 1000;
}
/* 배틀 카드 양옆 */
.dark-theme .battle-profile-left, .dark-theme .battle-profile-right{
    background-color: #222222;  
}
.battle-profile-left, .battle-profile-right{
    background-color: #222222;
    display: flex;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    margin: 5% 2% 5% 2%;
    height: 70%;
    color:white;
    font: 10px;
    box-shadow: rgb(38, 57, 77) 0px 5px 30px -10px;
}
.battle-card__box .profile-dividing-line{
    width: 100%;
}
.battle-card__box .profile-badge-section{
    width: 100%;
}
.battle-profile-left {
    justify-content: flex-start;
    padding-right: 1%;
}

.battle-profile-right {
    justify-content: flex-start;
    padding-left: 1%;
}

.battle-profile-info {
    width: 100%;
    /* height: 100px; */
    /* margin-right: -10px; */
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    font-size: 12px;
    /* align-items: center; */
}

.battle-profile-lvl {
    margin-left: 5px;
}

.battle-profile-media {
    width: 100px;
    height: 50px;
}

.battle-profile-media img {
    border-radius: 10px;

    /* height: 100px; */

}

/* 배틀 카드 중간 */
.battle-card-info {
    width: 34%;
    height: 100%;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* margin-top: -10px; */
}

.battle-card-info .info-title {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.battle-card-info .info-title a {
    color: black;
    font-size: 14px;
}

.battle-profile-history {

    display: flex;
    width: 100%;
    justify-content: space-around;
}

.battle-profile-history div:nth-child(1) {
    display: flex;
}


body.dark-theme .battle-card-info .info-title a {
    color: white;
}

.battle-card-info .info-center {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.battle-card-info .info-center .vs {
    width: 13%;
    display: flex;
    justify-content: center;
}

.info-center-left {
    width: 41%;
}

.info-center-right {
    width: 41%;
}

.info-center-header {
    display: flex;
    align-items: center;
}

.info-center-header .info-point-header-list {
    width: 70%;
}

.info-center-left .info-point-header-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-center-right .info-point-header-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-point-header-list>div {
    display: flex;
    flex-direction: row;
}

.info-point-header-list .icon_box {

    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-point-ratio{
    margin-left: -20px;
}

.client-point-ratio{
    margin-left: 20px;
}

.info-center-header .info-point-percent {
    width: 30%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.info-point-bar-box {
    margin-top: 5px;
    background-color: #827F8f;
}

.info-center-left .info-point-bar-box {
    margin-left: 5px;
    margin-right: 5px;
}

.host-point-reward-ratio{
    font-size: 10px;
}

.info-center-right .info-point-bar-box {
    margin-left: 5px;
    margin-right: 5px;
}

.info-point-bar {
    background-color: red;
    height: 5px;
    /* width: 30%; */
    border-radius: 10px;
    transition-property: width;
    transition-duration: 0.3s;
}

.info-center-left .info-point-bar-box {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}
.info-sub{
    padding-bottom: 2px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-game, .info-state{
    width: 20%;
    height: 100%;
}
.info-game{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;    
}
.info-state{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
}
.info-state > div{
    padding: 0 5px 0 5px;
    border-radius: 20px;
}
.info-state > .A{
    background-color: #ffbf00;
    animation: glowAnimation 1s infinite alternate;
    box-shadow: rgba(255,191,0,0.5) 0px 0px 17px 3px;
}
@keyframes glowAnimation {
    0% {
        box-shadow: rgba(255,191,0,0.5) 0px 0px 17px 3px;
    }
    100% {
        box-shadow: rgba(255,191,0,0.9) 0px 0px 17px 3px;
    }
    /* 100% {
        box-shadow: rgba(255,191,0,0.5) 0px 0px 17px 3px;
    } */
}
.info-state > .P{
    background-color: rgb(20, 0, 199);
    box-shadow: rgba(12,0,199,0.5) 0px 0px 17px 3px;
}
.info-state > .T{
    background-color: #00ff40;
    box-shadow: rgba(0,255,64,0.5) 0px 0px 17px 3px;
}
.info-state > .N{
    background-color: rgb(255, 90, 84);
    box-shadow: rgba(255,90,84,0.5) 0px 0px 17px 3px;
}
.info-battle-point-section {
    background-color: rgb(130, 127, 143);
    border-radius: 25px;
    /* height: 100%; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    transition: none;
    /* margin-top: -10px;*/
}

.info-battle-point-section i {
    margin-left: 5%;
    margin-right: 5%;
    color: #ffbf00;
    font-weight: 800;
    font-size: 11px;
}
.info-battle-point {
    color: rgb(255, 255, 255);
    font-weight: 800;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.betting-section {
    width: 100%;
    height: 19%;
}

.point-betting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.point-betting-input {
    height: 85%;
    width: 35%;
}

.point-betting-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 1000;
    height: 90%;
    width: 20%;
    background-color: rgb(130, 127, 143);
    border-radius: 10px;
}

.point-betting-button:hover {
    cursor: pointer;
}

.info-header {
    height: 10%;
    display: flex;
}

.dark-theme .asdf{
    background-color:#181818 !important;
}

.widjet_size{
    padding-left: 0px !important;
    padding-right: 0px !important;
}