.uk-width-2-3\@l{width:100%}
.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: stretch;

    /* align-items: flex-start; */
}
.swiper {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #0C1826;
    border-radius: 15px;
    /* border: 1px solid black; */
}
.profile-background {
    padding:10px;
    background-color: #181818;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet {
    background-color: #00f0f0 !important;
}
.swiper-pagination-bullet-active{
    background-color: #0ff !important;
}
.user{
    width: 100%;
    justify-content:space-around;
}

.profile-card{
    width: 270px;
    /* display: inline-block; */
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    flex-wrap: wrap;
    justify-content: center;

    background-color: #222;
    color: white;
    /* background-image: url("../img/acheivement-3.png"); */
}
.profile-header{
    width: 100%;
    padding-top:20px;
    /* background-image: url("../img/acheivement-2.png"); */
}

.profile-image{
    margin-top: 20px;
    width: 18vh;
    height: 18vh;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #0ff;
}

.profile-user_info {
    height:50px;
    margin: 0 auto;
    font-size: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.profile-user_info p{
    color:white;
}
.profile-user_level {
    margin: 0 0 0px;
}
.profile-user_nick {
    margin-left: 10px; /*Adjust the margin as needed*/
}

.profile-user_info > .badge {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 10px; /* Adjust the margin as needed */
}

.profile-main{
    font-size: 30px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}
.profile-introduction{
    display: flex;
    width: 80%;
    height : 80px;
    font-size:15px;
}
.profile-dividing-line{
    margin-top:2px;
    margin-bottom: 2px;
    width: 216px;
    height:1px;
    background-color: #0ff;
}
.profile-badge-section{
    width: 80%;
    height: 150px;
    font-size:12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px;
    padding-top: 5px;
}
.profile-badge-section .badge-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 33%;
}

.profile-badge-section .badge{
    height: 99%;
    width: 33%;
    /* size: 40px; */
    font-size: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body .dark-theme .profile-background{
    background: #0C1826;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.03);
}

.body .swiper{
    background-color: #F0f0f0;
}





/* 배틀 카드 양옆 */
.battle-profile-left{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
}
.battle-profile-right{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-start;
}
.battle-profile-info {
    width: 50%;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
}
.battle-profile-lvl {
    margin-left : 5px;
    margin-right : 5px;
}
.battle-profile-media {
    height : 200px;
    width : 200px;
}
.battle-profile-media img{
    border-radius: 10px;

    height: 100%;
    
}
/* 배틀 카드 중간 */
.battle-card-info{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.battle-card-info .info-title{
    width: 100%;
    height : 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.battle-card-info .info-title a{
    color : black;
    font-size:20px;
}
.battle-profile-history {
    
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.battle-profile-history div:nth-child(1){
    display: flex;
}


body.dark-theme .battle-card-info .info-title a{
    color : white;
}
.battle-card-info .info-center{
    width: 100%;
    height : 20%;
    margin-top:6%;
    margin-bottom:5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.battle-card-info .info-center .vs{
    width: 16%;
    display: flex;
    justify-content: center;
}

.info-center-left{
    width: 41%;
}
.info-center-right{
    width: 41%;
}
.info-center-header{
    display: flex;
    align-items: center;
}
.info-center-header .info-point-header-list{
    width: 50%;
}
.info-center-left .info-point-header-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info-center-right .info-point-header-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.info-point-header-list > div{
    display: flex;
    flex-direction: row;
}
.info-point-header-list .icon_box {
    
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-center-header .info-point-percent{
    width: 50%;
    font-size:30px;
    display: flex;
    justify-content: center;
}
.info-point-bar-box {
    margin-top : 5px;
}
.info-center-left .info-point-bar-box {
    margin-left : 5px;
    margin-right: 5px;
}
.info-center-right .info-point-bar-box {
    margin-left : 5px;
    margin-right: 5px;
}
.info-point-bar {
    background-color: red;
    height: 5px;
    /* width: 30%; */
    border-radius: 10px;
    transition-property: width;
    transition-duration: 0.3s;
}
.info-center-left .info-point-bar-box {
    margin-top : 5px;
    display: flex;
    justify-content: flex-end;
}
.info-battle-point-section{
    background-color: rgb(130, 127, 143);
    border-radius: 25px;
    height:10%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-battle-point-section i{
    margin-left : 5%;
    margin-right : 5%;
    color:#ffbf00;
    font-weight: 800;
    font-size:20px;
}
.info-battle-point{
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-size:20px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.betting-section{
    width:100%;
    height:19%;
}
.point-betting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.point-betting-input{
    height:85%;
    width:35%;
}
.point-betting-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:20px;
    font-weight: 1000;
    height:90%;
    width: 20%;
    background-color: rgb(130, 127, 143);
    border-radius: 10px;
}
.point-betting-button:hover{
    cursor: pointer;
}


/* 버튼 디자인 */
/* Button */

.btn_write { -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_list { -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_comment { width: 20%; -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }
.btn_re {  -webkit-box-shadow: 2px 2px 7px 0px #00000024; background-color: #222; border: none; border-radius:28px;	display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:13px; font-weight:bold; padding:6px 12px; text-decoration:none; }


.btn_write:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_list:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_comment:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }
.btn_re:hover { background:linear-gradient(to bottom, #415989 5%, #2e466e 100%); background-color:#415989; color: var( --main-color-dark); }


.btn_write:active { position:relative; top:1px; }
.btn_list:active { position:relative; top:1px; }
.btn_comment:active { position:relative; top:1px; }
.btn_re:active { position:relative; top:1px; }

.coment_input_text{
    resize: none;
	border: none;
    color: white;
    /* height: 50px; */
    background-color: #181818;
}
