/* Edit My Card 부분 */

.profile-container {
    display: flex;
    flex-direction: row;
}
#header_select_body, #card_select_body, #rep_select_body{
    display:flex;
    flex-direction: row;
}

#equip_information {
    display: flex;
    flex-direction: column;
    height:440px;
    margin:0px 10px 0px 15px;
    width:350px;
    text-align: center;
    line-height: 1.5;
}

#header_select, #card_select, #badgerep_select {
    width:80%;
}

#header, #card, #badgerep, #badge {
    width:20%;
    padding:20px;
    margin-left: 20px;
}

#badge {
    margin-top:20px;
    margin-right:3px;
}

#equip_line {
    border: 1px dashed white;
}

.badges-list li {
    margin: 5px;
    padding: 10px;
}

.profile-badge-section{
    width: 80%;
    height: 150px;
    font-size:12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px;
    padding-top: 5px;
}

.profile-badge-section .badge-line1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 33%;
}

.profile-badge-section img {
    width:35px !important;
    height: 35px !important;
    margin: 5px !important;
}

/* Edit Profile 부분 */
#user_information {
    text-align: center;
}

.user-info {
    display: flex;
    justify-content: center;
}
.user-info__avatar {
    flex:none !important;
    width: 200px;
    height: 200px;
}

.user-info__avatar>img{
    width:100%;
    height: 100%;
}

.user-info__detail {
    padding:10px;
    margin: 0 0 15px 30px;
    font-size: 16px;
}

#introduce:focus {
    color:white;
}