/* .profile-card {
    width:270px;
    margin:15px;
}

.profile-header{
    width: 100%;
    padding-top:20px;
    background-size: 230px 230px;
    background-repeat: no-repeat;
    background-position: 20px 0;

    background-position: center;
    background-size:cover;
}

.profile-image{
    margin-top: 20px;
    width: 18vh !important;
    height: 18vh;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #0ff;
    display: flex;
    flex-direction: row;
}
.profile-image img{
    width:100%;
    height:100%;
    z-index: 99999;
    text-align: center;
}
 */

 .profiles {
    display: inline-block;
    margin: 15px;
 }

 .profile-header{
    width: 100%;
    padding-top:20px;
    background-size: 230px 230px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-image {
    margin-bottom: 45px;
    border: none;
}

#profile {
    cursor: default;
    width:90%;
    height: 90%;
}

.rank_table {
    border: 3px solid white;
    width:97%;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    border-spacing: 0;
    table-layout: fixed;
}

.rank_table th{
    background-color: #222222;
    border-bottom : 1px solid white;
    border-right : 1px solid white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0 10px 0;
}

.rank_table td {
    padding : 10px 0 10px 0;
    background-color: #030410;
    border:1px solid grey;
    font-size: 18px;
    font-weight: 600;
}

p {
    color: white;
}