@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    /* justify-content: center; */
    align-items: stretch;
}

body{
    font: '돋음', dotum, sans-serif;
    font-size: 14px;
    background-color: #fff;
    /* color:#fff; */
    overflow-x: hidden;
}

#web{
    width: 100%;
    height: 100vh;
}

.content{
    width: 100%;
    /* flex: 1 0 0; */
    /* outline: 1px solid red; */
    /* background-color: rgba(0, 0, 0, .5); */
}

.shop{
    max-width: 1920px;
    margin: 0 auto;
    justify-content: flex-start;
    /* flex: 0 0 1; */
    /* outline: 1px solid olivedrab; */

}

/* 컨텐츠 왼쪽 */
.left_shop{ 
    width: 300px;
    /* outline: 1px solid blue; */
}
/* 리스트 */
.left_shop_list{
    width: 250px;
    margin: 0 auto;
    border: 1px solid blak;
    /* outline: 1px solid yellow; */
}
.left_shop_list > li{
    text-align: center;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
.left_shop_list > li > a{
    font-size: 30px;
    width: 250px;
    height: 60px;
    line-height: 60px;
    display: block;
    /* background-color: skyblue; */
    outline: 1px solid black;
}
.left_shop_list > li:first-child{
    margin-top: 3vh;
}
.left_shop_list > li > .sub_border_list{
    /* visibility: hidden; */
    /* overflow: hidden; */
    width: 250px;
    /* height: 0; */
    /* height: 120px; */
    display: flex;
    flex-direction: column; /* 자식 요소들을 수직으로 정렬 */
    transition: all 0.2s;
}

.left_shop_list > li > ul > li{
    margin-left: auto;
    /* outline: 1px solid red; */
    /* font-size: 15px; */
    width: 150px;

    /* line-height: 60px; */
    /* display: block; */
}
.left_shop_list > li > ul > li > a{
    /* outline: 1px solid red; */
    font-size: 20px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    display: block;
}

/* 액션 */
.list_action{
    background-color: #f0f0f0;
    font-size: 35px;
}
.sub_list_action{
    visibility: visible;
    height: 120px;
}
.hide{
    visibility: hidden;
    height: 0;
}

/* 컨텐츠 오른쪽 여백 */
.right_shop{
    width: 300px;
    /* outline: 1px solid red; */
}

/* 아이템 샵 메인 */
#center_all_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}
#center_icon_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}
#center_profile_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}
#center_badge_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}
#center_time_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}
#center_winning_shop{
    max-width: 1320px;
    display: none;
    /* margin: 0 auto; */
    outline: 1px solid red;
}

#center_action{
    display: block;
}
#center_hide{
    display: none;
}

.category_name{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 20px;
}

.itemlist{  
    width: 1320px;
    /* margin-left: 5%; */
    /* width: 100%; */
    justify-content:space-around;
    /* outline: 1px solid red; */
    /* margin: 0 auto; */
}

.sub_item {
    width: 230px;
    /* height: 32vh; */
    border: 1px solid black;
    border-radius: 10%;
    /* outline: 1px solid red; */
    /* flex: 0 0 calc(20% - 20px); */
}

.item{
    /* width: 178px; */
    height: 17vh;
    margin: 0 auto;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    border-bottom: 1px solid black;
    position: relative;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* outline: 1px solid red; */
}
.item > a{
    /* border-radius: 50%; */
    /* margin-top: 5%; */
    outline: 1px solid red;
}
.icon_item{
    position: absolute;
    width: 15vh;
    height: 15vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    /* margin-top: 5%; */
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    /* outline: 1px solid red; */

}

.item > .icon_item > a > img {
    width: 100%;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               

.explanation_item{
    width: 100%;
    /* height: 13vh; */
    /* line-height: 13vh; */    
    text-align: center;
    /* outline: 1px solid red; */
}

.name_item{
    margin-left: 4%;
    /* margin-top: 5%; */
    margin-bottom: 4%;
    font-size: 20px;
    text-align: left;
}
.price_item{
    margin-top: 2%;
    margin-bottom: 2%;
}

.button_item{
    max-width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
}

#explanation{
    width: 100%;
    border: none;
    resize: none;
}
.select{
    width: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    /* outline: 1px solid red; */
}
.paginate_regular{
    /* max-width: calc(100% - 600px); */
    min-width: calc(100% - 600px);
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    /* outline: 1px solid red; */
}