@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

body{
    font: '돋음', dotum, sans-serif;
    font-size: 14px;
    background-color: #fff;
    /* color:#fff; */
    overflow-x: hidden;
}

#web{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    position: relative;
    top: 0;
    margin-bottom: 1%;
}
header::after{
    content:"";
    display: block;
    clear: both;
}

header > h1{
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.logo > a > img{
    width: 300px;
    height: 70px;
}

#login{
    /* background-color: #dadada; */
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    opacity: 1;
}
#login > p{
    width: 15vh;
    height: 5vh;
    display : flex;
    justify-content : center;
    align-items : center;
    /* color: rgb(0, 73, 140); */
    float: left;
    font-size: 20px;
    margin-right: 15px;
}
/* .log{
    display: none;
} */

.logto{
    /* width: 10vh; */
    /* outline:1px solid red; */
    display: none;

    position: relative;
    /* border: 1px solid black; */

}
.login_info{
    width: 15vh;
    height: 5vh;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 20px;
    cursor: pointer;
    /* color: var(--text-black-white); */
    /* outline:1px solid red; */
    transition: all 0.2s;
}
.login_info_list{
    position: absolute;
    height: 0;
    left: 0;
    /* outline:1px solid red; */
    background-color: #c0c0c0;
    visibility: hidden;
    overflow: hidden;
    transition: all 1s;
    z-index: 9999;
    opacity: 0;
}

.logto:hover > .login_info{
    color: black;
    /* font-size: 20px; */
    /* border-bottom: 5px solid white; */
}
.logto:hover > .login_info_list{
    visibility: visible;
    height: 16.5vh;
    opacity: 1;
}

.login_info_list > li{
    width: 15vh;
    height: 4vh;
    color: black;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 20px;
    /* border-bottom: 1px solid black; */
    transition: all .5s;
}
.login_info_list > li:hover{
    /* font-size: 25px; */
    overflow: visible;
    color: black;
    /* border-bottom: 2px solid white; */
}


/* 네비게이션 메뉴 */
nav{
    /* position: absolute; */
    width: 100%;
    /* margin-top: 10%; */
    /* outline: 1px solid red; */
    /* background-color: #f0f0f0; */
    margin-bottom: 1%;
}
/* nav::after{
    content:"";
    display: block;
    clear: both;
} */
nav > ul{
    width: 1380px;
    margin: 0 auto;
    /* height: 10vh; */
    /* margin: 0 auto; */
    background-color: #f0f0f0;

    /* float: left; */
    /* outline: 1px dotted red; */
    justify-content: center;
}
nav > ul > li{
    width: 200px;
    height: 50px;
    /* background-color: #fff; */
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    margin-left: 45px;
    /* outline:1px solid black; */
    font-size: 20px;
    position: relative;
    /* border-bottom: 1px solid black ; */
    /* float: left; */
    /* flex: 1 1 auto; */
    transition: all 1s;
}
nav > ul > li:hover{
    font-size: 35px;
    /* color: var(--text-black-white); */
    /* background-color: rgb(0, 73, 140); */
    border-bottom: 1px solid var(--text-black-black);
}

/* 중앙 컨텐츠 */
.content{
    width: 100%;
    /* height: 85vh; */
    /* margin: 0 auto; */
    /* outline: 1px solid red; */
    /* background-color: rgba(255, 255, 255, .5); */
    /* opacity: .5; */
    flex: 1 0 0;
    /* height: 100vh; */
}

.main{
    width: 1380px;
    /* height: 85vh; */
    margin: 0 auto;
    /* outline: 1px solid red; */
    position: relative;
    /* background-color: rgba(43,44,47,0.5); */
}
.user{
    width: 100%;
}

.user_profile{
    width: 20%;
    margin-left: 4%;
    margin-top: 1%;
    display:inline-block;
    outline: 1px solid black;
}

.profile{
    /* width: 19%; */
    /* border: 1px solid red; */
    
}

.icon{
    border: 1px solid black;
    width: 18vh;
    height: 18vh;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

/*.user_info{
    // height: 20px;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid red;
    display: inline-block;
}
.level{
    width: 80px; 
    margin-top: 2%; 
    margin-bottom: 2%; 
    display:inline-block;
    outline: 1px solid red;
}
.nik{
    border: 1px solid red; 
    display: inline-block;
}
.user_info > .bagdge{
    width: 50px;
    height: 50px;
    display: inline-block;
    object-fit: cover;
}*/

.user_info {
    /* width: 200px; */
    margin: 0 auto;
    font-size: 20px;
    /* line-height: 20px; */
    /* border: 1px solid red; */
    display: flex; /* Added display: flex */
    align-items: center; /* Added to vertically center the items */
    justify-content: center;
}

.level {
    /* width: 80px; */
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    /* display: inline-block; */
    /* outline: 1px solid red; */
}

.nik {
    /* border: 1px solid red; */
    /* display: inline-block; */
    margin-left: 10px; /* Adjust the margin as needed */
}

.user_info > .bagdge {
    width: 50px;
    height: 50px;
    /* display: inline-block; */
    object-fit: cover;
    margin-left: 10px; /* Adjust the margin as needed */
}

.user_content{
    font-size: 30px;
    /* height: 18vh; */
    border: 1px solid black;
    /* background-color: #222327; */
}
.battle{
    height: 35vh;
    border: 1px solid black;
    /* background-color: rgba(43,44,47,0.5); */
}