@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: stretch;

    /* align-items: flex-start; */
}

body{
    font: '돋음', dotum, sans-serif;
    font-size: 14px;
    background-color: #fff;
    /* color:#fff; */
    /* overflow-x: hidden; */
}

#web{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    position: relative;
    top: 0;
    margin-bottom: 1%;
}
header::after{
    content:"";
    display: block;
    clear: both;
}

header > h1{
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.logo > a > img{
    width: 300px;
    height: 70px;
}

#login-section{
    outline : 1px solid red;
    /* background-color: #dadada; */
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    opacity: 1;
}
#login-button{
    width: 15vh;
    height: 5vh;
    display : flex;
    justify-content : center;
    align-items : center;
    /* color: rgb(0, 73, 140); */
    float: left;
    font-size: 20px;
    margin-right: 15px;
}
#login-info{
    width: 15vh;
    position: relative;
    justify-content : center;
    align-items : center;
    font-size: 20px;
    cursor: pointer;
    /* color: var(--text-black-white); */
    /* outline:1px solid red; */
    transition: all 0.2s;
}
#login-info > div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left : 5px;
    margin-right : 5px;
}
#login-info:hover #login-info-section{
    display: block;
}
#login-info-section{
    height: 16.5vh;
    position: absolute;
    left: 0;
    /* outline:1px solid red; */
    background-color: #c0c0c0;
    display : none;
    overflow: hidden;
    transition: all 1s;
    z-index: 9999;
}

#login-info:hover{
    background-color: skyblue;
    /* font-size: 20px; */
    /* border-bottom: 5px solid white; */
}


#login-info-section > li{
    width: 15vh;
    height: 4vh;
    color: black;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 20px;
    /* border-bottom: 1px solid black; */
    transition: all .5s;
}
#login-info-section > li:hover{
    /* font-size: 25px; */
    overflow: visible;
    color: black;
    /* border-bottom: 2px solid white; */
}


/* 네비게이션 메뉴 */
nav{
    /* position: absolute; */
    width: 1380px;
    margin: 0 auto;
    justify-content:space-around;

    /* margin-top: 10%; */
    /* outline: 1px solid red; */
    /* background-color: #f0f0f0; */
    margin-bottom: 1%;
}
/* nav::after{
    content:"";
    display: block;
    clear: both;
} */
nav > ul{
    /* width: 1380px; */
    /* height: 10vh; */
    /* margin: 0 auto; */
    justify-content:space-around;
    background-color: #f0f0f0;
    /* justify-content:space-around; */
    /* float: left; */
    /* outline: 1px dotted red; */
    
}
nav > ul > li{
    width: 200px;
    height: 50px;
    /* background-color: #fff; */
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    /* margin-left: 45px; */
    /* outline:1px solid black; */
    font-size: 20px;
    /* border-bottom: 1px solid black ; */
    /* float: left; */
    /* flex: 1 1 auto; */
    transition: all 1s;
}
nav > ul > li:hover{
    font-size: 35px;
    /* color: var(--text-black-white); */
    /* background-color: rgb(0, 73, 140); */
    border-bottom: 1px solid black;
}

/* 중앙 컨텐츠 */
.content{
    width: 100%;
    /* height: 85vh; */
    /* margin: 0 auto; */
    outline: 1px solid red;
    /* background-color: rgba(255, 255, 255, .5); */
    /* opacity: .5; */
    /* height: 100vh; */
}
.main{
    max-width: 1920px;
    /* flex: 0 0 1; */
    /* flex: 0 0 100%; */
    margin: 0 auto;
}
.left_main{
    width: 300px;
    /* flex: 0 0 1; */
    /* height: 100vh; */
    outline: 1px solid violet;
}
.main_list{
    width: 250px;
    margin: 0 auto;
    height: calc(100% - 50%);
    outline: 1px solid red;
}

.center_main{
    max-width: 1320px;
    width: 1320px;
    /* height: 85vh; */
    /* margin: 0 auto; */
    outline: 1px solid darkgreen;
    /* position: relative; */
    /* background-color: rgba(43,44,47,0.5); */
}

.right_main{
    width: 300px;
    /* height: 100vh; */
    outline: 1px solid skyblue;
}

.user{
    width: 100%;
    justify-content:space-around;
}

.profile{

    width: 270px;
    /* display: inline-block; */
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
    box-shadow: 0 15px 35px rgba(0,0,0,9);
    flex-wrap: wrap;
    justify-content: center;

    background-color: #222;
    color: white;
}
.profile-header{
    padding-top:20px;
}

.profile-image{
    margin-top: 20px;
    width: 18vh;
    height: 18vh;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #0ff;
}

.profile-user_info {
    height:50px;
    margin: 0 auto;
    font-size: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}


.profile-user_nick {
    margin-left: 10px; /*Adjust the margin as needed*/
}

.profile-user_info > .badge {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 10px; /* Adjust the margin as needed */
}

.profile-main{
    font-size: 30px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}
.profile-introduction{
    display: flex;
    width: 80%;
    height : 80px;
    font-size:15px;
}
.profile-dividing-line{
    margin-top:2px;
    margin-bottom: 2px;
    width: 216px;
    height:1px;
    background-color: #0ff;
}
.profile-badge-section{
    width: 80%;
    height: 150px;
    font-size:12px;
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    padding-top: 5px;
}
.profile-badge-section .badge{
    height: 40px;
    width: 50px;
    /* size: 40px; */
    font-size: 30px;
    margin: auto;
}



.board{
    /* height: 30vh; */
    border: 1px solid black;
    /* background-color: rgba(43,44,47,0.5); */
}

.main2{
    outline: 1px solid red;
    height:250px;
    width:50%;
}

#footer{
    outline: 1px solid red;
    height: 150px;
}