<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main_custom.css" />
    <link rel="stylesheet" href="../css/battle.css">
    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">


</head>

<script th:inline="javascript">
    function formatNumberTok(value) {
        var formattedValue = value > 999999 ? (value / 1000000).toFixed(1) + 'm' : (value > 999 ? (value / 1000).toFixed(1) + 'k' : value);
        return formattedValue;
    }
    document.addEventListener("DOMContentLoaded", function () {
        //console.log = function () {};
        let logo_img_paths = [getContextPath()+"/img/logo_white.png", getContextPath()+"/img/logo_black.png"];
        const vs = document.querySelectorAll('.vs img');
        let isDark = getCookie('darkMode');
        vs.forEach(function(x){
                if (isDark === 'Y') {
                    x.src = logo_img_paths[0];
                }
                else {
                    x.src = logo_img_paths[1];
                }
            })
        const active = document.getElementById("nav-battle");
        active.classList.add("uk-active");
        document.getElementById("toggle").addEventListener("click", function () {
            isDark = getCookie('darkMode');
            vs.forEach(function(x){
                if (isDark === 'Y') {
                    x.src = logo_img_paths[0];
                }
                else {
                    x.src = logo_img_paths[1];
                }
            })
            

        });
        const pointBarLefts = document.querySelectorAll(".info-center-left .info-point-bar");
        const pointBarRights = document.querySelectorAll(".info-center-right .info-point-bar");

        const pointLefts = document.querySelectorAll(".info-center-left .info-point-percent");
        const pointRights = document.querySelectorAll(".info-center-right .info-point-percent");

        for (let i = 0; i < pointBarLefts.length; i++) {
            let pointBarLeft = pointBarLefts.item(i);
            pointBarLeft.style.width = pointLefts[i].innerHTML;
            pointBarLeft.style.backgroundColor = getColorRatio(Number(pointLefts[i].innerHTML.replace("%", "")));
            pointLefts[i].style.color = getColorRatio(Number(pointLefts[i].innerHTML.replace("%", "")));

            let pointBarRight = pointBarRights.item(i);
            pointBarRight.style.width = pointRights[i].innerHTML;
            pointBarRight.style.backgroundColor = getColorRatio(Number(pointRights[i].innerHTML.replace("%", "")));
            pointRights[i].style.color = getColorRatio(Number(pointRights[i].innerHTML.replace("%", "")));
        }

        // websocket ------------------------------

        battleCardConnect();
    });
    let battleCardStompClient = null;
    function battleCardConnect() {
        var socket = new SockJS('/ws');
        battleCardStompClient = Stomp.over(socket);
        // 보유 포인트 구독

        // 배틀 전광판 구독
        const cards = document.querySelectorAll(".battle-card-info");
        battleCardStompClient.connect({}, function (frame) {
            cards.forEach(function (card) {
                let btId = card.getAttribute("btId");
                battleCardStompClient.subscribe(`/topic/pointbetting/` + btId, function (response) {
                    try {
                        let pointTO = JSON.parse(response.body);
                        let pointInfo = document.querySelector(".battle-card-info[btId='" + btId + "']");
                        if(pointTO.flag===-1){
                            return;
                        }
                        pointInfo.querySelector(".host-total-point").innerHTML = formatNumberTok(pointTO.hostTotalPoint);
                        pointInfo.querySelector(".host-total-mem-no").innerHTML = pointTO.hostTotalMemNo;
                        pointInfo.querySelector(".host-point-reward-ratio").innerHTML = "1:" + pointTO.hostPointRewardRatio;
                        let hostPointRatio = pointInfo.querySelector(".host-point-ratio");
                        let pointBarLeft = pointInfo.querySelector(".info-center-left .info-point-bar");
                        let pointLeft = pointInfo.querySelector(".info-center-left .info-point-percent");
                        hostPointRatio.innerHTML = pointTO.hostPointRatio + "%";
                        hostPointRatio.style.color = getColorRatio(Number(pointLeft.innerHTML.replace("%", "")));
                        pointBarLeft.style.width = pointLeft.innerHTML;
                        pointBarLeft.style.backgroundColor = getColorRatio(Number(pointLeft.innerHTML.replace("%", "")));

                        pointInfo.querySelector(".client-total-point").innerHTML = formatNumberTok(pointTO.clientTotalPoint);
                        pointInfo.querySelector(".client-total-mem-no").innerHTML = pointTO.clientTotalMemNo;
                        pointInfo.querySelector(".client-point-reward-ratio").innerHTML = "1:" + pointTO.clientPointRewardRatio;
                        let clientPointRatio = pointInfo.querySelector(".client-point-ratio");
                        let pointBarRight = pointInfo.querySelector(".info-center-right .info-point-bar");
                        let pointRight = pointInfo.querySelector(".info-center-right .info-point-percent");
                        clientPointRatio.innerHTML = pointTO.clientPointRatio + "%";
                        clientPointRatio.style.color = getColorRatio(Number(pointRight.innerHTML.replace("%", "")));
                        pointBarRight.style.width = pointRight.innerHTML;
                        pointBarRight.style.backgroundColor = getColorRatio(Number(pointRight.innerHTML.replace("%", "")));


                        let pointInputs = pointInfo.querySelector(".point-betting-input");
                        pointInputs.placeholder = "YOU ALREADY BET";
                        pointInputs.readOnly = true;
                        let buttons = pointInfo.querySelectorAll(".point-betting-button");

                        let button = null;

                        if (pointTO.flag == 0) {
                            button = buttons[0];
                            button.style.backgroundColor = "blueviolet"  
                            button.style.boxShadow = "rgba(138,43,226,0.5) 0px 0px 17px 3px";
                        } else if (pointTO.flag == 1) {
                            button = buttons[1];
                            button.style.backgroundColor = "blueviolet"
                            button.style.boxShadow = "rgba(138,43,226,0.5) 0px 0px 17px 3px";
                        }

                    } catch (err) {
                        console.log("에러 : " + err);
                    }
                });
            });
        });
    }
    function betPoint(btId, flag) {
        // 포인트 배팅
        // flag : 0-왼 , 1-오
        const section = document.getElementById("bettingId" + btId);
        let pointInputs = section.querySelector(".point-betting-input");
        let point = pointInputs.value;
        if (point === "" | isNaN(point)) {
            return;
        }
        if(point > currentPoint){
            alert("포인트 부족");
            return;
        }
        let buttons = section.querySelectorAll(".point-betting-button");
        let button;
        if (flag === 0) {
            button = buttons[0];
        } else {
            button = buttons[1];
        }
        if (!button) return;
        if (button.getAttribute("active") === "F") {
            button.setAttribute("active", "T");
            button.innerHTML = "SUBMIT";
            button.style.color = "red";
        } else if (button.getAttribute("active") === "T") {

            pointInputs.value = "";

            sendPointChange(-point, '50003');
            battleCardStompClient.send(`/app/pointbetting`, {}, JSON.stringify({
                point: point,
                btId: btId,
                flag: flag,
                memId: memId
            }));
            button.setAttribute("active", "F");
            button.innerHTML = flag === 0 ? "HOST" : "CLIENT";
            button.style.color = "white";
        }
    }

    function getColorRatio(bettingRatio) {
        if (bettingRatio >= 90) {
            return '#FF0000'; // 빨간색
        } else if (bettingRatio >= 70) {
            return '#FFA500'; // 주황색
        } else if (bettingRatio >= 50) {
            return '#00FF00'; // 연두색
        } else if (bettingRatio >= 30) {
            return '#00F0FF'; // 민트색
        } else {
            return '#0FCFA5'; // 검은색
        }
    }
    function search_battle(){
        console.log(1);
    }
    function selectBattleGame(){
        
    }
    function selectBattleState(){

    }
</script>

<body class="page-favourites dark-theme">


    <input id="toggle" type="checkbox">

    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->


    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss="sidebar is-show" id="sidebar">사이드바
                Fragment</aside>
            <!--  -->

            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <h3 class="uk-text-lead">BATTLE</h3>
                        <div>
                            <select class="js-select uk-flex-1 height95per margintop1per" style="display: none;" onchange="selectBattleGame(this.value)">
                                <option value="">10개</option>
                                <option value="Category 1">20개</option>
                                <option value="Category 2">30개</option>
                            </select>
                            <div class="search__refresh"><button type="button" style="float: right;cursor: pointer;" onclick="reSelect()"><i class="fa-solid fa-rotate-right"></i></button></div>

                        </div>
                    </div>
                    
                    <div class="widjet__body">
                        <div class="uk-grid uk-child-width-1-6@xl uk-child-width-1-4@l uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                            <div class="uk-width-1-6 height50px">
                                <select class="js-select uk-flex-1 height95per margintop1per" style="display: none;" onchange="selectBattleGame(this.value)">
                                    <option value="">ALL(GAME)</option>
                                    <option value="Category 1">League of Legends</option>
                                    <option value="Category 2">BattleGround</option>
                                    <option value="Category 3">Steam</option>
                                </select>
                            </div>
                            <div class="uk-width-1-6 height50px">
                                <select class="js-select uk-flex-1 height95per margintop1per" style="display: none;" onchange="selectBattleState(this.value)">
                                    <option value="">ALL(상태)</option>
                                    <option value="Category 1">대기</option>
                                    <option value="Category 2">진행</option>
                                    <option value="Category 3">종료</option>
                                </select>
                            </div>
                            <div class="search uk-width-2-3 height50px">
                                    <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search" id="s_txt_btn" value=""></div>
                                    <div class="search__btn"><button type="button" onclick="search_battle()"><i class="ico_search"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l" id="battleCardSection">
                        <div class="battle-card --horizontal hot-battle" th:each="battle, iterStat : ${battleTOList}">
                            <div class="battle-card__box">
                                <div class="battle-profile-left">
                                    <div class="battle-profile-info">
                                        <div class="battle-profile-nickname">
                                            <div class="battle-profile-lvl" th:text="'Lv ' + ${battle.hostLvl}">Lv30
                                            </div>
                                            <div th:text="${battle.hostNick}"></div>
                                        </div>
                                        <div class="battle-profile-history">
                                            <div>
                                                <div class="battle-profile-win" th:text="${battle.hostWin}+' 승'">77 승
                                                </div>
                                                <div>&nbsp;/&nbsp;</div>
                                                <div class="battle-profile-lose" th:text="${battle.hostLose}+' 패'">25 패
                                                </div>
                                            </div>
                                            <div
                                                th:with="total = ${(battle.hostWin + battle.hostLose)}, rate=${(battle.hostWin * 100.0 / total)}">
                                                <div th:if="${total > 0}" class="battle-profile-win-rate"
                                                    th:text="${#numbers.formatPercent(rate / 100, 2, 2)}">75.4%</div>
                                                <div th:if="${total == 0}" class="battle-profile-win-rate">0%</div>
                                            </div>
                                        </div>
                                        <div class="profile-main">
                                            <div class="profile-dividing-line"></div>
                                            <div class="profile-badge-section">
                                                <div class="badge-line">
                                                    <span class="badge">&#127774;</span>
                                                    <span class="badge">&#127775;</span>
                                                    <span class="badge">&#127806;</span>
                                                </div>
                                                <div class="badge-line">
                                                    <span class="badge">&#127851;</span>
                                                    <span class="badge">&#127774;</span>
                                                    <span class="badge">&#127775;</span>
                                                </div>
                                                <div class="badge-line">
                                                    <span class="badge">&#127806;</span>
                                                    <span class="badge">&#127851;</span>
                                                    <span class="badge">&#127774;</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="battle-profile-media">
                                        <a href="10_game-profile.html">
                                            <img th:src="@{'../img/' + ${battle.hostImgName}}" alt="NO IMG" />
                                        </a>
                                    </div>
                                </div>


                                <div class="battle-card-info" th:attr="btId = ${battle.btId}">
                                    <div class="info-title"><a th:href="@{'/battle/view?id='+${battle.postId}}"
                                            th:text="${battle.title}"></a></div>
                                    <div class="info-sub">
                                        <div class="info-game">
                                            <div>BattleGround</div>
                                            <!-- <div th:if="">여기에 이제 코드 별로</div> -->
                                        </div>
                                        <div class="info-battle-point-section">
                                            <i class="fa-solid fa-trophy"></i>
                                            <div class="info-battle-point"
                                                th:text="${#numbers.formatInteger(#numbers.formatInteger(battle.point,0),0,'COMMA')}">
                                                100000</div>
                                            <i class="fa-solid fa-trophy"></i>
                                        </div>
                                        <div class="info-state">
                                            <div th:if="${battle.state=='A'}" class="A">베팅 가능!</div>
                                            <div th:if="${battle.state=='P'}" class="P">진행중</div>
                                            <div th:if="${battle.state=='T'}" class="T">종료됨</div>
                                        </div>
                                    </div>
                                    <div class="info-center">
                                        <div class="info-center-left">
                                            <div class="info-center-header">
                                                <div class="info-point-header-list">
                                                    <div class="info-point-amount">
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                        </div>
                                                        <div class="host-total-point" th:utext="'<script>' +
                                                            'var value = ' + ${battlePointTOList[iterStat.index].hostTotalPoint} + ';' +
                                                            'var formattedValue = formatNumberTok(value);' +
                                                            'document.write(formattedValue);' +
                                                            '</script>'">
                                                            72.3</div>
                                                    </div>
                                                    <div class="info-point-pno">
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-user ico_fontawesome"></i>
                                                        </div>
                                                        <div class="host-total-mem-no"
                                                            th:text="${battlePointTOList[iterStat.index].hostTotalMemNo}">
                                                            0</div>
                                                    </div>
                                                    <div class="info-point-ratio">
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-gem ico_fontawesome"></i>
                                                        </div>
                                                        <div class="host-point-reward-ratio"
                                                            th:text="${'X '+battlePointTOList[iterStat.index].hostPointRewardRatio}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="info-point-percent host-point-ratio"
                                                    th:text="${battlePointTOList[iterStat.index].hostPointRatio+'%'}">
                                                    75%</div>
                                            </div>
                                            <div class="info-point-bar-box">
                                                <div class="info-point-bar"></div>
                                            </div>
                                        </div>

                                        <div class="vs"><img src="../img/logo_white.png"></div>

                                        <div class="info-center-right">
                                            <div class="info-center-header">
                                                <div class="info-point-percent client-point-ratio"
                                                    th:text="${battlePointTOList[iterStat.index].clientPointRatio+'%'}">
                                                    25%</div>
                                                <div class="info-point-header-list">
                                                    <div class="info-point-amount">
                                                        <div class="client-total-point" th:utext="'<script>' +
                                                            'var value = ' + ${battlePointTOList[iterStat.index].clientTotalPoint} + ';' +
                                                            'var formattedValue = formatNumberTok(value);' +
                                                            'document.write(formattedValue);' +
                                                            '</script>'">
                                                            72.3</div>
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                        </div>
                                                    </div>
                                                    <div class="info-point-pno">
                                                        <div class="client-total-mem-no"
                                                            th:text="${battlePointTOList[iterStat.index].clientTotalMemNo}">
                                                            0</div>
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-user ico_fontawesome"></i>
                                                        </div>
                                                    </div>
                                                    <div class="info-point-ratio">
                                                        <div class="client-point-reward-ratio"
                                                            th:text="${battlePointTOList[iterStat.index].clientPointRewardRatio+' X'}">
                                                        </div>
                                                        <div class="icon_box">
                                                            <i class="fa-solid fa-gem ico_fontawesome"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="info-point-bar-box">
                                                <div class="info-point-bar"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="betting-section">
                                        <div class="point-betting" th:id="'bettingId' + ${battle.btId}">
                                            <div th:if="${battlePointTOList[iterStat.index].flag==0}"
                                                class="point-betting-button" style="background-color: blueviolet; box-shadow: rgba(138,43,226,0.5) 0px 0px 17px 3px;">HOST
                                            </div>
                                            <div th:unless="${battlePointTOList[iterStat.index].flag==0}"
                                                class="point-betting-button" active="F"
                                                th:onclick="'betPoint(' + ${battle.btId} + ', 0)'">HOST</div>
                                            <div class="search">
                                                <div class="search__input">
                                                    <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                    <battleStateCheck th:if="${battle.state=='A'}">
                                                        <logincheck th:if="${nickname}">
                                                            <input
                                                                th:unless="${battlePointTOList[iterStat.index].alreadyBet==1}"
                                                                class="point-betting-input" type="search" name="search"
                                                                placeholder="BETTING HERE">
                                                            <input
                                                                th:if="${battlePointTOList[iterStat.index].alreadyBet==1}"
                                                                class="point-betting-input" type="search" name="search"
                                                                placeholder="YOU ALREADY BET" readonly>
                                                        </logincheck>
                                                        <input th:unless="${nickname}" class="point-betting-input"
                                                            type="search" name="search" placeholder="LOGIN FIRST"
                                                            readonly>
                                                    </battleStateCheck>
                                                    <battleStateCheck th:if="${battle.state=='P'}">
                                                        <input class="point-betting-input" type="search" name="search"
                                                            placeholder="PROCEEDING" readonly>
                                                    </battleStateCheck>
                                                    <battleStateCheck th:if="${battle.state=='T'}">
                                                        <input class="point-betting-input" type="search" name="search"
                                                            placeholder="TERMINATED" readonly>
                                                    </battleStateCheck>
                                                </div>
                                            </div>
                                            <div th:if="${battlePointTOList[iterStat.index].flag==1}"
                                                class="point-betting-button" style="background-color: blueviolet; box-shadow: rgba(138,43,226,0.5) 0px 0px 17px 3px;">CLIENT
                                            </div>
                                            <div th:unless="${battlePointTOList[iterStat.index].flag==1}"
                                                class="point-betting-button" active="F"
                                                th:onclick="'betPoint(' + ${battle.btId} + ', 1)'">CLIENT</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="battle-profile-right">
                                    <div class="battle-profile-media">
                                        <a href="10_game-profile.html">
                                            <img th:src="@{'../img/' + ${battle.clientImgName}}" alt="NO IMG" />
                                        </a>
                                    </div>
                                    <div class="battle-profile-info">
                                        <div class="battle-profile-nickname">
                                            <div class="battle-profile-lvl" th:text="'Lv ' + ${battle.clientLvl}">Lv30
                                            </div>
                                            <div th:text="${battle.clientNick}"></div>
                                        </div>
                                        <div class="battle-profile-history">
                                            <div>
                                                <div class="battle-profile-win" th:text="${battle.clientWin}+' 승'">77 승
                                                </div>
                                                <div>&nbsp;/&nbsp;</div>
                                                <div class="battle-profile-lose" th:text="${battle.clientLose}+' 패'">25
                                                    패</div>
                                            </div>
                                            <div
                                                th:with="total = ${(battle.clientWin + battle.clientLose)}, rate=${(battle.clientWin * 100.0 / total)}">
                                                <div th:if="${total > 0}" class="battle-profile-win-rate"
                                                    th:text="${#numbers.formatPercent(rate / 100, 2, 2)}">75.4%</div>
                                                <div th:if="${total == 0}" class="battle-profile-win-rate">0%</div>
                                            </div>
                                        </div>
                                        <div class="profile-main">
                                            <div class="profile-dividing-line"></div>
                                            <div class="profile-badge-section">
                                                <div class="badge-line">
                                                    <span class="badge">&#127774;</span>
                                                    <span class="badge">&#127775;</span>
                                                    <span class="badge">&#127806;</span>
                                                </div>
                                                <div class="badge-line">
                                                    <span class="badge">&#127851;</span>
                                                    <span class="badge">&#127774;</span>
                                                    <span class="badge">&#127775;</span>
                                                </div>
                                                <div class="badge-line">
                                                    <span class="badge">&#127806;</span>
                                                    <span class="badge">&#127851;</span>
                                                    <span class="badge">&#127774;</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>


</body>

</html>