<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main_custom.css" />
    <link rel="stylesheet" href="../css/shop_custom.css" />
    <link rel="stylesheet" href="../css/ranking.css" />
    <link rel="stylesheet" href="../css/battle_view.css" />
    <link rel="stylesheet" href="../css/battle_write.css" />


    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>
    <!-- <script src="../js/battle.js"></script> -->


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

</head>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // 숫자만 인풋
        document.getElementById("point").addEventListener('input', function (event) {
            // 현재 입력된 값
            let currentValue = event.target.value;
            // 숫자 이외의 문자 제거
            let sanitizedValue = currentValue.replace(/\D/g, '');
            // 수정된 값을 다시 입력란에 설정
            event.target.value = sanitizedValue;
        });
        // 포인트 관련
        let beforePoint = /*[[${point}]]*/0;
        // 날짜 관련 --------
        var currentDate = new Date();

        // 년, 월, 일, 시, 분, 초, 밀리초에 접근 가능
        var curYear = currentDate.getFullYear();
        var curMonth = currentDate.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
        var curDay = currentDate.getDate();
        var curHour = currentDate.getHours();
        var curMinute = currentDate.getMinutes();

        let isModify = /*[[${isModify}]]*/'';
        let game = /*[[${game}]]*/'';

        let ddyear = /*[[${ddYear}]]*/'';
        let styear = /*[[${stYear}]]*/'';

        let ddmonth = /*[[${ddMonth}]]*/'';
        let stmonth = /*[[${stMonth}]]*/'';

        let ddday = /*[[${ddDay}]]*/'';
        let stday = /*[[${stDay}]]*/'';

        let ddhour = /*[[${ddHour}]]*/'';
        let sthour = /*[[${stHour}]]*/'';

        let ddminute = /*[[${ddMinute}]]*/'';
        let stminute = /*[[${stMinute}]]*/'';
        // 연도 선택을 위한 옵션 동적 생성
        let yearSelects = document.querySelectorAll('.year');
        yearSelects.forEach(function (yearSelect) {
            for (let year = new Date().getFullYear(); year <= new Date().getFullYear() + 1; year++) {
                let option = document.createElement('option');
                option.value = year;
                option.text = year + "년";
                yearSelect.add(option);

                if (!isModify && year == curYear) option.selected = true;
                if (isModify && yearSelect.name === 'ddyear' && year === ddyear) option.selected = true;
                if (isModify && yearSelect.name === 'styear' && year === styear) option.selected = true;
            }
        })
        // 월 선택을 위한 옵션 동적 생성
        let monthSelects = document.querySelectorAll('.month');
        monthSelects.forEach(function (monthSelect) {
            for (let month = 1; month <= 12; month++) {
                let option = document.createElement('option');
                option.value = month;
                option.text = month + "월";
                monthSelect.add(option);

                if (!isModify && month == curMonth) option.selected = true;
                if (isModify && monthSelect.name === 'ddmonth' && month === ddmonth) option.selected = true;
                if (isModify && monthSelect.name === 'stmonth' && month === stmonth) option.selected = true;
            }
        })

        // 일 선택을 위한 옵션 동적 생성
        let daySelects = document.querySelectorAll('.day');
        daySelects.forEach(function (daySelect) {
            for (let day = 1; day <= 31; day++) {
                let option = document.createElement('option');
                option.value = day;
                option.text = day + "일";
                daySelect.add(option);

                if (!isModify && day == curDay) option.selected = true;
                if (isModify && daySelect.name === 'ddday' && day === ddday) option.selected = true;
                if (isModify && daySelect.name === 'stday' && day === stday) option.selected = true;
            }
        })

        // 시간 선택을 위한 옵션 동적 생성
        let hourSelects = document.querySelectorAll('.hour');
        hourSelects.forEach(function (hourSelect) {
            for (let hour = 0; hour <= 23; hour++) {
                let option = document.createElement('option');
                option.value = hour;
                option.text = hour + "시";
                hourSelect.add(option);

                if (!isModify && hour == (curHour+1)%24) option.selected = true;
                if (isModify && hourSelect.name === 'ddhour' && hour === ddhour) option.selected = true;
                if (isModify && hourSelect.name === 'sthour' && hour === sthour) option.selected = true;
            }
        })
        // 분 선택을 위한 옵션 동적 생성
        let minuteSelects = document.querySelectorAll('.minute');
        minuteSelects.forEach(function (minuteSelect) {
            for (let minute = 0; minute <= 59; minute++) {
                let option = document.createElement('option');
                option.value = minute;
                option.text = minute + "분";
                minuteSelect.add(option);

                if (!isModify && minuteSelect.name === 'ddminute' && minute == curMinute) option.selected = true;
                if (!isModify && minuteSelect.name === 'stminute' && minute == (curMinute+15)%60) option.selected = true;

                if (isModify && minuteSelect.name === 'ddminute' && minute === ddminute) option.selected = true;
                if (isModify && minuteSelect.name === 'stminute' && minute === stminute) option.selected = true;
            }
        })

        // 폼 제출 시 선택된 날짜 및 시간 가져오기
        document.getElementById('btn-write').addEventListener('click', function (e) {

            let title = document.querySelector(".post-section textarea").value;
            let game = document.getElementById("game").value;
            let point = document.getElementById("point").value;
            let content = document.getElementById("content").value;

            let ddSelectedYear = yearSelects[0].value;
            let ddSelectedMonth = monthSelects[0].value;
            let ddSelectedDay = daySelects[0].value;
            let ddSelectedHour = hourSelects[0].value;
            let ddSelectedMinute = minuteSelects[0].value;

            let stSelectedYear = yearSelects[1].value;
            let stSelectedMonth = monthSelects[1].value;
            let stSelectedDay = daySelects[1].value;
            let stSelectedHour = hourSelects[1].value;
            let stSelectedMinute = minuteSelects[1].value;

            let ddDate = new Date(ddSelectedYear, ddSelectedMonth - 1, ddSelectedDay, ddSelectedHour, ddSelectedMinute);
            let stDate = new Date(stSelectedYear, stSelectedMonth - 1, stSelectedDay, stSelectedHour, stSelectedMinute);

            if (!checkDate(ddDate, stDate)) {
                alert('날짜 선택이 잘못 되었습니다.\n1. 신청 기한은 최소 1시간 입니다.\n2. 시작 시간은 신청 기한과 최소 15분 차이나야 합니다.');
                return;
            }
            if (isModify) {
                document.getElementById("dPoint").value = beforePoint - point;
                if (!checkPoint(point - beforePoint)) {
                    alert('보유 포인트가 부족합니다.');
                    return;
                }
            } else {
                if (!checkPoint(point)) {
                    alert('보유 포인트가 부족합니다.');
                    return;
                }
            }
            document.forms["pfrm"].submit();
        });
        if(isModify){
            let selectedGame = document.querySelector(".selectedGame");
            let options = selectedGame.querySelectorAll("option");
            options.forEach(function(option){
                if(option.value==game){
                    option.selected = true;
                }
            })
            if(game=='30006' || game=='30099'){
                document.querySelector(".selectedGameInput").style.display="block";
            }
        }
    })
    function checkPoint(point) {
        let currentPoint = Number(document.getElementById("current-point").getAttribute("point"));
        // 포인트와 현재 포인트 비교
        if (point > currentPoint) return false;
        return true;
    }
    function checkDate(ddDate, stDate) {
        let curDate = new Date();
        
        // let ddDatePlus15Min = ddDate.setMinutes(ddDate.getMinutes() + 15);
        let ddDatePlus15Min = new Date(ddDate.getFullYear(), ddDate.getMonth(), ddDate.getDate(), ddDate.getHours(), ddDate.getMinutes()+15);
        // let curDatePlus1Hour = curDate.setHours(curDate.getHours() + 1);
        let curDatePlus1Hour = new Date(curDate.getFullYear(), curDate.getMonth(), curDate.getDate(), curDate.getHours()+1, curDate.getMinutes());


        // ddDate = ddDate.setHours(ddDate.getHours());
        console.log("지금시간 +1시간 " +curDatePlus1Hour);
        console.log("배틀 시작시간 : "+stDate.getTime());
        console.log("마감 기한+15분 " +ddDatePlus15Min);
        
        if (stDate.getTime() < ddDatePlus15Min.getTime()) {
            console.log("최소 15분 차이 : "+(stDate.getTime()-ddDatePlus15Min.getTime()));
            return false;
        }
        if (ddDate.getTime() < curDatePlus1Hour.getTime()) {
            console.log("신청 기간은 최소 1시간");
            return false;
        }
        
        return true;
    }
    function selectGame(value){
        if(value=='30006' || value=='30099'){
            document.querySelector(".selectedGameInput").style.display="block";
        }else{
            document.querySelector(".selectedGameInput").style.display="none";
            document.getElementById("selectedGameInput").value="";
        }
    }
</script>


<body class="page-home dark-theme">
    <input id="toggle" type="checkbox">
    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss="sidebar is-show" id="sidebar">사이드바
                Fragment</aside>
            <!--  -->

            <!-- 메인 -->
            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <a th:href="@{/battle?page=1}">
                            <h3 class="uk-text-lead">BATTLE</h3>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <!-- <div class="content-header">
                        
                    </div> -->
                    <div class="content-main">
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-1-5@xl profile-section">
                                <div class="profile-card" th:if="${!memberProfile.profileCard.equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${memberProfile.profileCard} + '.png);'">
                                    <a id="profile">
                                        <div class="profile-header" th:if="${!memberProfile.profileHeader.equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${memberProfile.profileHeader} + '.png);'">
                                            <div class="profile-image">
                                                <img th:if="${!memberProfile.profileImage.equals('x')}" th:src="'/image/' + ${memberProfile.profileImage}" alt="NO-IMAGE" class="profile">
                                                <img th:if="${memberProfile.profileImage.equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" class="profile">
                                            </div>
                                        </div>
                                        <div class="profile-header" th:if="${memberProfile.profileHeader.equals('x')}">
                                            <div class="profile-image">
                                                <img th:if="${!memberProfile.profileImage.equals('x')}" th:src="'/image/' + ${memberProfile.profileImage}" alt="NO-IMAGE" class="profile">
                                                <img th:if="${memberProfile.profileImage.equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" class="profile">
                                            </div>
                                        </div>
                                        <div class="profile-user_info">
                                            <div class="profile-user_level"><span th:text="${'LV : ' + level}">99</span></div>
                                            <div class="profile-user_nick"><span th:text="${nickname}">타락파워전사선조</span></div>
                                            <img class="badge" th:if="${!memberProfile.ProfileRepBadge.equals('x')}" th:src="@{'../img/shop_img/' + ${memberProfile.ProfileRepBadge} + '.png'}" alt="NO-SYMBOL">
                                            <img class="badge" th:if="${memberProfile.ProfileRepBadge.equals('x')}" alt="NO-SYMBOL">
                                        </div>
                                    </a>
                                    <div class="profile-dividing-line"></div>
                                    <div class="profile-main">
                                        <div class="profile-introduction" th:text="${memberProfile.profileIntro}"></div>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-badge-section">
                                            <div class="badge-line">
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[0].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[0]} + '.png'}">
                                                    <img th:if="${badgelist[0].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[3].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[3]} + '.png'}">
                                                    <img th:if="${badgelist[3].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[6].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[6]} + '.png'}">
                                                    <img th:if="${badgelist[6].equals('x')}" alt="">
                                                </div>
                                            </div>
                                            <div class="badge-line">
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[1].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[1]} + '.png'}">
                                                    <img th:if="${badgelist[1].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[4].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[4]} + '.png'}">
                                                    <img th:if="${badgelist[4].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[7].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[7]} + '.png'}">
                                                    <img th:if="${badgelist[7].equals('x')}" alt="">
                                                </div>
                                            </div>
                                            <div class="badge-line">
                                                <div class="badge">
                                                    <img th:if="${!badgelist[2].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[2]} + '.png'}">
                                                    <img th:if="${badgelist[2].equals('x')}" alt="">
                                                </div>
                                                <div class="badge">
                                                    <img th:if="${!badgelist[5].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[5]} + '.png'}">
                                                    <img th:if="${badgelist[5].equals('x')}" alt="">
                                                </div>
                                                <div class="badge">
                                                    <img th:if="${!badgelist[8].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[8]} + '.png'}">
                                                    <img th:if="${badgelist[8].equals('x')}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-card" th:if="${memberProfile.profileCard.equals('x')}">
                                    <a id="profile">
                                        <div class="profile-header" th:if="${!memberProfile.profileHeader.equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${memberProfile.profileHeader} + '.png);'">
                                            <div class="profile-image">
                                                <img th:if="${!memberProfile.profileImage.equals('x')}" th:src="'/image/' + ${memberProfile.profileImage}" alt="NO-IMAGE" class="profile">
                                                <img th:if="${memberProfile.profileImage.equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" class="profile">
                                            </div>
                                        </div>
                                        <div class="profile-header" th:if="${memberProfile.profileHeader.equals('x')}">
                                            <div class="profile-image">
                                                <img th:if="${!memberProfile.profileImage.equals('x')}" th:src="'/image/' + ${memberProfile.profileImage}" alt="NO-IMAGE" class="profile">
                                                <img th:if="${memberProfile.profileImage.equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" class="profile">
                                            </div>
                                        </div>
                                        <div class="profile-user_info">
                                            <div class="profile-user_level"><span th:text="${'LV : ' + level}">99</span></div>
                                            <div class="profile-user_nick"><span th:text="${nickname}">타락파워전사선조</span></div>
                                            <img class="badge" th:if="${!memberProfile.ProfileRepBadge.equals('x')}" th:src="@{'../img/shop_img/' + ${memberProfile.ProfileRepBadge} + '.png'}" alt="NO-SYMBOL">
                                            <img class="badge" th:if="${memberProfile.ProfileRepBadge.equals('x')}" alt="NO-SYMBOL">
                                        </div>
                                    </a>
                                    <div class="profile-dividing-line"></div>
                                    <div class="profile-main">
                                        <div class="profile-introduction" th:text="${memberProfile.profileIntro}"></div>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-badge-section">
                                            <div class="badge-line">
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[0].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[0]} + '.png'}">
                                                    <img th:if="${badgelist[0].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[3].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[3]} + '.png'}">
                                                    <img th:if="${badgelist[3].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[6].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[6]} + '.png'}">
                                                    <img th:if="${badgelist[6].equals('x')}" alt="">
                                                </div>
                                            </div>
                                            <div class="badge-line">
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[1].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[1]} + '.png'}">
                                                    <img th:if="${badgelist[1].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[4].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[4]} + '.png'}">
                                                    <img th:if="${badgelist[4].equals('x')}" alt="">
                                                </div>
                                                <div class="badge" >
                                                    <img th:if="${!badgelist[7].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[7]} + '.png'}">
                                                    <img th:if="${badgelist[7].equals('x')}" alt="">
                                                </div>
                                            </div>
                                            <div class="badge-line">
                                                <div class="badge">
                                                    <img th:if="${!badgelist[2].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[2]} + '.png'}">
                                                    <img th:if="${badgelist[2].equals('x')}" alt="">
                                                </div>
                                                <div class="badge">
                                                    <img th:if="${!badgelist[5].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[5]} + '.png'}">
                                                    <img th:if="${badgelist[5].equals('x')}" alt="">
                                                </div>
                                                <div class="badge">
                                                    <img th:if="${!badgelist[8].equals('x')}" th:src="@{'../img/shop_img/' + ${badgelist[8]} + '.png'}">
                                                    <img th:if="${badgelist[8].equals('x')}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{/battle/write_ok}" method="post" name="pfrm">
                                <input type="hidden" name="isModify" th:value="${isModify}">
                                <input type="hidden" name="dPoint" id="dPoint" value="">
                                <input th:if="${isModify==true}" type="hidden" name="postId" th:value="${postId}">
                                <input th:if="${isModify==true}" type="hidden" name="btId" th:value="${btId}">
                                <input type="hidden" name="memId" th:value="${memId}">
                                <div class="uk-width-3-5@xl post-section">
                                    <div class="post-info">
                                        <!-- Post title-->
                                        <div class="post-title">
                                            <textarea th:unless="${isModify==true}" name="title" class="battle-textarea"
                                                placeholder="타이틀을 작성"></textarea>
                                            <textarea th:if="${isModify==true}" name="title" class="battle-textarea"
                                                th:text="${title}"></textarea>
                                        </div>
                                        <div class="line"></div>
                                        <div class="post-sub">
                                            <div class="writer"><span th:text="${nickname}">글쓴이</span></div>
                                            <div>
                                                <div class="date"><span></span></div>
                                                <div class="hit"><span></span></div>
                                                <div class="hit"><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="battle-info">
                                        <div>
                                            <div>
                                                <div class="battle-info-key first-key">
                                                    <div>
                                                        게임 : 
                                                    </div>
                                                </div>
                                                <div class="battle-info-value for-select">
                                                    <div name="game" id="game"
                                                        class="battle-game-select">
                                                        <select name="selectedGame" class="js-select uk-flex-1 height95per margintop1per selectStyle selectedGame" style="display: none;"
                                                        onchange="selectGame(this.value)">
                                                            <option value="">게임선택</option>
                                                            <option value="30001">LeagueofLegends</option>
                                                            <option value="30002">BattleGround</option>
                                                            <option value="30003">Overwatch</option>
                                                            <option value="30004">Valorant</option>
                                                            <option value="30005">FIFA</option>
                                                            <option value="30006">Steam</option>
                                                            <option value="30099">etc</option>
                                                        </select>
                                                    </div>
                                                    <div class="selectedGameInput" style="display: none;">
                                                        <textarea th:unless="${isModify==true}" name="selectedGameInput" id="selectedGameInput"
                                                            class="battle-textarea" placeholder="게임 이름 입력" style=""></textarea>
                                                        <textarea th:if="${isModify==true}" name="selectedGameInput" id="selectedGameInput"
                                                                class="battle-textarea" th:text="${etcGameNm}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="battle-info-key">
                                                    <div>
                                                        포인트 : 
                                                    </div>
                                                </div>
                                                <div class="battle-info-value">
                                                    <textarea th:unless="${isModify==true}" name="point" id="point"
                                                        class="battle-textarea"></textarea>
                                                    <textarea th:if="${isModify==true}" name="point" id="point"
                                                        class="battle-textarea" th:text="${point}"></textarea>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="battle-info-key">
                                                    <div>
                                                        신청 기한 : 
                                                    </div>
                                                </div>
                                                <div class="battle-info-value">
                                                    <div class="date-picker" id="deadline-dt">
                                                        <div>
                                                            <!-- 연도 선택 -->
                                                            <select class="year" name="ddyear"></select>
                                                            <!-- 월 선택 -->
                                                            <select class="month" name="ddmonth"></select>
                                                            <!-- 일 선택 -->
                                                            <select class="day" name="ddday"></select>
                                                        </div>
                                                        <div>
                                                            <!-- 시간 선택 -->
                                                            <select class="hour" name="ddhour"></select>
                                                            <!-- 분 선택 -->
                                                            <select class="minute" name="ddminute"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="battle-info-key">
                                                    <div>
                                                        시작 시간 : 
                                                    </div>
                                                </div>
                                                <div class="battle-info-value">
                                                    <div class="date-picker" id="start-dt">
                                                        <div>
                                                            <!-- 연도 선택 -->
                                                            <select class="year" name="styear"></select>
                                                            <!-- 월 선택 -->
                                                            <select class="month" name="stmonth"></select>
                                                            <!-- 일 선택 -->
                                                            <select class="day" name="stday"></select>
                                                        </div>
                                                        <div>
                                                            <!-- 시간 선택 -->
                                                            <select class="hour" name="sthour"></select>
                                                            <!-- 분 선택 -->
                                                            <select class="minute" name="stminute"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="post-text">
                                        <textarea th:unless="${isModify==true}" name="content" id="content"
                                            class="battle-textarea" placeholder="게시글 내용 작성"></textarea>
                                        <textarea th:if="${isModify==true}" name="content" id="content"
                                            class="battle-textarea" th:text="${content}"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="uk-width-1-5@xl write-rule-section">
                                <div class="rule-header">
                                    BATTLE RULE<div style="color:red; font-size:25px;">@필독</div>
                                </div>
                                <div>
                                    <div class="sentence">
                                        <div class="no"> 1.&nbsp; </div>
                                        <div><strong style="color:brown">신청 기한</strong>은 지금으로 부터 최소 <strong style="color:brown">1시간</strong></div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 2.&nbsp; </div>
                                        <div><strong style="color:brown">시작 시간</strong>은 신청 기한에서 <strong style="color:brown">15분</strong> 뒤 부터</div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 3.&nbsp; </div>
                                        <div>포인트는 글 작성 시 차감되며 정상 진행 되지 않았을 시 반환된다.</div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 4.&nbsp; </div>
                                        <div><strong style="color:brown">배틀 시작</strong>은 호스트가 직접 해야하며 시작 시간 전에는 누를 수 없으나 시작 시간 <strong style="color:brown">30분</strong>이 지난 시점까지 시작을 누르지 않으면 자동
                                            종료된다.</div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 5.&nbsp;</div>
                                        <div><strong style="color:brown">배틀 종료</strong>는 호스트와 클라이언트가 같이 해야한다. 한쪽의 종료 이후 하루 이내로 동의 하지 않은 쪽은 차후 자동 패배 처리된다.</div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 6.&nbsp; </div>
                                        <div>호스트의 부정행위를 막기 위해 대결 결과를 인증할 수 있는 <strong style="color:brown">스크린샷</strong>을 남겨 두시길 바랍니다. 스크릿샷을 남겨 두지 않은 배틀에 대해서는
                                            본인 과실입니다.</div>
                                    </div>
                                    <div class="sentence">
                                        <div class="no"> 7.&nbsp; </div>
                                        <div>매칭이 성사된 이후 경기는 취소할 수 없으니 신중히 시작하시길 바랍니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="content-footer">
                        <div class="button-section">
                            <div>
                                <a th:href="@{/battle?page=1}"><input type="button" value="목록" class="btn_re"></a>
                                <input type="button" id="btn-write" value="저장" class="btn_re">
                            </div>

                        </div>
                    </div>
                </div>

                <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

            </main>
        </div>
    </div>
    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

</body>

</html>