<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main_custom.css" />
    <link rel="stylesheet" href="../css/battle_view.css" />

    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

</head>
<script type="text/javascript">
    // 답글 입력 폼의 표시/숨김을 토글
    function toggleReplyForm(span) {
        const commentId = span.getAttribute("data-comment-id");
        const replyForm = document.querySelector(`.reply-form[data-comment-id="${commentId}"]`);
        replyForm.style.display = replyForm.style.display === "none" ? "block" : "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("nav-battle");
        active.classList.add("uk-active");
        // 댓글 작성 확인 함수 부분
        document.getElementById('cbtn').addEventListener('click', function () {
            document.getElementsByName("ccontent").value;
            document.getElementsByName("postId").value;
            document.cfrm.submit();
        });
        // 댓글 삭제 확인
        const deleteButtons = document.getElementsByClassName("delete-comment");
        Array.from(deleteButtons).forEach(button => {
            button.addEventListener('click', function () {
                const commentId = button.getAttribute("data-comment-id");
                console.log('클릭');

                const form = document.getElementById('dcfrm');
                const commentIdInput = document.createElement('input');
                commentIdInput.type = 'hidden';
                commentIdInput.name = 'comment_id';
                commentIdInput.value = commentId;
                form.appendChild(commentIdInput);
                document.getElementsByName("rcontent").value;
                // form을 submit
                form.submit();
            });
        });
    });
</script>
<script>
    function submitReplyForm(parent_comment_id) {
        var use = "rcontent" + parent_comment_id;
        var rcontent = document.getElementById(use).value;
        var boardCd = /*[[${ post.boardCd }]]*/'00000';
        var postId = /*[[${ post.postId }]]*/27;
        var cpage = /*[[${ cpage }]]*/1;
        var parent_comment_id = parent_comment_id;

        console.log("rcontent : " + rcontent);
        console.log("boardCd : " + boardCd);
        console.log("postId : " + postId);
        console.log("cpage : " + cpage);
        console.log("parent_comment_id : " + parent_comment_id);

        var replyHref = `reply_comment_write_ok?board_cd=${boardCd}&post_id=${postId}&cpage=${cpage}&rcontent=${rcontent}&parent_comment_id=${parent_comment_id}`;
        console.log(replyHref);
        window.location.href = replyHref;
    }
</script>

<!--로그인 알람-->
<script>
    function checkLoginAndNavigate() {
        alert('로그인이 필요합니다.');
    }
</script>

<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">



    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss="sidebar is-show" id="sidebar">사이드바
                Fragment</aside>
            <!--  -->

            <!-- 메인 -->
            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <h3 class="uk-text-lead">BATTLE</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        헤더 뭐넣을지 아직
                    </div>
                    <div class="content-main">
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-1-5@xl profile-section">
                                <div class="profile-card">
                                    <a href="">
                                        <div class="profile-header">
                                            <div class="profile-image"><img src="../img/doyun_icon.png" alt="NO-IMAGE">
                                            </div>
                                            <div class="profile-user_info">
                                                <div class="profile-user-level-icon"><i
                                                        class="fa-solid fa-star-of-david ico_fontawesome"></i></div>
                                                <div class="profile-user_level"><span>99</span></div>
                                                <div class="profile-user_nick"><span>타락파워전사선조</span></div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="profile-dividing-line"></div>
                                    <div class="profile-main">
                                        <div class="profile-introduction">
                                            간단한 소개글
                                        </div>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-badge-section">
                                            <div class="badge-line">
                                                <span class="badge">&#127774;</span>
                                                <span class="badge">&#127775;</span>
                                                <span class="badge">&#127806;</span>
                                            </div>
                                            <div class="badge-line">
                                                <span class="badge">&#127851;</span>
                                                <span class="badge">&#127774;</span>
                                                <span class="badge">&#127775;</span>
                                            </div>
                                            <div class="badge-line">
                                                <span class="badge">&#127806;</span>
                                                <span class="badge">&#127851;</span>
                                                <span class="badge">&#127774;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-3-5@xl post-section">
                                <div class="post-info">
                                    <!-- Post title-->
                                    <div class="post-title">
                                        <span th:text="${post.postTitle}"></span>
                                    </div>
                                    <div class="line"></div>
                                    <div class="post-sub">
                                        <div class="writer"><span th:text="${post.member.memNick}">글쓴이</span></div>
                                        <div>
                                            <div class="date"><span
                                                    th:text="${#dates.format(post.updatedAt, 'yyyy-MM-dd')}">등록일</span>
                                            </div>
                                            <div class="hit"><span th:text="${'추천 : '+post.postLikeCnt}">추천수</span>
                                            </div>
                                            <div class="hit"><span th:text="${'조회 : '+post.postHit}">조회수</span></div>
                                            <!-- <div class="hit"><span>조회 : 123123213</span></div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="battle-info">
                                    <div>
                                        <div>
                                            <td>게임 : </td>
                                            <td>BattleGround</td>
                                        </div>
                                        <div>
                                            <td>포인트 : </td>
                                            <td>100,000</td>
                                        </div>
                                        <div>
                                            <td>신청 기한 : </td>
                                            <td>14:00 2024.01.14</td>
                                        </div>
                                        <div>
                                            <td>시작 시간 : </td>
                                            <td>15:00 2024.01.14</td>
                                        </div>
                                    </div>

                                </div>
                                <div class="post-text">
                                    이 경우 공무원 자신의 책임은 면제되지 아니한다, 대통령은 법률에서 구체적으로 범위를 정하여 위임받은 사항과 법률을 집행하기 위하여 필요한 사항에
                                    관하여 대통령령을 발할 수 있다. 군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에
                                    관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다, 국가원로자문회의의 조직·직무범위 기타 필요한 사항은
                                    법률로 정한다.
                                    각급 선거관리위원회는 선거인명부의 작성등 선거사무와 국민투표사무에 관하여 관계 행정기관에 필요한 지시를 할 수 있다, 그 재의를 요구할 수 있다.
                                    선거운동은 각급 선거관리위원회의 관리하에 법률이 정하는 범위안에서 하되. 다만.
                                    국회는 상호원조 또는 안전보장에 관한 조약. 농업생산성의 제고와 농지의 합리적인 이용을 위하거나 불가피한 사정으로 발생하는 농지의 임대차와 위탁경영은
                                    법률이 정하는 바에 의하여 인정된다. 국교는 인정되지 아니하며, 대통령은 제4항과 제5항의 규정에 의하여 확정된 법률을 지체없이 공포하여야 한다.
                                    언론·출판·집회·결사의 자유. 행정각부의 설치·조직과 직무범위는 법률로 정한다. 국가의 세입·세출의 결산. 법률이 정하는 바에 의하여 연임할 수 있다.
                                    제5항에 의하여 법률이 확정된 후 또는 제4항에 의한 확정법률이 정부에 이송된 후 5일 이내에 대통령이 공포하지 아니할 때에는 국회의장이 이를
                                    공포한다. 법원은 최고법원인 대법원과 각급법원으로 조직된다. 모든 국민은 법률이 정하는 바에 의하여 납세의 의무를 진다. 국가는 균형있는 국민경제의
                                    성장 및 안정과 적정한 소득의 분배를 유지하고.
                                    주거에 대한 압수나 수색을 할 때에는 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다, 국정의 중요한 사항에 관한 대통령의 자문에 응하기
                                    위하여 국가원로로 구성되는 국가원로자문회의를 둘 수 있다. 이 헌법시행 당시의 법령과 조약은 이 헌법에 위배되지 아니하는 한 그 효력을 지속한다,
                                    대통령은 전시·사변 또는 이에 준하는 국가비상사태에 있어서 병력으로써 군사상의 필요에 응하거나 공공의 안녕질서를 유지할 필요가 있을 때에는 법률이
                                    정하는 바에 의하여 계엄을 선포할 수 있다.
                                    국가는 전통문화의 계승·발전과 민족문화의 창달에 노력하여야 한다, 국회의원은 그 지위를 남용하여 국가·공공단체 또는 기업체와의 계약이나 그 처분에
                                    의하여 재산상의 권리·이익 또는 직위를 취득하거나 타인을 위하여 그 취득을 알선할 수 없다. 사영기업을 국유 또는 공유로 이전하거나 그 경영을 통제
                                    또는 관리할 수 없다, 제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다.
                                    국회는 회계연도 개시 30일전까지 이를 의결하여야 한다, 국회는 국무총리 또는 국무위원의 해임을 대통령에게 건의할 수 있다, 그 임기는 4년으로 하며.
                                    국민경제의 발전을 위한 중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다.
                                    체포·구속·압수 또는 수색을 할 때에는 적법한 절차에 따라 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 국회의원이 회기전에 체포 또는
                                    구금된 때에는 현행범인이 아닌 한 국회의 요구가 있으면 회기중 석방된다. 국가는 지역간의 균형있는 발전을 위하여 지역경제를 육성할 의무를 진다, 다만.
                                    법률이 정하는 바에 의하여 최저임금제를 시행하여야 한다. 1차에 한하여 중임할 수 있다. 대통령에 대한 탄핵소추는 국회재적의원 과반수의 발의와
                                    국회재적의원 3분의 2 이상의 찬성이 있어야 한다, 재판관은 대통령이 임명한다.
                                </div>
                            </div>
                            <!-- 신청 리스트 -->
                            <div class="uk-width-1-5@xl requests-section">
                                <div class="widjet --friend-requests">
                                    <div class="widjet__head">
                                        <div class="uk-text-lead title"><i
                                                class="fa-solid fa-users-between-lines ico_fontawesome"></i></div>
                                    </div>
                                    <div class="widjet__body">
                                        <ul class="friend-requests-list">
                                            <li class="friend-requests-item">
                                                <div class="friend-request-item-main">
                                                    <div class="level_icon"><i
                                                            class="fa-solid fa-star-of-david ico_fontawesome"></i></div>
                                                    <div class="level">
                                                        <div>34</div>
                                                    </div>
                                                    <div class="friend-requests-item__name">
                                                        <div>타락파워전사후예</div>
                                                    </div>
                                                </div>
                                                <div class="friend-request-item-header">
                                                    <div class="friend-requests-item__avatar"><img
                                                            src="../img/user-list-5.png" alt="user">
                                                    </div>
                                                    <div class="friend-requests-item__action">
                                                        <button class="fa-solid fa-check ico_fontawesome"
                                                            type="button"></button>
                                                        <button class="reject fa-solid fa-xmark ico_fontawesome"
                                                            type="button"></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-comment">
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-1-5@xl"></div>
                            <div class="uk-width-3-5@xl comment-section">
                                <div class="comment-section-header">
                                    <div><span>댓글</span></div>
                                    <div><span>등록순</span></div>
                                    <div><span>|</span></div>
                                    <div><span>최신순</span></div>
                                </div>

                                <div class="comment-section-main" th:each="commentNode : ${commentTree}">
                                    <!-- 댓글 내용 출력 -->
                                    <!-- 커멘트 헤더 -->
                                    <div class="comment-header">
                                        <span th:text="${commentNode.comment.member.memNick}"></span>
                                        <span th:text="${'('+#dates.format(commentNode.comment.updatedAt, 'yyyy-MM-dd hh:mm')+')'}"></span>
                                        <a th:if="${commentNode.comment.member.memNick==nickname}">
                                            <span class="delete-comment"
                                                th:attr="data-comment-id=${commentNode.comment.commentId}"
                                                style="cursor: pointer; color: red;"> x </span>
                                        </a>
                                    </div>
                                    <!-- 커멘트 내용 -->
                                    <div class="comment-main">
                                        <div class="comment_text" th:text="${commentNode.comment.commentContent}"></div>
                                    </div>
                                    <div>
                                        <!-- 대댓글 쓰기 -->
                                        <a th:if="${loginCheck}">
                                            <span class="reply-text"
                                                th:attr="data-comment-id=${commentNode.comment.commentId}"
                                                onclick="toggleReplyForm(this)">답글 쓰기</span>
                                            <div class="reply-form"
                                                th:attr="data-comment-id=${commentNode.comment.commentId}"
                                                style="display: none;">
                                                <form action="reply_comment_write_ok" method="post" name="rfrm"
                                                    id="rfrm">
                                                    <input type="hidden" name="board_cd"
                                                        th:value="${post.boardCd}" />
                                                    <input type="hidden" name="post_id" th:value="${post.postId}" />
                                                    <input type="hidden" name="cpage" th:value="${cpage}" />
                                                    <input type="hidden" id="parent_comment_id"
                                                        name="parent_comment_id"
                                                        th:value="${commentNode.comment.commentId}" />
                                                    <textarea name="rcontent"
                                                        th:id="'rcontent' + ${commentNode.comment.commentId}"
                                                        cols="" rows="" class="reply-textarea"
                                                        placeholder="댓글 내용을 입력하세요" style="width: 100%;"></textarea>
                                                    <input type="button" id="rbtn" value="답글 등록"
                                                        class="reply-button"
                                                        th:onclick="'submitReplyForm(' + ${commentNode.comment.commentId} + ' )'" />
                                                </form>
                                            </div>
                                        </a>
                                        <!-- 대댓글 표시 -->
                                        <div th:each="reply : ${commentNode.replies}">
                                            <div class="user-item__box">
                                                <strong><span
                                                        th:text="${reply.comment.member.memNick}"></span></strong>
                                                (<span
                                                    th:text="${#dates.format(reply.comment.updatedAt, 'yyyy-MM-dd hh:mm')}"></span>)
                                                <a th:if="${writePost}">
                                                    <span class="delete-comment"
                                                        th:attr="data-comment-id=${reply.comment.commentId}"
                                                        style="cursor: pointer; color: red;"> x </span>
                                                </a><br />
                                                <div class="coment_re_txt"
                                                    th:text="${reply.comment.commentContent}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <form action="comment_write_ok" method="post" name="cfrm">
                                    <input type="hidden" name="board_cd" th:value="${post.boardCd}" />
                                    <input type="hidden" name="cpage" th:value="${cpage}" />
                                    <input type="hidden" name="post_id" th:value="${post.postId}" />
                                    <table>
                                        <tr>
                                            <td class="bg01" width="100%">
                                                <!-- 내용 입력<br/> -->
                                                <textarea name="ccontent" cols="" rows="" class="coment_input_text"
                                                    placeholder="댓글 내용을 입력하세요" style="width: 100%;"></textarea>
                                            </td>
                                            <td align="right" class="bg01 bg02">
                                                <a th:if="${loginCheck}">
                                                    <!-- 로그인 상태인 경우의 댓글 작성 -->
                                                    <input type="button" id="cbtn" value="댓글등록" class="btn_re btn_txt01" />
                                                </a>
                                                <a th:unless="${loginCheck}" href="/login">
                                                    <!-- 로그인 상태가 아닌 경우 댓글 링크 -->
                                                    <input type="button" value="댓글등록" class="btn_re btn_txt01"
                                                        style="cursor: pointer;" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>


    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

</body>

</html>