<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main_custom.css" />
    <link rel="stylesheet" href="../css/battle.css" />
    <link rel="stylesheet" href="../css/battle_view.css" />

    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

</head>
<script type="text/javascript">
    // 답글 입력 폼의 표시/숨김을 토글
    function toggleReplyForm(span) {
        const commentId = span.getAttribute("data-comment-id");
        const replyForm = document.querySelector(`.reply-form[data-comment-id="${commentId}"]`);
        replyForm.style.display = replyForm.style.display === "none" ? "block" : "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        let logo_img_paths = [getContextPath()+"/img/logo_white.png", getContextPath()+"/img/logo_black.png"];
        const vs = document.querySelectorAll('.vs img');
        let isDark = getCookie('darkMode');
        vs.forEach(function(x){
                if (isDark === 'Y') {
                    x.src = logo_img_paths[0];
                }
                else {
                    x.src = logo_img_paths[1];
                }
            })
        document.getElementById("toggle").addEventListener("click", function () {
            isDark = getCookie('darkMode');
            vs.forEach(function(x){
                if (isDark === 'Y') {
                    x.src = logo_img_paths[0];
                }
                else {
                    x.src = logo_img_paths[1];
                }
            })
        });
        const active = document.getElementById("nav-battle");
        active.classList.add("uk-active");
        const pointBarLefts = document.querySelectorAll(".info-center-left .info-point-bar");
        const pointBarRights = document.querySelectorAll(".info-center-right .info-point-bar");

        const pointLefts = document.querySelectorAll(".info-center-left .info-point-percent");
        const pointRights = document.querySelectorAll(".info-center-right .info-point-percent");

        for (let i = 0; i < pointBarLefts.length; i++) {
            let pointBarLeft = pointBarLefts.item(i);
            pointBarLeft.style.width = pointLefts[i].innerHTML;
            pointBarLeft.style.backgroundColor = getColorRatio(Number(pointLefts[i].innerHTML.replace("%", "")));
            pointLefts[i].style.color = getColorRatio(Number(pointLefts[i].innerHTML.replace("%", "")));

            let pointBarRight = pointBarRights.item(i);
            pointBarRight.style.width = pointRights[i].innerHTML;
            pointBarRight.style.backgroundColor = getColorRatio(Number(pointRights[i].innerHTML.replace("%", "")));
            pointRights[i].style.color = getColorRatio(Number(pointRights[i].innerHTML.replace("%", "")));
        }

        // 댓글 작성 확인 함수 부분
        document.getElementById('cbtn').addEventListener('click', function () {
            document.getElementsByName("ccontent").value;
            document.getElementsByName("postId").value;
            document.cfrm.submit();
        });
        // 댓글 삭제 확인
        const deleteButtons = document.getElementsByClassName("delete-comment");
        Array.from(deleteButtons).forEach(button => {
            button.addEventListener('click', function () {
                const commentId = button.getAttribute("data-comment-id");
                console.log('클릭');

                const form = document.getElementById('dcfrm');
                const commentIdInput = document.createElement('input');
                commentIdInput.type = 'hidden';
                commentIdInput.name = 'comment_id';
                commentIdInput.value = commentId;
                form.appendChild(commentIdInput);
                document.getElementsByName("rcontent").value;
                // form을 submit
                form.submit();
            });
        });
    });
</script>
<script>
    function formatNumberTok(value) {
        var formattedValue = value > 999999 ? (value / 1000000).toFixed(1) + 'm' : (value > 999 ? (value / 1000).toFixed(1) + 'k' : value);
        return formattedValue;
    }
    function getColorRatio(bettingRatio) {
        if (bettingRatio >= 90) {
            return '#FF0000'; // 빨간색
        } else if (bettingRatio >= 70) {
            return '#FFA500'; // 주황색
        } else if (bettingRatio >= 50) {
            return '#00FF00'; // 연두색
        } else if (bettingRatio >= 30) {
            return '#00F0FF'; // 민트색
        } else {
            return '#0FCFA5'; // 검은색
        }
    }
    function submitReplyForm(parent_comment_id) {
        var use = "rcontent" + parent_comment_id;
        var rcontent = document.getElementById(use).value;
        var boardCd = /*[[${ post.boardCd }]]*/'00000';
        var postId = /*[[${ post.postId }]]*/27;
        var cpage = /*[[${ cpage }]]*/1;
        var parent_comment_id = parent_comment_id;

        console.log("rcontent : " + rcontent);
        console.log("boardCd : " + boardCd);
        console.log("postId : " + postId);
        console.log("cpage : " + cpage);
        console.log("parent_comment_id : " + parent_comment_id);

        var replyHref = `reply_comment_write_ok?board_cd=${boardCd}&post_id=${postId}&cpage=${cpage}&rcontent=${rcontent}&parent_comment_id=${parent_comment_id}`;
        console.log(replyHref);
        window.location.href = replyHref;
    }
</script>

<!--로그인 알람-->
<script>
    function checkLoginAndNavigate() {
        alert('로그인이 필요합니다.');
    }
</script>

<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">



    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss="sidebar is-show" id="sidebar">사이드바
                Fragment</aside>
            <!--  -->

            <!-- 메인 -->
            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <a th:href="@{/battle}"><h3 class="uk-text-lead">BATTLE</h3></a>
                    </div>
                </div>
                <div class="content">
                    <div class="content-header">
                        헤더 뭐넣을지 아직
                    </div>
                    <div class="content-main">
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-1-5@xl profile-section">
                                <div class="profile-card">
                                    <a href="">
                                        <div class="profile-header">
                                            <div class="profile-image"><img src="../img/doyun_icon.png" alt="NO-IMAGE">
                                            </div>
                                            <div class="profile-user_info">
                                                <div class="profile-user-level-icon"><i
                                                        class="fa-solid fa-star-of-david ico_fontawesome"></i></div>
                                                <div class="profile-user_level"><span th:text="${post.member.memLvl}">99</span></div>
                                                <div class="profile-user_nick"><span th:text="${post.member.memNick}">타락파워전사선조</span></div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="profile-dividing-line"></div>
                                    <div class="profile-main">
                                        <div class="profile-introduction">
                                            간단한 소개글
                                        </div>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-badge-section">
                                            <div class="badge-line">
                                                <span class="badge">&#127774;</span>
                                                <span class="badge">&#127775;</span>
                                                <span class="badge">&#127806;</span>
                                            </div>
                                            <div class="badge-line">
                                                <span class="badge">&#127851;</span>
                                                <span class="badge">&#127774;</span>
                                                <span class="badge">&#127775;</span>
                                            </div>
                                            <div class="badge-line">
                                                <span class="badge">&#127806;</span>
                                                <span class="badge">&#127851;</span>
                                                <span class="badge">&#127774;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-3-5@xl post-section">
                                <div class="post-info">
                                    <!-- Post title-->
                                    <div class="post-title">
                                        <span th:text="${post.postTitle}"></span>
                                    </div>
                                    <div class="line"></div>
                                    <div class="post-sub">
                                        <div class="writer"><span th:text="${post.member.memNick}">글쓴이</span></div>
                                        <div>
                                            <div class="date"><span
                                                    th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}">등록일</span>
                                            </div>
                                            <div class="hit"><span th:text="${'추천 : '+post.postLikeCnt}">추천수</span>
                                            </div>
                                            <div class="hit"><span th:text="${'조회 : '+post.postHit}">조회수</span></div>
                                            <!-- <div class="hit"><span>조회 : 123123213</span></div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="battle-info">
                                    <div>
                                        <div>
                                            <div class="battle-info-key">게임 : </div>
                                            <div class="battle-info-value" th:text="${bto.gameCd}">BattleGround</div>
                                        </div>
                                        <div>
                                            <div class="battle-info-key">포인트 : </div>
                                            <div class="battle-info-value" th:text="${#numbers.formatInteger(#numbers.formatInteger(bto.point,0),0,'COMMA')}">100,000</div>
                                        </div>
                                        <div>
                                            <div class="battle-info-key">신청 기한 : </div>
                                            <div class="battle-info-value" th:text="${bto.deadlineDt}">14:00 2024.01.14</div>
                                        </div>
                                        <div>
                                            <div class="battle-info-key">시작 시간 : </div>
                                            <div class="battle-info-value" th:text="${bto.startDt}">15:00 2024.01.14</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="post-text" th:text="${post.postContent}">
                                    게시글 내용
                                </div>
                                <!-- 베팅 정보 -->
                                <div class="betting-section">
                                    <div class="battle-card --horizontal hot-battle">
                                        <div class="battle-card__box">
                                            <div class="battle-card-info" th:attr="btId = ${bto.btId}">
                                                <div class="info-sub">
                                                    <div class="info-state">
                                                        <div th:if="${bto.state=='A'}" class="A">베팅 가능!</div>
                                                        <div th:if="${bto.state=='P'}" class="P">진행중</div>
                                                        <div th:if="${bto.state=='T'}" class="T">종료됨</div>
                                                    </div>
                                                </div>
                                                <div class="info-center">
                                                    <div class="info-center-left">
                                                        <div class="info-center-header">
                                                            <div class="info-point-header-list">
                                                                <div class="info-point-amount">
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                                    </div>
                                                                    <div class="host-total-point" th:utext="'<script>' +
                                                                        'var value = ' + ${pto.hostTotalPoint} + ';' +
                                                                        'var formattedValue = formatNumberTok(value);' +
                                                                        'document.write(formattedValue);' +
                                                                        '</script>'">
                                                                        72.3</div>
                                                                </div>
                                                                <div class="info-point-pno">
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-user ico_fontawesome"></i>
                                                                    </div>
                                                                    <div class="host-total-mem-no"
                                                                        th:text="${pto.hostTotalMemNo}">
                                                                        0</div>
                                                                </div>
                                                                <div class="info-point-ratio">
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-gem ico_fontawesome"></i>
                                                                    </div>
                                                                    <div class="host-point-reward-ratio"
                                                                        th:text="${'X '+pto.hostPointRewardRatio}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-point-percent host-point-ratio"
                                                                th:text="${pto.hostPointRatio+'%'}">
                                                                75%</div>
                                                        </div>
                                                        <div class="info-point-bar-box">
                                                            <div class="info-point-bar"></div>
                                                        </div>
                                                    </div>
            
                                                    <div class="vs"><img src="../img/logo_white.png"></div>
            
                                                    <div class="info-center-right">
                                                        <div class="info-center-header">
                                                            <div class="info-point-percent client-point-ratio"
                                                                th:text="${pto.clientPointRatio+'%'}">
                                                                25%</div>
                                                            <div class="info-point-header-list">
                                                                <div class="info-point-amount">
                                                                    <div class="client-total-point" th:utext="'<script>' +
                                                                        'var value = ' + ${pto.clientTotalPoint} + ';' +
                                                                        'var formattedValue = formatNumberTok(value);' +
                                                                        'document.write(formattedValue);' +
                                                                        '</script>'">
                                                                        72.3</div>
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="info-point-pno">
                                                                    <div class="client-total-mem-no"
                                                                        th:text="${pto.clientTotalMemNo}">
                                                                        0</div>
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-user ico_fontawesome"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="info-point-ratio">
                                                                    <div class="client-point-reward-ratio"
                                                                        th:text="${pto.clientPointRewardRatio+' X'}">
                                                                    </div>
                                                                    <div class="icon_box">
                                                                        <i class="fa-solid fa-gem ico_fontawesome"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="info-point-bar-box">
                                                            <div class="info-point-bar"></div>
                                                        </div>
                                                    </div>
                                                </div>
            
            
                                                <div class="betting-section">
                                                    <div class="point-betting" th:id="'bettingId' + ${bto.btId}">
                                                        <div th:if="${pto.flag==0}"
                                                            class="point-betting-button" style="background-color: blueviolet; box-shadow: rgba(138,43,226,0.5) 0px 0px 17px 3px;">HOST
                                                        </div>
                                                        <div th:unless="${pto.flag==0}"
                                                            class="point-betting-button" active="F"
                                                            th:onclick="'betPoint(' + ${bto.btId} + ', 0)'">HOST</div>

                                                        <div class="search">
                                                            <div class="search__input">
                                                                <i class="fa-solid fa-coins ico_fontawesome"></i>
                                                                <battleStateCheck th:if="${bto.state=='A'}">
                                                                    <logincheck th:if="${nickname}">
                                                                        <input
                                                                            th:unless="${pto.alreadyBet==1}"
                                                                            class="point-betting-input" type="search" name="search"
                                                                            placeholder="BETTING HERE">
                                                                        <input
                                                                            th:if="${pto.alreadyBet==1}"
                                                                            class="point-betting-input" type="search" name="search"
                                                                            placeholder="YOU ALREADY BET" readonly>
                                                                    </logincheck>
                                                                    <input th:unless="${nickname}" class="point-betting-input"
                                                                        type="search" name="search" placeholder="LOGIN FIRST"
                                                                        readonly>
                                                                </battleStateCheck>
                                                                <battleStateCheck th:if="${bto.state=='P'}">
                                                                    <input class="point-betting-input" type="search" name="search"
                                                                        placeholder="PROCEEDING" readonly>
                                                                </battleStateCheck>
                                                                <battleStateCheck th:if="${bto.state=='T'}">
                                                                    <input class="point-betting-input" type="search" name="search"
                                                                        placeholder="TERMINATED" readonly>
                                                                </battleStateCheck>
                                                            </div>
                                                        </div>

                                                        <div th:if="${pto.flag==1}"
                                                            class="point-betting-button" style="background-color: blueviolet; box-shadow: rgba(138,43,226,0.5) 0px 0px 17px 3px;">CLIENT
                                                        </div>
                                                        <div th:unless="${pto.flag==1}"
                                                            class="point-betting-button" active="F"
                                                            th:onclick="'betPoint(' + ${bto.btId} + ', 1)'">CLIENT</div>
                                                    </div>
                                                </div>
                                            </div>
            
            
                                            <div class="battle-profile-right">
                                                
                                                <div class="battle-profile-info">
                                                    <div class="battle-profile-nickname">
                                                        <div class="battle-profile-lvl" th:text="'Lv ' + ${bto.clientLvl}">Lv30
                                                        </div>
                                                        <div th:text="${bto.clientNick}"></div>
                                                    </div>
                                                    <div class="battle-profile-history">
                                                        <div>
                                                            <div class="battle-profile-win" th:text="${bto.clientWin}+' 승'">77 승
                                                            </div>
                                                            <div>&nbsp;/&nbsp;</div>
                                                            <div class="battle-profile-lose" th:text="${bto.clientLose}+' 패'">25
                                                                패</div>
                                                        </div>
                                                        <div
                                                            th:with="total = ${(bto.clientWin + bto.clientLose)}, rate=${(bto.clientWin * 100.0 / total)}">
                                                            <div th:if="${total > 0}" class="battle-profile-win-rate"
                                                                th:text="${#numbers.formatPercent(rate / 100, 2, 2)}">75.4%</div>
                                                            <div th:if="${total == 0}" class="battle-profile-win-rate">0%</div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-main">
                                                        <div class="profile-dividing-line"></div>
                                                        <div class="profile-badge-section">
                                                            <div class="badge-line">
                                                                <span class="badge">&#127774;</span>
                                                                <span class="badge">&#127775;</span>
                                                                <span class="badge">&#127806;</span>
                                                            </div>
                                                            <div class="badge-line">
                                                                <span class="badge">&#127851;</span>
                                                                <span class="badge">&#127774;</span>
                                                                <span class="badge">&#127775;</span>
                                                            </div>
                                                            <div class="badge-line">
                                                                <span class="badge">&#127806;</span>
                                                                <span class="badge">&#127851;</span>
                                                                <span class="badge">&#127774;</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="like-section">
                                    <div>
                                        <div class="like" th:onclick="">
                                            <div class="no" th:text="${post.postLikeCnt}">23344</div>
                                            <i class="fa-solid fa-thumbs-up ico_fontawesome"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dislike" th:onclick="">
                                            <div class="no" th:text="${post.postDislikeCnt}">234</div>
                                            <i class="dislike fa-solid fa-thumbs-down ico_fontawesome"></i>
                                        </div>
                                    </div>
                                </div> 
                                <div class="comment-section">
                                    <div class="comment-section-header">
                                        <div>
                                            <span>댓글</span>
                                            <span th:text="'['+${post.postCommentCnt}+']'"></span>
                                        </div>
                                        <div>
                                            <div><span>등록순</span></div>
                                            <div><span>|</span></div>
                                            <div><span>최신순</span></div>
                                        </div>
                                    </div>
    
                                    <div class="comment-section-main" th:each="commentNode : ${commentTree}">
                                        <!-- 댓글 내용 출력 -->
                                        <!-- 커멘트 헤더 -->
                                        <div class="comment-header">
                                            <div class="comment-user-info">
                                                <span th:text="${commentNode.comment.member.memNick}">댓글닉네임</span>
                                                <span
                                                    th:text="${'('+#dates.format(commentNode.comment.updatedAt, 'yyyy-MM-dd hh:mm')+')'}">댓글 날짜</span>
                                                <!-- 댓글 삭제 버튼 -->
                                                <div th:if="${commentNode.comment.member.memNick==nickname}">
                                                    <span class="delete-comment"
                                                        th:attr="data-comment-id=${commentNode.comment.commentId}"
                                                        style="cursor: pointer; color: red;"> 
                                                        <i class="fa-solid fa-xmark ico_fontawesome"></i> 
                                                    </span>
                                                </div>
                                            </div>
                                            
                                            <div class="like-section">
                                                <div class="like" th:onclick="">
                                                    <div class="no" th:text="${commentNode.comment.commentLikeCnt}">23344</div>
                                                    <i class="fa-solid fa-thumbs-up ico_fontawesome"></i>
                                                </div>
                                                <div class="dislike" th:onclick="">
                                                    <div class="no" th:text="${commentNode.comment.commentDislikeCnt}">234</div>
                                                    <i class="dislike fa-solid fa-thumbs-down ico_fontawesome"></i>
                                                </div>
                                            </div>    
                                        </div>
                                        <!-- 커멘트 내용 -->
                                        <div class="comment-main">
                                            <div class="comment-text" th:text="${commentNode.comment.commentContent}"></div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="comment-footer">
                                            <div class="reply-section">
                                                <span class="reply-text" style="cursor: pointer;"
                                                    th:attr="data-comment-id=${commentNode.comment.commentId}"
                                                    onclick="toggleReplyForm(this)">답글</span>
                                            </div>
                                            <!-- 대댓글 쓰기 -->
                                            <div class="reply-form" style="display: none;"
                                                th:attr="data-comment-id=${commentNode.comment.commentId}">
                                                <form action="reply_comment_write_ok" method="post" name="rfrm" id="rfrm">
                                                    <input type="hidden" name="board_cd" th:value="${post.boardCd}" />
                                                    <input type="hidden" name="post_id" th:value="${post.postId}" />
                                                    <input type="hidden" name="cpage" th:value="${cpage}" />
                                                    <input type="hidden" id="parent_comment_id" name="parent_comment_id"
                                                        th:value="${commentNode.comment.commentId}" />
                                                    <div class="comment-input">
                                                        <textarea th:id="'rcontent' + ${commentNode.comment.commentId}"
                                                            name="ccontent" cols="" rows="" class="comment_input_text"
                                                            placeholder="댓글 내용을 입력하세요"></textarea>
                                                        <div class="button-section">
                                                            <a th:if="${nickname}">
                                                                <!-- 로그인 상태인 경우의 댓글 작성 -->
                                                                <input id="rbtn" type="button" value="등록"
                                                                    class="btn_re btn_txt01"
                                                                    th:onclick="'submitReplyForm(' + ${commentNode.comment.commentId} + ' )'" />
                                                            </a>
                                                            <a th:unless="${nickname}" href="/login">
                                                                <!-- 로그인 상태가 아닌 경우 댓글 링크 -->
                                                                <input type="button" value="등록" class="btn_re btn_txt01"
                                                                    style="cursor: pointer;" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- 대댓글 표시 -->
                                            <!-- <div th:each="reply : ${commentNode.replies}">
                                                <div class="user-item__box">
                                                    <strong><span th:text="${reply.comment.member.memNick}"></span></strong>
                                                    (<span
                                                        th:text="${#dates.format(reply.comment.updatedAt, 'yyyy-MM-dd hh:mm')}"></span>)
                                                    <a th:if="${writePost}">
                                                        <span class="delete-comment"
                                                            th:attr="data-comment-id=${reply.comment.commentId}"
                                                            style="cursor: pointer; color: red;"> <i class="fa-solid fa-xmark ico_fontawesome"></i> </span>
                                                    </a><br />
                                                    <div class="coment_re_txt" th:text="${reply.comment.commentContent}">
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
    
                                    <form th:action="@{/comment_write_ok}" method="post" name="cfrm">
                                        <input type="hidden" name="board_cd" th:value="${post.boardCd}" />
                                        <input type="hidden" name="cpage" th:value="${0}" />
                                        <input type="hidden" name="post_id" th:value="${post.postId}" />
                                        <div class="comment-input-section">
                                            <div class="header">
                                                <div th:if="${nickname}" th:text="${nickname}"></div>
                                                <div th:unless="${nickname}">USER</div>
                                            </div>
                                            <div class="main comment-input">
                                                <textarea name="ccontent" cols="" rows="" class="comment_input_text"
                                                    placeholder="댓글 내용을 입력하세요"></textarea>
                                                <div class="button-section">
                                                    <a th:if="${nickname}">
                                                        <!-- 로그인 상태인 경우의 댓글 작성 -->
                                                        <input type="button" id="cbtn" value="등록"
                                                            class="btn_re btn_txt01" />
                                                    </a>
                                                    <a th:unless="${nickname}" href="/login">
                                                        <!-- 로그인 상태가 아닌 경우 댓글 링크 -->
                                                        <input type="button" value="등록" class="btn_re btn_txt01"
                                                            style="cursor: pointer;" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 신청 리스트 -->
                            <div class="uk-width-1-5@xl requests-section">
                                <div class="widjet --friend-requests">
                                    <div class="widjet__head">
                                        <div class="uk-text-lead title"><i
                                                class="fa-solid fa-users-between-lines ico_fontawesome"></i></div>
                                    </div>
                                    <div class="widjet__body">
                                        <ul class="friend-requests-list">
                                            <li class="friend-requests-item" th:each="applicant : ${applicants}">
                                                <div class="friend-request-item-main">
                                                    <div class="level_icon"><i
                                                            class="fa-solid fa-star-of-david ico_fontawesome"></i></div>
                                                    <div class="level">
                                                        <div th:text="${applicant[4]}">34</div>
                                                    </div>
                                                    <div class="friend-requests-item__name">
                                                        <div th:text="${applicant[3]}">타락파워전사후예</div>
                                                    </div>
                                                </div>
                                                <div class="friend-request-item-header">
                                                    <div class="friend-requests-item__avatar"><img
                                                            src="../img/user-list-5.png" alt="user">
                                                    </div>
                                                    <div class="friend-requests-item__action">
                                                        <button class="fa-solid fa-check ico_fontawesome"
                                                            type="button"></button>
                                                        <button class="reject fa-solid fa-xmark ico_fontawesome"
                                                            type="button"></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="request_btn">신&nbsp;청</div>
                            </div>
                        </div>
                    </div>
                    <div class="content-footer">
                        <div class="button-section">
                            <div th:if="${post.member.memNick==nickname}">
                                <!-- 본인이 작성한 글이면 보임 -->
                                <a th:href="@{modify(post_id=${post.postId}, cpage=${cpage})}">
                                    <input type="button" value="수정" class="btn_re">
                                </a>
                                <a th:href="@{delete(post_id=${post.postId}, cpage=${cpage})}">
                                    <input type="button" value="삭제" class="btn_re">
                                </a>
                            </div>
                            <div>
                                <a th:href="@{list(board_cd=${post.boardCd}, cpage=${cpage})}"><input type="button"
                                        value="목록" class="btn_re"></a>
                                <a th:if="${nickname}" th:href="@{write(board_cd=${post.boardCd})}">
                                    <!-- 로그인 상태인 경우의 링크 -->
                                    <input type="button" value="쓰기" class="btn_re">
                                </a>
                                <a th:unless="${nickname}" href="/login">
                                    <!-- 로그인 상태가 아닌 경우의 링크 -->
                                    <input type="button" value="쓰기" class="btn_re" onclick="checkLoginAndNavigate()">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>


    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

</body>

</html>