<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/list_custom.css" />
    <script src="../js/module/swiper.js"></script>
    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

</head>
<script th:if="${message}">
    alert("[[${message}]]");
    // 추가적인 동작 수행
    // 예: 페이지 리로딩
    // location.reload();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("[[${navBoard}]]");
        active.classList.add("uk-active");
        const submenu = active.parentNode;
        submenu.classList.remove("none");
    });
</script>
<!--모든 기능 다 합친 스크립트-->
<script>
    function onSelect() {
        var selectedSize = document.getElementById("categorySelect").value;
        var selectedOption = document.getElementById("s_btn").value;
        var searchValue = document.getElementById("s_txt_btn").value;
        var selectTag = document.getElementById("list_tag").value;

        console.log("selectedSize:", selectedSize);
        console.log("selectedOption:", selectedOption);
        console.log("searchValue:", searchValue);
        console.log("selectTag:", selectTag);

        //alert('확인');

        location.href = "./list_MixList?board_cd=" + "[[${boardCd}]]" +"&selectedOption=" + selectedOption +"&searchValue=" + searchValue + "&selectedSize=" + selectedSize +"&selectTag=" + selectTag;
    }
    function reSelect(){
        location.href = "./list?board_cd=" + "[[${boardCd}]]";
    }
</script>



<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">



    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss = "sidebar is-show" id="sidebar">사이드바 Fragment</aside>
            <!--  -->

            <!-- 메인 -->
            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <h3 class="uk-text-lead" th:text='${boardCd_name}'></h3>
                    </div>
                    <div class="widjet__body">
                        <div class="uk-grid uk-child-width-1-6@xl uk-child-width-1-4@l uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                            <div class="uk-width-1-6">
                                <select class="js-select" id="list_tag" onchange="onSelect()">
                                    <option value="All" th:selected="${list_tag == 'All'}">All</option>
                                    <option value="LeagueofLegends" th:selected="${list_tag == 'LeagueofLegends'}">LeagueofLegends</option>
                                    <option value="BattleGround" th:selected="${list_tag == 'BattleGround'}">BattleGround</option>
                                    <option value="Steam" th:selected="${list_tag == 'Steam'}">Steam</option>
                                </select>
                            </div>
                            <div class="uk-width-1-6"><select class="js-select" id="s_btn">
                                <option value="title" th:selected="${list_search == 'title'}">제목</option>
                                <option value="content" th:selected="${list_search == 'content'}">내용</option>
                                <option value="title_content" th:selected="${list_search == 'title_content'}">제목+내용</option>
                                <option value="writer" th:selected="${list_search == 'writer'}">글쓴이</option>
                            </select></div>
                            <div class="search uk-width-2-3" >
                                <!-- <div class="search"> -->
                                    <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search" id="s_txt_btn" th:value="${searchValue}"></div>
                                    <div class="search__btn"><button type="button" onclick="onSelect()"><i class="ico_search"></i></button></div>
                                    &nbsp;
                                    &nbsp;
                                    <!-- &nbsp; -->
                                    <div class="search__refresh"><button type="button" style="float: right;" onclick="reSelect()"><i class="fa-solid fa-rotate-right"></i></button></div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widjet --filters">
                    <div class="widjet__body">
                        <div class="widjet_color uk-grid uk-child-width-1-1@xl uk-child-width-1-1@xl uk-child-width-1-1@s uk-flex-middle uk-grid-small" data-uk-grid>
                                <!--게시판 코드 들어가는 장소-->
                                <!-- <div class="con_txt"> -->
                                <div class="widjet_size widjet-game__title">
                                    <input type="hidden" name="board_cd" th:value="${boardCd}" />
                                    <div class="uk-width-1-1 uk-flex uk-flex-right">
                                        <div class="list_Count">
                                            <select class="list_Count_list js-select" id="categorySelect" onchange="onSelect()">
                                                <option value="10" th:selected="${recpage == 10}">10개씩</option>
                                                <option value="20" th:selected="${recpage == 20}">20개씩</option>
                                                <option value="30" th:selected="${recpage == 30}">30개씩</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="board_top">
                                        <table width="100%">
                                            <tr class="board_top_tr">
                                                <th width="10%" >번호</th>
                                                <th >제목</th>
                                                <th width="20%" >글쓴이</th>
                                                <th width="17%" >등록일</th>
                                                <th width="10%" >조회</th>
                                            </tr>
                                            <tr class="board_center_tr" th:each="post, rowStat : ${lists}">
                                                <td th:text="${boardCd + post.postId}" style="text-align: center;"></td>
                                                <td class="left">
                                                    <!--게시물 클릭시 이동하도록 하는 구문-->
                                                    <a class="board_ccenter_tr_a" th:href="@{view(board_cd=${post.boardCd}, post_id=${post.postId}, cpage=${cpage.cpage})}" th:text="'[' + ${post.postTags} + '] ' + ${post.postTitle}"></a>
                                                    <!--게시물 댓글 갯수-->
                                                    <span th:text="'[' + ${post.postCommentCnt}  + ']'"></span>
                                                    <!--새로운 글 작성시 보여지는 new 표시-->
                                                    <span th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') == #dates.format(post.createdAt, 'yyyy-MM-dd')}">
                                                        <img src="../img/icon_new.gif" alt="NEW">
                                                    </span>
                                                </td>
                                                <!--닉네임-->
                                                <td style="text-align: center;" th:text="${post.member.memNick}"></td>
                                                <!--글쓴 날짜-->
                                                <td style="text-align: center;" th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}"></td>
                                                <!--조회수-->
                                                <td style="text-align: center;" th:text="${post.postHit}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--게시판-->
                                    <!-- <div class="board">
                                    </div> -->
                                    <br>
                                    <div class="uk-grid uk-child-width-1-3@xl uk-child-width-1-3@s uk-child-width-1-1@s uk-flex-middle uk-flex-right uk-grid-small btn_area" data-uk-grid>
                                        <!--페이지넘버-->
                                        <div class="paginate_regular uk-flex-middle" style="text-align: center;">
                                            <div align="absmiddle">
                                                <span th:if="${cpage.startBlock} == 1">
                                                    <a>&lt;&lt;</a>
                                                </span>
                                                <span th:unless="${cpage.startBlock} == 1">
                                                    <a th:href="@{'list?board_cd=' + ${boardCd} + '&cpage=' + ${(cpage.startBlock - cpage.blockPerPage)}}">&lt;&lt;</a>
                                                </span>
                                                &nbsp;
                                                <span th:if="${cpage.cpage} == 1">
                                                    <a>&lt;</a>
                                                </span>
                                                <span th:unless="${cpage.cpage} == 1">
                                                    <a th:href="@{'list?board_cd=' + ${boardCd} + '&cpage=' + ${(cpage.cpage - 1)}}">&lt;</a>
                                                </span>
                                                &nbsp;&nbsp;
                                                <th:block th:each="i: ${#numbers.sequence(cpage.startBlock, cpage.totalPage)}">
                                                    <span th:if="${i == cpage.cpage}">
                                                        <a th:text="'[' + ${i} + ']'"></a>
                                                    </span>
                                                    <span th:unless="${i == cpage.cpage}">
                                                        <a th:href="@{'list?board_cd=' + ${boardCd} + '&cpage=' + ${i}}" th:text="${i}"></a>
                                                    </span>
                                                </th:block>
                                                &nbsp;&nbsp;
                                                <span th:if="${cpage.cpage == cpage.totalPage}">
                                                    <a>&gt;</a>
                                                </span>
                                                <span th:unless="${cpage.cpage == cpage.totalPage}">
                                                    <a th:href="@{'list?board_cd=' + ${boardCd} +  '&cpage='+ ${(cpage.cpage + 1)}}">&gt;</a>
                                                </span>
                                                &nbsp;

                                                <span th:if="${cpage.endBlock == cpage.totalPage}">
                                                    <a>&gt;&gt;</a>
                                                </span>
                                                <span th:unless="${cpage.endBlock == cpage.totalPage}">
                                                    <a th:href="@{'list?board_cd=' + ${boardCd} + '&cpage=' + ${(cpage.startBlock + cpage.blockPerPage)}}">&gt;&gt;</a>
                                                </span>
                                            </div>
                                        </div>
                                        <!--//페이지넘버-->
                                        <div class="align_right" style="text-align: right;" >
                                            <!-- 로그인 상태인 경우의 링크 -->
                                            <a th:href="@{write(board_cd=${boardCd})}">
                                                <input type="button" value="쓰기" class="btn_write btn_txt01">
                                            </a>
                                        </div>
                                    </div>    <!--//게시판-->
                                </div>
                        </div>
                    </div>
                </div>
                <!-- <br> -->
                <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
            </main>
        </div>
    </div>
    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

    <script>
        document.getElementById("s_txt_btn").addEventListener("keyup", function(event){
            if(event.key == "Enter"){
                onSelect();
            }
        });
    </script>
</body>

</html>
