<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/list_custom.css" />
    
    <script src="../js/module/swiper.js"></script>
    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("[[${navBoard}]]");
        active.classList.add("uk-active");
        const submenu = active.parentNode;
        submenu.classList.remove("none");
    });
</script>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById( 'wbtn' ).onclick = function() {
            if( document.wfrm.subject.value.trim() == '' ) {
                alert( '제목을 입력하셔야 합니다' );
                return;
            }
            document.wfrm.submit();
        }
    }
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/11ke68tblqi9bteupd15i02mhw6968shdr0dv7jih3vpigpm/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
</script>

<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">



    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss = "sidebar is-show" id="sidebar">사이드바 Fragment</aside>
            <!--  -->

            <!-- 메인 -->
            <main class="page-main">
                <div class="widjet --filters">
                    <div class="widjet__head">
                        <h3 class="uk-text-lead" th:text='${boardCd_name}'></h3>
                    </div>
                </div>
                <div class="widjet --filters">
                    <div class="widjet__body">
                        <div class="uk-grid uk-child-width-1-1@xl uk-child-width-1-1@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                            <div class="uk-width-1-1">
                                <!--게시판 코드 들어가는 장소-->
                                <!-- <div class="con_txt"> -->
                                <div class="widjet-game__title">
                                    <form action="write_ok" method="post" name="wfrm">
                                        <input type="hidden" name="board_cd" th:value="${board_cd}" />
                                        <div class="contents_sub">	
                                            <!--게시판-->
                                            <div class="board_write">
                                                <div class="form-container uk-grid uk-child-width-1-2@xl uk-child-width-1-1@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                                    <div class="form-row uk-width-1-6">
                                                        <!-- <label for="tags" class="form-label">태그</label> -->
                                                        <select class="board_write_select js-select" name="tags">
                                                            <option value="All">All</option>
                                                            <option value="LeagueofLegends">LeagueofLegends</option>
                                                            <option value="BattleGround">BattleGround</option>
                                                            <option value="Steam">Steam</option>
                                                        </select>
                                                    </div>
                                                    <div class="uk-width-3-4">
                                                        <!-- <label for="subject" class="form-label">제목</label> -->
                                                        <input type="text" maxlength="30" name="subject" value="" class="board_view_input uk-width-expand" >
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <!-- <div class="form-row">
                                                <label for="content" class="form-label">내용</label>
                                            </div> -->
                                            <div class="form-input">
                                                <textarea name="content" class="board_editor_area"></textarea>
                                            </div>
                                            <div class="uk-grid uk-child-width-1-1@xl uk-child-width-1-1@xl uk-child-width-1-1@s uk-flex-middle uk-grid-small btn_area" data-uk-grid>
                                                <div class="width-1-2 uk-flex uk-flex-between">
                                                    <a th:href="@{list(board_cd=${board_cd})}"><input type="button" value="목록" class="btn_list btn_txt02" style="cursor: pointer;"></a>
                                                    <div class="align_left">
                                                        <input type="button" id="wbtn" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;" />
                                                    </div>
                                                <!--//게시판-->
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

            </main>
        </div>
    </div>
    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

</body>

</html>
