<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <!-- 메인 자바스크립트 -->
        <script src="js/JavaScript.js"></script>
        <!-- 메인 스타이 css -->
        <link rel="stylesheet" href="./css/style.css">
        <title>메인페이지</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1><a href="index"><img src="http://placehold.it/300x70?text=logo" alt="logo"></a></h1>
                <div id="login">
                    <p><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-user" alt="마이페이지" title="마이페이지"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-headphones" alt="고객센터"title="고객센터"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-magnifying-glass" alt="검색"title="검색"></i></a><input type="text" size="12px"></p>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">공지사항</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="#">대전 / 협동</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="list">게시판</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="#">마이 페이지</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <!-- <li><a href="#">고객센터</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li> -->
                    </ul>
                </nav>
            </header>
            <section>
                <div class="content">
                    <div class="advertisement">
                        <img src="http://placehold.it/315x800?text=advertisement" alt="advertisement"></a>
                    </div>
                    <div class="context">
                        <img src="http://placehold.it/1280x800?text=context" alt="context"></a>
                    </div>
                    <div class="advertisement">
                        <img src="http://placehold.it/315x800?text=advertisement" alt="advertisement"></a>
                    </div>
                </div>
            </section>
            <footer>
                
            </footer>
        </div>
    </body>
</html>