<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script th:inline="javascript">
            console.log("delete_ok 출력");
            var flag = [[${flag}]];
            if (flag === 0) {
                alert('글 삭제 성공');
                location.href = 'list';
            } else if (flag === 1) {
                alert('글 삭제 실패');
                history.back();
            }
        </script>
    </head>
    <body>

    </body>
</html>