<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="게시판">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../css/list_style.css">
        <script src="./js/login_style.js"></script>

        <script>
            function checkLoginAndNavigate() {
                alert('로그인이 필요합니다.');
            }
        </script>

        <title>게시판</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>
                <div id="login">
                    <!-- <p class="log"><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p> -->
                    <p class="log"><a href="login">로그인</a></p>
                    <div class="logto">
                        <p class="login_info">
                            <div th:if="${nickname}">
                                <p th:text="${nickname}"></p>
                            </div> &nbsp;&nbsp;
                            <i class="fa-solid fa-caret-down"></i></p>
                        <ul class="login_info_list">
                            <li><a href="#">회원정보관리</a></li>
                            <li><a href="mypage/doyun">프로필</a></li>
                            <li><a href="board/shop">아이템 샵</a></li>
                            <li class="logout"><a href="/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="../board/notice">공지사항</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/fight">대전</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/team">협동</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/list">게시판</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../rank">랭킹</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                <div class="row content">
                    <div class="list">
                        <div class="con_title">
                            <h3>게시판</h3>
                            <p>HOME &gt; <strong>게시판</strong></p>
                        </div>
                        <div class="con_txt">
                            <input type="hidden" name="board_cd" th:value="${boardCd}" />
                            <!-- <input type="hidden" name="cpage" value="<%= cpage %>" /> -->
                            <div class="contents_sub">
                                <div class="board_top">
                                    <div class="bold">총 <span class="txt_orange" th:text="${#lists.size(lists)}"></span>건</div>
                                    <input type="text" name="board_search" id="board_search">
                                    <input type="button" value="검색">
                                </div>
                                <!--게시판-->
                                <div class="board">
                                    <table>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="5%">번호</th>
                                            <th>제목</th>
                                            <th width="10%">글쓴이</th>
                                            <th width="17%">등록일</th>
                                            <th width="5%">조회</th>
                                            <th width="3%">&nbsp;</th>
                                        </tr>
                                        <tr th:each="post, rowStat : ${lists}">
                                            <td>&nbsp;</td>
                                            <td th:text="${#lists.size(lists) - rowStat.index}"></td>
                                            <td class="left">
                                                <!--게시물 클릭시 이동하도록 하는 구문-->
                                                <a th:href="@{view(board_cd=${post.boardCd}, post_id=${post.postId})}" th:text="'[' + ${post.postTags} + '] ' + ${post.postTitle}"></a>
                                                <!--게시물 댓글 갯수-->
                                                <span th:text="'[' + ${post.postCommentCnt}  + ']'"></span>
                                                <!--새로운 글 작성시 보여지는 new 표시-->
                                                <span th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') == #dates.format(post.updatedAt, 'yyyy-MM-dd')}">
                                                    <img src="../img/icon_new.gif" alt="NEW">
                                                </span>
                                            </td>
                                            <!--닉네임-->
                                            <td th:text="${post.member.memNick}"></td>
                                            <!--글쓴 날짜-->
                                            <td th:text="${#dates.format(post.updatedAt, 'yyyy-MM-dd')}"></td>
                                            <!--조회수-->
                                            <td th:text="${post.postHit}"></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div class="btn_area">
                                    <div class="align_right">
                                        <!-- <a th:href="@{write(board_cd=${boardCd})}"><input type="button" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;" onclick="checkLoginAndNavigate()"></a> -->
                                        <!-- <input type="button" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;" onclick="checkLoginAndNavigate()" /> -->
                                        <a th:if="${loginCheck}" th:href="@{write(board_cd=${boardCd})}">
                                            <!-- 로그인 상태인 경우의 링크 -->
                                            <input type="button" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;">
                                        </a>
                                        <a th:unless="${loginCheck}" href="/login">
                                            <!-- 로그인 상태가 아닌 경우의 링크 -->
                                            <input type="button" value="쓰기" class="btn_write btn_txt01" style="cursor: pointer;" onclick="checkLoginAndNavigate()">
                                        </a>
                                    </div>
                                    <!--페이지넘버-->
                                    <div class="paginate_regular">
                                        <div align="absmiddle">
                                            <span>&lt;&lt;</span>
                                            &nbsp;
                                            <span>&lt;</span>
                                            &nbsp;&nbsp;
                                            <span>[ 1 ]</span>
                                            <span><a href="list">2</a></span>
                                            <span><a href="list">3</a></span>
                                            &nbsp;&nbsp;
                                            <span>&gt;</span>
                                            &nbsp;
                                            <span>&gt;&gt;</span>
                                        </div>
                                    </div>
                                    <!--//페이지넘버-->
                                </div>
                                <!--//게시판-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                
            </footer>
        </div>
    </body>
</html>