<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <!-- 메인 자바스크립트 -->
        <script src="js/JavaScript.js"></script>
        <!-- 메인 스타이 css -->
        <!-- <link rel="stylesheet" href="./css/style.css"> -->
        <title>마이페이지</title>
    </head>
    <body>

        <div class="starter-template">
            <div th:utext="${contents}"></div>
        </div>

    </body>
</html>