<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!-- 메인 자바스크립트 -->
        <script src="../js/login_style.js"></script>
        <script src="../js/md_page.js"></script>
        <!-- 메인 스타이 css -->
        <link rel="stylesheet" href="../css/md_style.css">
        <!-- TUI 에디터 CSS CDN -->
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <title>마이페이지</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>
                <div id="login">
                    <!-- <p class="log"><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p> -->
                    <p class="log"><a href="login">로그인</a></p>
                    <div class="logto">
                        <p class="login_info">
                            <div th:if="${nickname}">
                                <p th:text="${nickname}"></p>
                            </div> &nbsp;&nbsp;
                            <i class="fa-solid fa-caret-down"></i></p>
                        <ul class="login_info_list">
                            <li><a href="#">회원정보관리</a></li>
                            <li><a href="mypage/doyun">프로필</a></li>
                            <li><a href="board/shop">아이템 샵</a></li>
                            <li class="logout"><a href="/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="../board/notice">공지사항</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/fight">대전</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/team">협동</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/list">게시판</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../rank">랭킹</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                <div id="qrcode" class="row qrcode">
                    <div class="profile">
                        <!-- <form class="sec" action="/mypage/qrcode/create", method="get">
                            <input type="text" name="url" />
                            <button type="submit">create</button>
                        </form> -->
                        <div class="img_profile profile_size">
                            <div class="img_icon">
                                <a href="#"><img src="../img/doyun_icon.png" alt="profile"></a>
                            </div>
                        </div>
                        <div class="name profile_size">
                            <p th:text="${member.memNick}"></p>
                            <p th:text="'Lv. ' + ${member.memLvl}"></p>
                            <p th:text="${member.memEmail}"></p>
                            <p th:text="'Point. ' + ${member.memCurPoint}"></p>
                        </div>
                        <div class="link profile_size">
                            <!-- <input type="text" name="text" id="text" style="width: 200px;height: 300px;"> -->
                        </div>
                        <div>
                            <input id="riotID" type="text">
                            <button id="btn_searchRiotID">검색</button>
                        </div>
                    </div>
                    
                    <div class="starter-template">
                        <div th:utext="${contents}"></div>
                    </div>
                    <button type="button" name="data" id="data">
                        <i class="far fa-pen-to-square" alt="회원정보 수정"title="회원정보 수정"></i>
                    </button>
                </div>
                <div id="content">
                    <div id="context">
                    </div>
                    <button type="button" name="data_check" id="data_check" >
                        <i class="fa-solid fa-check" alt="수정 확인"title="수정 확인"></i>
                    </button>
                    <button type="button" name="data_check2" id="data_check2">
                        <i class="fa-solid fa-minus" alt="수정 취소"title="수정 취소"></i>
                    </button>
                </div>
                <!-- 에디터를 적용할 요소 (컨테이너) -->
                
                <!-- TUI 에디터 JS CDN -->
            </section>
            <footer>

            </footer>
        </div>
    </body>
</html>
