<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/libs.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/main_custom.css">


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/shop_custom.css" />
        <link rel="stylesheet" href="./css/ranking.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="/js/module/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const active = document.getElementById("nav-pointrank");
            active.classList.add("uk-active");
            const submenu = active.parentNode;
            submenu.classList.remove("none");
        });
        Chart.defaults.font.size = 18;
    </script>
</head>
<body class="page-home dark-theme">
    <input id="toggle" type="checkbox">


    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss = "sidebar is-show" id="sidebar">사이드바 Fragment</aside>

            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Total Point Ranking</h3>
                            </div>
                        </div>
                        <div class="widjet --market">
                            <div class="widjet__body" style="text-align: center; display:block;">
                                <canvas id="point" style='width:85%; height:30vh; margin: auto; '></canvas>

                                <script type="text/javascript">
                                    PointChart();
                                </script>
                                <div class="profiles" th:if="${point!=null and i.index<5}" th:each="to, i:${point}" th:switch="${profile.get(i.index)[3]}" th:with="badge = ${badge[i.index]}">
                                    <!-- 통합 랭킹 카드 -->
                                    <div th:case="x" class="profile-card">
                                        <a id="profile">
                                            <div class="profile-header" th:if="${!profile.get(i.index)[2].equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${profile.get(i.index)[2]} + '.png);'">
                                                <div class="profile-image">
                                                    <img th:if="${!profile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${profile.get(i.index)[1]}" alt="NO-IMAGE" >
                                                    <img th:if="${profile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                                </div>
                                            </div>
                                            <div class="profile-header" th:if="${profile.get(i.index)[2].equals('x')}">
                                                <div class="profile-image">
                                                    <img th:if="${!profile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${profile.get(i.index)[1]}" alt="NO-IMAGE" >
                                                    <img th:if="${profile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                                </div>
                                            </div>
                                            <div class="profile-user_info">
                                                <div class="profile-user_level"><span th:text="'LV : ' + ${to.mem_lvl}"></span></div>
                                                <div class="profile-user_nick"><span th:text="${to.mem_nick}"></span></div>
                                                <img class="badge" th:if="${!profile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${profile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${profile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                            <div><p th:text="'Total Point : ' + ${to.mem_total_point}"></p></div>
                                        </a>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-main">
                                            <div class="profile-introduction" th:text="${profile.get(i.index)[0]}"></div>
                                            <div class="profile-dividing-line"></div>
                                            <div class="profile-badge-section">
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[0].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[0]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[0].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[3].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[3]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[3].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[6].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[6]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[6].equals('x')}" />
                                                    </div>
                                                </div>
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[1].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[1]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[1].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[4].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[4]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[4].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[7].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[7]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[7].equals('x')}" />
                                                    </div>
                                                </div>
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[2].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[2]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[2].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[5].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[5]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[5].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[8].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[8]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[8].equals('x')}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:case="*" class="profile-card" th:style="'background-image: url(../img/shop_img/' + ${profile.get(i.index)[3]} + '.png);'">
                                        <a id="profile">
                                            <div class="profile-header" th:if="${!profile.get(i.index)[2].equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${profile.get(i.index)[2]} + '.png);'">
                                                <div class="profile-image">
                                                    <img th:if="${!profile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${profile.get(i.index)[1]}" alt="NO-IMAGE">
                                                    <img th:if="${profile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                                </div>
                                            </div>
                                            <div class="profile-header" th:if="${profile.get(i.index)[2].equals('x')}">
                                                <div class="profile-image">
                                                    <img th:if="${!profile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${profile.get(i.index)[1]}" alt="NO-IMAGE">
                                                    <img th:if="${profile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                                </div>
                                            </div>
                                            <div class="profile-user_info">
                                                <div class="profile-user_level"><span th:text="'LV : ' + ${to.mem_lvl}"></span></div>
                                                <div class="profile-user_nick"><span  th:text="${to.mem_nick}"></span></div>
                                                <img class="badge" th:if="${!profile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${profile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${profile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                            <div><p th:text="'Total Point : ' + ${to.mem_total_point}"></p></div>
                                        </a>
                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-main">
                                            <div class="profile-introduction" th:text="${profile.get(i.index)[0]}"></div>
                                            <div class="profile-dividing-line"></div>
                                            <div class="profile-badge-section">
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[0].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[0]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[0].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[3].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[3]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[3].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[6].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[6]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[6].equals('x')}" />
                                                    </div>
                                                </div>
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[1].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[1]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[1].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[4].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[4]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[4].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[7].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[7]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[7].equals('x')}" />
                                                    </div>
                                                </div>
                                                <div class="badge-line">
                                                    <div class="badge">
                                                        <img th:if="${!badge[2].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[2]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[2].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[5].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[5]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[5].equals('x')}" />
                                                    </div>
                                                    <div class="badge">
                                                        <img th:if="${!badge[8].equals('x')}" th:src="@{'../img/shop_img/' + ${badge[8]} + '.png'}" alt="NO IMG" />
                                                        <img th:if="${badge[8].equals('x')}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 특정 게임 랭크 카드 -->
                                <!-- <div th:if="${otherpoint!=null and i.index<5}"  th:each="to, i:${otherpoint}" th:switch="${otherprofile.get(i.index)[3]}" style="display: inline-block;">
                                    <div th:case="x" class="profile-card" style="display: inline-block;">
                                        <div class="profile-header" th:if="${!otherprofile.get(i.index)[2].equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${otherprofile.get(i.index)[2]} + '.png);'">
                                            <div class="profile-image">
                                                <img th:if="${!otherprofile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${otherprofile.get(i.index)[1]}" alt="NO-IMAGE">
                                                <img th:if="${otherprofile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE"> 
                                            </div>
                                            <div class="profile-user_info">
                                                <p class="profile-user_level" th:text="'LV : ' + ${to.mem_lvl}"></p>
                                                <p class="profile-user_nick" th:text="${to.mem_nick}"></p>
                                                <img class="badge" th:if="${!otherprofile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${otherprofile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${otherprofile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                            <p th:text="'포인트 보유량 : ' + ${to.mem_total_point}"></p>
                                        </div>

                                        <div class="profile-header" th:if="${otherprofile.get(i.index)[2].equals('x')}">
                                            <div class="profile-image">
                                                <img th:if="${!otherprofile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${otherprofile.get(i.index)[1]}" alt="NO-IMAGE">
                                                <img th:if="${otherprofile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                            </div>
                                            <div class="profile-user_info">
                                                <p class="profile-user_level" th:text="'LV : ' + ${to.mem_lvl}"></p>
                                                <p class="profile-user_nick" th:text="${to.mem_nick}"></p>
                                                <img class="badge" th:if="${!otherprofile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${otherprofile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${otherprofile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                            <p th:text="'포인트 보유량 : ' + ${to.mem_total_point}"></p>
                                        </div>

                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-main">
                                            <div class="profile-introduction" th:text="${otherprofile.get(i.index)[0]}"></div>
                                        </div>
                                    </div>

                                    <div th:case="*" class="profile-card" th:style="'display: inline-block; background-image: url(../img/shop_img/' + ${otherprofile.get(i.index)[3]} + '.png);'">
                                        <div class="profile-header" th:if="${!otherprofile.get(i.index)[2].equals('x')}" th:style="'background-image: url(../img/shop_img/' + ${otherprofile.get(i.index)[2]} + '.png);'">
                                            <div class="profile-image">
                                                <img th:if="${!otherprofile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${otherprofile.get(i.index)[1]}" alt="NO-IMAGE">
                                                <img th:if="${otherprofile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE"> 
                                            </div>
                                            <div class="profile-user_info">
                                                <p class="profile-user_level" th:text="'LV : ' + ${to.mem_lvl}"></p>
                                                <p class="profile-user_nick" th:text="${to.mem_nick}"></p>
                                                <img class="badge" th:if="${!otherprofile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${otherprofile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${otherprofile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                        </div>

                                        <div class="profile-header" th:if="${otherprofile.get(i.index)[2].equals('x')}">
                                            <div class="profile-image">
                                                <img th:if="${!otherprofile.get(i.index)[1].equals('x')}" th:src="'/image/' + ${otherprofile.get(i.index)[1]}" alt="NO-IMAGE">
                                                <img th:if="${otherprofile.get(i.index)[1].equals('x')}" src="../img/doyun_icon.png" alt="NO-IMAGE" > 
                                            </div>
                                            <div class="profile-user_info">
                                                <p class="profile-user_level" th:text="'LV : ' + ${to.mem_lvl}"></p>
                                                <p class="profile-user_nick" th:text="${to.mem_nick}"></p>
                                                <img class="badge" th:if="${!otherprofile.get(i.index)[4].equals('x')}" th:src="@{'../img/shop_img/' + ${otherprofile.get(i.index)[4]} + '.png'}" alt="NO-SYMBOL">
                                                <img class="badge" th:if="${otherprofile.get(i.index)[4].equals('x')}" alt="NO-SYMBOL">
                                            </div>
                                        </div>

                                        <div class="profile-dividing-line"></div>
                                        <div class="profile-main">
                                            <div class="profile-introduction" th:text="${otherprofile.get(i.index)[0]}"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <br><br><hr><br>
                                <table class="rank_table">
                                    <tr>
                                        <th>순위</th>
                                        <th>닉네임</th>
                                        <th>레벨</th>
                                        <th>포인트 보유량</th>
                                    </tr>
                                    <!-- 통합 포인트 랭크 테이블 -->
                                    <tr th:if="${point!=null and i.index >=5}" th:each="to, i:${point}">
                                        <td th:text="${to.rank}"></td>
                                        <td th:text="${to.mem_nick}"></td>
                                        <td th:text="${to.mem_lvl}"></td>
                                        <td th:text="${to.mem_total_point}"></td>
                                    </tr>
                                    <!-- 특정 게임 포인트 랭크 테이블 -->
                                    <tr th:if="${otherpoint!=null and i.index>=5}" th:each="to, i:${otherpoint}">
                                        <td th:text="${to.rank}"></td>
                                        <td th:text="${to.mem_nick}"></td>
                                        <td th:text="${to.mem_lvl}"></td>
                                        <td th:text="${to.mem_total_point}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
                <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

            </main>
        </div>
    </div>
    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>

    <script src="/js/libs.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
