<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>profile</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge; chrome=1" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/libs.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main_custom.css" />

    <script src="/js/favoriteGame.js"></script>

    <script>
        const EditProfile = function(){
            window.open("/profile/editprofile","editprofile","width=700, height=700,left=250, top=150,resizable=no");
        }

        const EditMyCard = function(){
            window.open("/profile/editmycard","editmycard","width=700, height=700,left=250, top=150");
        }
    </script>

</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("nav-profile");
        active.classList.add("uk-active");
    });
</script>

<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">
    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss = "sidebar is-show" id="sidebar">사이드바 Fragment</aside>
            <!--  -->

            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --profile">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Profile</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="user-info">
                                    <div class="user-info__avatar" style="border: 3px solid #0ff;">
                                        <img th:if="${!memberProfile.profileImage.equals('x')}" th:src="'/image/' + ${memberProfile.profileImage}" alt="profile" style="width:100%; height:100%">
                                        <img th:if="${memberProfile.profileImage.equals('x')}" src="../img/doyun_icon.png" alt="profile" style="width:100%; height:100%">
                                    </div>
                                    <div class="user-info__box">
                                        <div class="user-info__title" th:text="${'LV : ' + member.memLvl + ' &nbsp ' + member.memNick + '( ' + member.memEmail + ' )'}"></div>
                                        <div class="user-info__text" th:text="${memberProfile.profileIntro}"></div>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div style="display:flex; flex-direction: column;">
                                        <a class="uk-button uk-button-danger" onclick="EditProfile()" style="margin-bottom: 20px;"><i class="ico_edit"></i><span class="uk-margin-small-left">Edit Profile</span></a>
                                        <a class="uk-button uk-button-danger" onclick="EditMyCard()" style=""><i class="ico_edit"></i><span class="uk-margin-small-left">Edit My Card</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widjet --bio">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Favorite Game List</h3>
                            </div>
                            <div class="widjet__body">
                                <div th:if="${!game.isEmpty()}" th:with="game=${game}" class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div><select id="first-game" class="js-select">
                                            <option value="" th:selected="${game[0]==null}">1순위 선호 게임 </option>
                                            <option value="30001" th:selected="${game[0]=='30001'}">LeagueofLegends</option>
                                            <option value="30002" th:selected="${game[0]=='30002'}">BattleGround</option>
                                            <option value="30003" th:selected="${game[0]=='30003'}">Overwatch</option>
                                            <option value="30004" th:selected="${game[0]=='30004'}">Valorant</option>
                                            <option value="30005" th:selected="${game[0]=='30005'}">FIFA</option>
                                            <option value="30006" th:selected="${game[0]=='30006'}">Steam</option>
                                        </select></div>
                                    <div><select id="second-game" class="js-select">
                                        <option value="">2순위 선호 게임 </option>
                                        <option value="30001" th:selected="${game[1]=='30001'}">LeagueofLegends</option>
                                        <option value="30002" th:selected="${game[1]=='30002'}">BattleGround</option>
                                        <option value="30003" th:selected="${game[1]=='30003'}">Overwatch</option>
                                        <option value="30004" th:selected="${game[1]=='30004'}">Valorant</option>
                                        <option value="30005" th:selected="${game[1]=='30005'}">FIFA</option>
                                        <option value="30006" th:selected="${game[1]=='30006'}">Steam</option>
                                        </select></div>
                                    <div><select id="third-game" class="js-select">
                                            <option value="">3순위 선호 게임</option>
                                            <option value="30001" th:selected="${game[2]=='30001'}">LeagueofLegends</option>
                                            <option value="30002" th:selected="${game[2]=='30002'}">BattleGround</option>
                                            <option value="30003" th:selected="${game[2]=='30003'}">Overwatch</option>
                                            <option value="30004" th:selected="${game[2]=='30004'}">Valorant</option>
                                            <option value="30005" th:selected="${game[2]=='30005'}">FIFA</option>
                                            <option value="30006" th:selected="${game[2]=='30006'}">Steam</option>
                                        </select></div>
                                        <div style="text-align: right;">
                                            <button id="game-submit" class="uk-button uk-button-secondary">수정</button>
                                        </div>
                                </div>
                                <div th:if="${game.isEmpty()}" th:with="game=${game}" class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div><select id="first-game" class="js-select">
                                            <option value="">1순위 선호 게임 </option>
                                            <option value="30001">리그 오브 레전드</option>
                                            <option value="30002">배틀 그라운드</option>
                                            <option value="30003">오버워치</option>
                                            <option value="30004">발로란트</option>
                                            <option value="30005">피파 온라인</option>
                                            <option value="30006">스팀</option>
                                        </select></div>
                                    <div><select id="second-game" class="js-select">
                                        <option value="">2순위 선호 게임 </option>
                                        <option value="30001">리그 오브 레전드</option>
                                        <option value="30002">배틀 그라운드</option>
                                        <option value="30003">오버워치</option>
                                        <option value="30004">발로란트</option>
                                        <option value="30005">피파 온라인</option>
                                        <option value="30006">스팀</option>
                                        </select></div>
                                    <div><select id="third-game" class="js-select">
                                            <option value="">3순위 선호 게임</option>
                                            <option value="30001">리그 오브 레전드</option>
                                            <option value="30002">배틀 그라운드</option>
                                            <option value="30003">오버워치</option>
                                            <option value="30004">발로란트</option>
                                            <option value="30005">피파 온라인</option>
                                            <option value="30006">스팀</option>
                                        </select></div>
                                        <div style="text-align: right;">
                                            <button id="game-submit" class="uk-button uk-button-secondary">수정</button>
                                        </div>
                                </div>
                            </div>
                            <br>
                        <div class="widjet --bio">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">My Ranking</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div th:each="to:${memberRanking}">
                                        <div class="user-info__title" th:text="${to.rankCode+' : '+to.rank+'위'}"></div>
                                    </div>
                                    <div style="display: flex;
                                    justify-content: flex-end;">
                                        <button id="game-submit" class="uk-button uk-button-secondary" type="button"><a class="uk-button uk-button-danger" href="../levelrank">랭킹 보러 가기</a></button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width">
                        <div class="widjet --badges">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Badge</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="badges-list" > 
                                    <li th:each="item,i:${memberItems}"><img th:title="${item}" th:src="@{'./img/shop_img/' + ${item} + '.png'}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>
        </div>
    </div>
    <div class="page-modals">
        <div class="uk-flex-top" id="modal-report" data-uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
                <h2 class="uk-modal-title">Report</h2>
                <form class="uk-form-stacked" action="#">
                    <div class="uk-margin">
                        <div class="uk-form-label">Subject</div>
                        <div class="uk-form-controls"><select class="js-select">
                                <option value="">Choose Subject</option>
                                <option value="Subject 1">Subject 1</option>
                                <option value="Subject 2">Subject 2</option>
                                <option value="Subject 3">Subject 3</option>
                            </select></div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-label">Details</div>
                        <div class="uk-form-controls"><textarea class="uk-textarea" name="details" placeholder="Try to include all details..."></textarea></div>
                        <div class="uk-form-controls uk-margin-small-top">
                            <div data-uk-form-custom><input type="file"><button class="uk-button uk-button-default" type="button" tabindex="-1"><i class="ico_attach-circle"></i><span>Attach File</span></button></div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid uk-flex-right" data-uk-grid>
                            <div><button class="uk-button uk-button-small uk-button-link">Cancel</button></div>
                            <div><button class="uk-button uk-button-small uk-button-danger">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-flex-top" id="modal-help" data-uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
                <h2 class="uk-modal-title">Help</h2>
                <div class="search">
                    <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                    <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                </div>
                <div class="uk-margin-small-left uk-margin-small-bottom uk-margin-medium-top">
                    <h4>Popular Q&A</h4>
                    <ul>
                        <li><img src="../img/svgico/clipboard-text.svg" alt="icon"><span>How to Upload Your Developed Game</span></li>
                        <li><img src="../img/svgico/clipboard-text.svg" alt="icon"><span>How to Go Live Stream</span></li>
                        <li><img src="../img/svgico/clipboard-text.svg" alt="icon"><span>Get in touch with the Creator Support Team</span></li>
                    </ul>
                    <ul>
                        <li><a href="04_profile.html">browse all articles</a></li>
                        <li><a href="04_profile.html">Send Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
