<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="게시판">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/list_custom.css">
        <title>랭킹</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>
                <div id="login">
                    <!-- <p class="log"><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p> -->
                    <p class="log"><a href="login">로그인</a></p>
                    <div class="logto">
                        <p class="login_info">
                            <div th:if="${nickname}">
                                <p th:text="${nickname}"></p>
                            </div> &nbsp;&nbsp;
                            <i class="fa-solid fa-caret-down"></i></p>
                        <ul class="login_info_list">
                            <li><a href="#">회원정보관리</a></li>
                            <li><a href="mypage/doyun">프로필</a></li>
                            <li><a href="board/shop">아이템 샵</a></li>
                            <li class="logout"><a href="/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="../board/notice">공지사항</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/fight">대전</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/team">협동</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../board/list">게시판</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="../rank">랭킹</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                <div class="row content">
                    <div class="list">
                        <div class="con_title">
                            <h3>랭킹</h3>
                            <p>HOME &gt; <strong>랭킹</strong></p>
                        </div>
                        <!-- 랭킹 별 차트 구문 -->
                        <canvas id="win" style='width:450px; height:30vh; display: inline-block;'></canvas>
                        <canvas id="point" style='width:450px; height:30vh; display: inline-block;'></canvas>
                        <canvas id="levels" style='width:450px; height:30vh; display: inline-block;'></canvas>
                        <script type="text/javascript">
                            var LevelRankings = "[[${levels}]]";
                            var WinRankings = "[[${winrank}]]";
                            var PointRankings = "[[${pointrank}]]";

                            let WinRanks = WinRankings.split(",");
                            let PointRanks = PointRankings.split(",");
                            let LevelRanks = LevelRankings.split(",");

                            console.log(levels);
                            WinRanks[0] = WinRanks[0].substring(1);
                            WinRanks[WinRanks.length - 1] = WinRanks[WinRanks.length - 1].split("]")[0];

                            PointRanks[0] = PointRanks[0].substring(1);
                            PointRanks[PointRanks.length - 1] = PointRanks[PointRanks.length - 1].split("]")[0];

                            LevelRanks[0] = LevelRanks[0].substring(1);
                            LevelRanks[LevelRanks.length - 1] = LevelRanks[LevelRanks.length - 1].split("]")[0];


                            var WinChart = new Chart(
                                document.getElementById('win'),
                                {
                                    type: 'line',
                                    data: {
                                        labels: [],
                                        datasets: [
                                            {
                                            label: '승률 별 유저수',
                                            data: ({0:WinRanks[0], 10:WinRanks[1], 20:WinRanks[2], 30:WinRanks[3], 40:WinRanks[4], 50:WinRanks[5], 60:WinRanks[6], 70:WinRanks[7], 80:WinRanks[8], 90:WinRanks[9]}),
                                            borderColor: 'rgb(75, 0, 192)',
                                            fill: false,
                                            stepped: false,
                                            backgroundColor: 'skyblue',
                                            type:'bar'
                                            }
                                        ]
                                        },
                                    options: {
                                        responsive: false,
                                        interaction: {
                                        intersect: false,
                                        axis: 'x'
                                        },
                                        plugins: {
                                        title: {
                                            display: true,
                                            text: (ctx) => '승률 별 유저 분포도',
                                        },
                                        legend:{
                                            display : false
                                        }
                                        }
                                    }
                                    });

                            

                            var PointChart = new Chart(
                                document.getElementById('point'),
                                {
                                    type: 'line',
                                    data: {
                                        labels: [],
                                        datasets: [
                                            {
                                            label: '포인트 보유 별 유저수',
                                            data: ({0:PointRanks[0], 50:PointRanks[1], 100:PointRanks[2], 150:PointRanks[3], 200:PointRanks[4]}),
                                            borderColor: 'rgb(75, 0, 192)',
                                            fill: false,
                                            stepped: false,
                                            backgroundColor: 'skyblue',
                                            type:'bar'
                                            }
                                        ]
                                        },
                                    options: {
                                        responsive: false,
                                        interaction: {
                                        intersect: false,
                                        axis: 'x'
                                        },
                                        plugins: {
                                        title: {
                                            display: true,
                                            text: (ctx) => '포인트 보유량 유저 분포도',
                                        },
                                        legend:{
                                            display : false
                                        }
                                        }
                                    }
                                    });

                            var WinChart = new Chart(
                                document.getElementById('levels'),
                                {
                                    type: 'line',
                                    data: {
                                        labels: [],
                                        datasets: [
                                            {
                                            label: '레벨 구간 별 유저 수',
                                            data: ({0:LevelRanks[0], 10:LevelRanks[1], 20:LevelRanks[2], 30:LevelRanks[3], 40:LevelRanks[4], 50:LevelRanks[5], 60:LevelRanks[6], 70:LevelRanks[7], 80:LevelRanks[8], 90:LevelRanks[9]}),
                                            borderColor: 'rgb(75, 0, 192)',
                                            fill: false,
                                            stepped: false,
                                            backgroundColor: 'skyblue',
                                            type:'bar'
                                            }
                                        ]
                                        },
                                    options: {
                                        responsive: false,
                                        interaction: {
                                        intersect: false,
                                        axis: 'x'
                                        },
                                        plugins: {
                                        title: {
                                            display: true,
                                            text: (ctx) => '레벨 구간 별 유저 분포도',
                                        },
                                        legend:{
                                            display : false
                                        }
                                        }
                                    }
                                    });
                        </script>
                    </div>
                </div>
            </section>
            <footer>
                
            </footer>
        </div>
    </body>
</html>