<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>랭킹</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <canvas id="myChart"></canvas>
    <script type="text/javascript">
        var rankings = "[[${ranks}]]";
        let ranks = rankings.split(",");
        ranks[0] = ranks[0].substring(1);
        ranks[ranks.length - 1] = ranks[ranks.length - 1].split("]")[0];

        var myChart = new Chart(
            document.getElementById('myChart'),
            {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [
                        {
                        label: 'Dataset1',
                        data: ({0:ranks[0], 10:ranks[1], 20:ranks[2], 30:ranks[3], 40:ranks[4], 50:ranks[5], 60:ranks[6], 70:ranks[7], 80:ranks[8], 90:ranks[9]}),
                        borderColor: 'rgb(75, 0, 192)',
                        fill: false,
                        stepped: false,
                        },
                        {
                        label: 'Dataset2',
                        data: ({0:ranks[0], 10:ranks[1], 20:ranks[2], 30:ranks[3], 40:ranks[4], 50:ranks[5], 60:ranks[6], 70:ranks[7], 80:ranks[8], 90:ranks[9]}),
                        borderColor: 'rgb(75, 0, 192)',
                        fill: false,
                        stepped: false,
                        backgroundColor: '#000000',
                        type:'bar'
                        }
                    ]
                    },
                options: {
                    responsive: true,
                    interaction: {
                    intersect: false,
                    axis: 'x'
                    },
                    plugins: {
                    title: {
                        display: true,
                        text: (ctx) => 'Step ' + ctx.chart.data.datasets[0].stepped + ' Interpolation',
                    }
                    }
                }
                });
    </script>
    <body>
        랭킹 페이지
        <table width="800px">
            <tr th:each="levelRankTO : ${lists}">
                <td th:text="${levelRankTO.rank}"></td>
                <td th:text="${levelRankTO.mem_lvl}"></td>
                <td th:text="${levelRankTO.mem_userid}"></td>
            </tr>
        </table>
    </body>
</html>