<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <title>상점</title>
    </head>
    <body>
        
    </body>
</html>