<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <!-- 메인 자바스크립트 -->
        <script src="js/JavaScript.js"></script>
        <!-- 메인 스타이 css -->
        <link rel="stylesheet" href="../css/show_style.css">
        <title>상점</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1><a href="/home"><img src="http://placehold.it/300x70?text=logo" alt="logo"></a></h1>
                <div id="login">
                    <p><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-user" alt="마이페이지" title="마이페이지"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-headphones" alt="고객센터"title="고객센터"></i></a></p>
                    <p><a href="#"><i class="fa-solid fa-magnifying-glass" alt="검색"title="검색"></i></a><input type="text" size="12px"></p>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="board/notice">공지사항</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/fight">대전 / 협동</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/list">게시판</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="mypage/doyun">마이 페이지</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                        <li><a href="board/show">아이템샾</a>
                            <ul>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <section>
                <div class="row content">
                    <div class="showlist">
                        <!-- <img src="http://placehold.it/300x800?text=showlist" alt="상점 리스트"></a> -->
                        <ul class="main_item">
                            <li><a href="#">아이콘</a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                            <li><a href="#">뱃지</a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                            <li><a href="#">배경</a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                            <li><a href="#">테두리</a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="showmain">
                        <div>
                            <h3>아이콘 상점</h3>
                            <br>
                            <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
                        </div>
                        <div class="row itemlist">

                            <!-- <br> -->
                            <!-- <img src="http://placehold.it/1370x800?text=show" alt="show"></a> -->
                            <div class="sub_item">
                                <a href="#">
                                <div class="item">
                                    <img src="../img/모코머슥.png" alt="아이콘">
                                </div>
                                <p>모코머슥</p>
                                <p>가격 : <span>3500원</span></p>
                                <input type="button" value="구매">
                                </a>
                            </div>
                            <div class="sub_item">
                                <a href="#">
                                <div class="item">
                                    <img src="../img/기억해줘.png" alt="아이콘">
                                </div>
                                <p>모코머슥</p>
                                <p>가격 : <span>3500원</span></p>
                                <input type="button" value="구매">
                                </a>
                            </div>
                            <div class="sub_item">
                                <a href="#">
                                <div class="item">
                                    <img src="../img/모코찌릿.png" alt="아이콘">
                                </div>
                                <p>모코머슥</p>
                                <p>가격 : <span>3500원</span></p>
                                <input type="button" value="구매">
                                </a>
                            </div>
                            <div class="sub_item">
                                <a href="#">
                                <div class="item">
                                    <img src="../img/모코코ㅠ.png" alt="아이콘">
                                </div>
                                <p>모코머슥</p>
                                <p>가격 : <span>3500원</span></p>
                                <input type="button" value="구매">
                                </a>
                            </div>
                            <div class="sub_item">
                                <a href="#">
                                <div class="item">
                                    <img src="../img/모코빛.png" alt="아이콘">
                                </div>
                                <p>모코머슥</p>
                                <p>가격 : <span>3500원</span></p>
                                <input type="button" value="구매">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="show-aside">
                        <img src="http://placehold.it/200x800?text=advertisement" alt="advertisement"></a>
                    </div>
                </div>
            </section>
            <footer>
                
            </footer>
        </div>
    </body>
</html>