<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/wallet.css">
    <!-- <link rel="stylesheet" href="../css/main_custom.css" /> -->
    <script src="../js/libs.js"></script>
    <script src="../js/main.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">


</head>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("nav-wallet");
        active.classList.add("uk-active");    
        document.getElementById("toggle").addEventListener("click", function () {

            document.querySelectorAll('.vs > img').forEach(function (x) {
                x.src = logo_img_paths[currentThemeIndex];
            })
        });

        let phCnt = 1;
        let phMaxCnt = 10;
        let phList = document.querySelectorAll(".wallet-ph-item");
        phList.forEach(function(ph){
            if(phCnt > phMaxCnt){
                ph.style.display = 'none';
            }
            phCnt++;
        });
    });

</script>

<body class="page-wallet dark-theme">

    <input id="toggle" type="checkbox">

    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->

        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss="sidebar is-show" id="sidebar">사이드바
                Fragment</aside>
            <!--  -->

            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-1-2@l uk-first-column">
                        <div class="widjet --wallet">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">POINT</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="wallet-info">
                                    
                                    <div class="wallet-info-point">
                                        <div><i class="fa-solid fa-coins ico_fontawesome wallet"></i></div>
                                        <div class="wallet-value"
                                            th:text="${#numbers.formatInteger(#numbers.formatInteger(currentPoint,0),0,'COMMA')}">
                                            504.00 USD</div>
                                    </div>
                                    <div class="wallet-label">Available</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@l">
                        <div class="widjet --wallet">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">LEVEL</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="wallet-info">
                                    <div class="wallet-info-totalPoint">
                                        <div> TOTAL :</div> 
                                        <!-- <div><i class="fa-solid fa-wallet ico_fontawesome"></div> -->
                                        <div class="wallet-value"
                                            th:text="${#numbers.formatInteger(#numbers.formatInteger(totalPoint,0),0,'COMMA')}">
                                            TOTAL POINT</div>
                                    </div>
                                    <div class="wallet-info-level">
                                        <div class="wallet-info-memberLevel">
                                            <div>Lv :</div> 
                                            <div class="wallet-value" th:text="${memberLevel}">LEVEL</div>
                                        </div>
                                        <div class="level-table-section">
                                            <table class="level-table">
                                                <tbody>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                    <tr th:each="point, level : ${levelDesign}" th:if="${level.index+1 <= 25}">
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${level.index+1}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${level.index+1}"></div>
                                                        </td>
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                </tbody>
                                                <tbody>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                    <tr th:each="point, level : ${levelDesign}" th:if="${level.index+1 >25 && level.index+1 <= 50}">
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${level.index+1}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${level.index+1}"></div>
                                                        </td>
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                </tbody>
                                                <tbody>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                    <tr th:each="point, level : ${levelDesign}" th:if="${level.index+1 > 50 && level.index+1 <=75}">
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${level.index+1}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${level.index+1}"></div>
                                                        </td>
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                </tbody>
                                                <tbody>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                    <tr th:each="point, level : ${levelDesign}" th:if="${level.index+1 > 75 && level.index+1 <=100}">
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${level.index+1}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${level.index+1}"></div>
                                                        </td>
                                                        <td>
                                                            <div th:unless="${level.index+1==memberLevel}" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                            <div th:if="${level.index+1==memberLevel}" class="level-table-memberLevel" th:text="${#numbers.formatInteger(#numbers.formatInteger(point,0),0,'COMMA')}"></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="level-table-blank"><td></td><td></td></tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@l">
                        <!-- BETTING PROCEEDING -->
                        <div class="widjet --wallet-betting">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">BETTING PROCEEDING</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="wallet-betting-list overflow-scroll">
                                    <li class="wallet-betting-item" th:each ="betting : ${memberBettingTOList}"> <!--  -->
                                        <div class="wallet-betting-header">
                                            <div class="battle-profile-media">
                                                <a href="10_game-profile.html">
                                                    <!-- <img th:src="@{'../img/' + ${battle.clientImgName}}" alt="NO IMG" /> -->
                                                    <img th:src="@{'../img/' + 'starbucks.png'}" alt="NO IMG" />
                                                </a>
                                            </div>

                                            <div class="vs"><img src="../img/logo_white.png"></div>

                                            <div class="battle-profile-media">
                                                <a href="10_game-profile.html">
                                                    <!-- <img th:src="@{'../img/' + ${battle.clientImgName}}" alt="NO IMG" /> -->
                                                    <img th:src="@{'../img/' + 'game-5.jpg'}" alt="NO IMG" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="wallet-betting-div-line"></div>
                                        <div class="wallet-betting-item__info">
                                            <a class="wallet-betting-item__title" href="10_game-profile.html" th:text="${betting.btPostTitle}"> 타이틀 <!-- -->
                                                적히는곳</a>
                                                
                                            <div class="wallet-betting-item__game">게임 종류</div>
                                            <div th:if="${betting.betFlag==0}" class="wallet-betting-item__point" th:text="${'HOST : '+betting.betPoint}">HOST : 3000</div> 
                                            <div th:if="${betting.betFlag==1}" class="wallet-betting-item__point" th:text="${'CLIENT : '+betting.betPoint}">CLIENT : 3000</div> 
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- BETTING TERMIATED -->
                        <div class="widjet --wallet-betting">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">BETTING TERMINATED</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="wallet-betting-list overflow-scroll">
                                    <li class="wallet-betting-item" th:each ="betting : ${memberBettingTOList}"> <!--  -->
                                        <div class="wallet-betting-header">
                                            <div class="battle-profile-media">
                                                <a href="10_game-profile.html">
                                                    <!-- <img th:src="@{'../img/' + ${battle.clientImgName}}" alt="NO IMG" /> -->
                                                    <img th:src="@{'../img/' + 'starbucks.png'}" alt="NO IMG" />
                                                </a>
                                            </div>

                                            <div class="vs"><img src="../img/logo_white.png"></div>

                                            <div class="battle-profile-media">
                                                <a href="10_game-profile.html">
                                                    <!-- <img th:src="@{'../img/' + ${battle.clientImgName}}" alt="NO IMG" /> -->
                                                    <img th:src="@{'../img/' + 'game-5.jpg'}" alt="NO IMG" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="wallet-betting-div-line"></div>
                                        <div class="wallet-betting-item__info">
                                            <a class="wallet-betting-item__title" href="10_game-profile.html" th:text="${betting.btPostTitle}"> 타이틀 <!-- -->
                                                적히는곳</a>
                                                
                                            <div class="wallet-betting-item__game">게임 종류</div>
                                            <div class="wallet-betting-item__point" th:text="${betting.betPoint}">HOST : 3000</div> <!---->
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- POINT HISTORY -->
                    <div class="uk-width-1-2@l">
                        <div class="widjet --wallet-ph">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">POINT HISTORY</h3>
                                <div>여기에 ph 갯수설정 </div>
                            </div>
                            <div class="widjet__body">
                                <ul class="wallet-ph-list overflow-scroll">
                                    <li class="wallet-ph-item" th:each="pointHistory, iterStat : ${memberPointHistoryList}">
                                        <div class="wallet-ph-div-line"></div>
                                        <div class="wallet-ph-info">
                                            <div class="wallet-ph-title" href="10_game-profile.html" th:text="${pointHistory.pointKindCd}">포인트 종류</div>
                                                
                                            <div class="wallet-ph-datetime" th:text="${pointHistory.createdAt}">날짜</div>
                                            <div class="wallet-ph-details">
                                                <div class="wallet-ph-pointCnt">
                                                    <div>P O I N T : </div>
                                                    <div th:if="${pointHistory.pointCnt>0}" style="color:rgb(116, 116, 245)"class="wallet-ph-point" th:text="${pointHistory.pointCnt}">포인트 수량</div>
                                                    <div th:unless="${pointHistory.pointCnt>0}" style="color:rgb(255, 121, 172)"class="wallet-ph-point" th:text="${pointHistory.pointCnt}">포인트 수량</div>
                                                </div>
                                                <div class="wallet-ph-current">
                                                    <div>S T O C K : </div>
                                                    <div class="wallet-ph-point" th:text="${#numbers.formatInteger(#numbers.formatInteger(pointHistory.curPoint,0),0,'COMMA')}">current Point</div>
                                                </div>
                                                <div class="wallet-ph-total">
                                                    <div>T O T A L : </div>
                                                    <div class="wallet-ph-point" th:text="${#numbers.formatInteger(#numbers.formatInteger(pointHistory.totalPoint,0),0,'COMMA')}">total Point</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div th:replace="~{fragments/mainModal :: mainModalFragment}"></div>
</body>

</html>