<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GAMMOA</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/libs.min.css">
    <link rel="stylesheet" href="/css/main.css">


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main_custom.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="/js/module/chart.js"></script>
    <script src="/js/controller.js"></script>
    <style>
        table {
            border:1px solid black;
            border-collapse: collapse;
            width:90%;
            margin: auto;
        }
        tr,th,td{
            border: 1px solid black;
            padding : 5px;
        }
    </style>
</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const active = document.getElementById("nav-rank");
        active.classList.add("uk-active");
    });
</script>

<body class="page-home dark-theme">

    <input id="toggle" type="checkbox">


    <!-- Loader-->
    <div th:replace="~{fragments/loader :: loader1Fragment}" id="page-preloader"></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <!-- 헤더 Fragment -->
        <header th:replace="~{fragments/header :: headerFragment}">헤더 Fragment</header>
        <!--  -->
        <div class="page-content">
            <!-- 사이드바 Fragment -->
            <aside th:replace="~{fragments/sidebar :: sidebarFragment}" clsss = "sidebar is-show" id="sidebar">사이드바 Fragment</aside>

            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">승률 랭킹</h3>
                            </div>
                            <div class="uk-width-2-3@l">
                                <ul class="tabnav">
                                    <li class="uk-width-1-6"><a href="winraterank">전체</a></li>
                                    <li class="uk-width-1-6"><a href="winraterank/lol">리그오브레전드</a></li>
                                    <li class="uk-width-1-6"><a href="winraterank/battleground">배틀그라운드</a></li>
                                    <li class="uk-width-1-6"><a href="winraterank/overwatch">오버워치</a></li>
                                    <li class="uk-width-1-6"><a href="winraterank/valorant">발로란트</a></li>
                                    <li class="uk-width-1-6"><a href="winraterank/fifa">피파온라인</a></li>
                                </ul>
                            </div>
                            <!-- <div class="widjet__body">
                                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="search">
                                            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                            <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                                            <input type="radio" name="Rank" id="LevelRanking" value="Level" onclick="charts()" checked> Level
                                            <input type="radio" name="Rank" id="WinRateRanking" value="Win" onclick="charts()"> WinRate
                                            <input type="radio" name="Rank" id="PointRanking" value="Point" onclick="charts()"> Point
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="widjet --market">
                            <div class="widjet__body" style="text-align: center; display:block;">
                                    <canvas id="win" style='width:600px; height:30vh; margin: auto;' ></canvas>

                                <script type="text/javascript">
                                    WinRateChart();
                                </script>
                                <div></div>
                                <div class="profile-card" th:each="to, i:${win}" th:if="${i.index < 5}" style="display: inline-block;">
                                    <a href="/mypage/${to.mem_userid}">
                                        <div class="profile-header">
                                            <div class="profile-image"><img src="../img/doyun_icon.png" alt="NO-IMAGE"></div>
                                            <div class="profile-user_info">
                                                <!-- <i th:text="${to.rank}"></i> 1등~5등 뱃지 영역 -->
                                                <p class="profile-user_level" th:text="'LV : ' + ${to.mem_lvl}"></p>
                                                <p class="profile-user_nick" th:text="${to.mem_userid}"></p>
                                                <img class="badge" src="../img/starbucks.png" alt="NO-SYMBOL"> <!-- 개인 설정 뱃지 -->
                                            </div>
                                            <p th:text="'승 률 : '+${to.winrate} + '%'"></p>
                                        </div>
                                    </a>
                                    <div class="profile-dividing-line"></div>
                                    <div class="profile-main">
                                        <div class="profile-introduction">
                                            안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <br><hr><br>
                                <table>
                                    <tr>
                                        <th>순위</th>
                                        <th>닉네임</th>
                                        <th>레벨</th>
                                        <th>승률</th>
                                    </tr>
                                    <tr th:each="to, i:${win}" th:if="${i.index>=5}">
                                        <td th:text="${to.rank}"></td>
                                        <td th:text="${to.mem_userid}"></td>
                                        <td th:text="${to.mem_lvl}"></td>
                                        <td th:text="${to.winrate} + '%'"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="page-modals">
        <div class="uk-flex-top" id="modal-report" data-uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
                <h2 class="uk-modal-title">Report</h2>
                <form class="uk-form-stacked" action="#">
                    <div class="uk-margin">
                        <div class="uk-form-label">Subject</div>
                        <div class="uk-form-controls"><select class="js-select">
                                <option value="">Choose Subject</option>
                                <option value="Subject 1">Subject 1</option>
                                <option value="Subject 2">Subject 2</option>
                                <option value="Subject 3">Subject 3</option>
                            </select></div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-label">Details</div>
                        <div class="uk-form-controls"><textarea class="uk-textarea" name="details" placeholder="Try to include all details..."></textarea></div>
                        <div class="uk-form-controls uk-margin-small-top">
                            <div data-uk-form-custom><input type="file"><button class="uk-button uk-button-default" type="button" tabindex="-1"><i class="ico_attach-circle"></i><span>Attach File</span></button></div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid uk-flex-right" data-uk-grid>
                            <div><button class="uk-button uk-button-small uk-button-link">Cancel</button></div>
                            <div><button class="uk-button uk-button-small uk-button-danger">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-flex-top" id="modal-help" data-uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
                <h2 class="uk-modal-title">Help</h2>
                <div class="search">
                    <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                    <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                </div>
                <div class="uk-margin-small-left uk-margin-small-bottom uk-margin-medium-top">
                    <h4>Popular Q&A</h4>
                    <ul>
                        <li><img src="/img/svgico/clipboard-text.svg" alt="icon"><span>How to Upload Your Developed Game</span></li>
                        <li><img src="/img/svgico/clipboard-text.svg" alt="icon"><span>How to Go Live Stream</span></li>
                        <li><img src="/img/svgico/clipboard-text.svg" alt="icon"><span>Get in touch with the Creator Support Team</span></li>
                    </ul>
                    <ul>
                        <li><a href="#!">browse all articles</a></li>
                        <li><a href="#!">Send Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
