<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="우리팀">
        <meta name="description" content="팀포트폴리오">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
        <!-- 메인 자바스크립트 -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="../static/js/login_style.js"></script>
        <script src="../static/js/controller.js"></script>
        <script src="../static/js/module/swiper.js"></script>
        <script>
            window.onload = function(){
                setPage(0);
            }
        </script>
        <!-- 메인 스타일 css -->
        <link rel="stylesheet" href="../static/css/swiper.css" />
        <link rel="stylesheet" href="../static/css/YJSTYLE.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <title>메인페이지</title>
    </head>
    <body>
        <div id="web">
            <header>
                <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>
                <div id="login">
                    <!-- <p class="log"><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p> -->
                    <p class="log"><a href="login">로그인</a></p>
                    <div class="logto">
                        <p class="login_info">
                            <div th:if="${nickname}">
                                <p th:text="${nickname}"></p>
                            </div> &nbsp;&nbsp;
                            <i class="fa-solid fa-caret-down"></i></p>
                        <ul class="login_info_list">
                            <li><a href="javascript:;">회원정보관리</a></li>
                            <li><a href="mypage/doyun">프로필</a></li>
                            <li><a href="board/shop">아이템 샵</a></li>
                            <li class="logout"><a href="/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <nav>
                <ul class="row">
                    <li><a href="../board/notice">공지사항</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="../board/fight">대전</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="board/team">협동</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="../board/list">게시판</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                    <li><a href="../rank">랭킹</a>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <section class="row">
                <div class="row lnb">LNB입니다.</div>
                <div class="row content">
                    <div class="main">
                        <div class="swiper memberSwiper">
                            <div class="swiper-wrapper">
                                <!-- JS로 추가될 예정 -->
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="autoplay-progress">
                                <svg viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="20"></circle>
                                </svg>
                                <span></span>
                            </div>
                        </div>
                        <div class="battle">
                            <div class="Proceeding">
                                <div class="user1">
                                    
                                </div>
                                <div class="user1">
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="main2">공지사항 리스트</div>
                    <div class="main2">랭킹 간단히</div>
                    <div class="main2">대전게시판 리스트</div>
                    <div class="main2">협동게시판 리스트</div>
                    <div class="main2">자유게시판 리스트</div>
                    <div class="main2">이벤트게시판 리스트</div>
                </div>
                <div class="row rnb">RNB입니다.</div>
            </section>
            <footer class="footer">
                푸터입니다.
            </footer>
        </div>
    </body>
</html>