<link rel="stylesheet" type="text/css" href="../css/shop_style.css">

<div class="center_all_shop center_action">
    <h3 class="category_name">전체 아이템</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly></textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly></textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly></textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly></textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
    </div>
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>
<div class="center_icon_shop">
    <h3 class="category_name">아이콘 테두리</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>
    </div>    
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>
<div class="center_profile_shop">
    <h3 class="category_name">프로필 테두리</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>

    </div>
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>
<div id="center_badge_shop">
    <h3 class="category_name">뱃지 상점</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>

    </div>
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>
<div id="center_time_shop">
    <h3 class="category_name">플레이시간 상점</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>

    </div>
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>
<div id="center_winning_shop">
    <h3 class="category_name">승률 뱃지</h3>
        <!-- <p>HOME &gt; <strong>게시판</strong></p> -->
    <div class="row itemlist">
        <div class="sub_item">
            <div class="item">
                <div class="icon_item">
                    <a href="#">
                        <!-- <img src="../img/모코머슥.png" alt="아이콘"> -->
                    </a>
                </div>
            </div>
            <div class="explanation_item">
                <p class="name_item">아이템 이름</p>
                <textarea name="explanation" id="explanation" cols="30" rows="5" readonly>아이템 설명</textarea>
                <p class="price_item">가격 : <span>3500원</span></p>
            </div>
            <div class="button_item">
                <input class="select" type="button" value="구매">
            </div>
        </div>

    </div>
    <div class="paginate_regular">
        <div align="absmiddle">
            <span>&lt;&lt;</span>
            &nbsp;
            <span>&lt;</span>
            &nbsp;&nbsp;
            <span>[ 1 ]</span>
            <span><a href="list">2</a></span>
            <span><a href="list">3</a></span>
            <span><a href="list">4</a></span>
            <span><a href="list">5</a></span>
            &nbsp;&nbsp;
            <span>&gt;</span>
            &nbsp;
            <span>&gt;&gt;</span>
        </div>
    </div>
    <!--페이지넘버-->
</div>