<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="우리팀">
    <meta name="description" content="팀포트폴리오">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/021ba766ac.js" crossorigin="anonymous"></script>
    <!-- 메인 자바스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/login_style.js"></script>
    <script src="./js/swiperjs.js"></script>
    <!-- 메인 스타일 css -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/swiper.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>메인페이지</title>
</head>

<body>
    <div id="web">
        <header>
            <h1 class="logo"><a href="/"><img src="./img/logo.png" alt="logo"></a></h1>
            <div id="login">
                <!-- <p class="log"><a href="login"><i class="fa-solid fa-right-to-bracket" alt="로그인"title="로그인"></i></a></p> -->
                <p class="log"><a href="login">로그인</a></p>
                <div class="logto">
                    <p class="login_info">
                    <div th:if="${nickname}">
                        <p th:text="${nickname}"></p>
                    </div> &nbsp;&nbsp;
                    <i class="fa-solid fa-caret-down"></i></p>
                    <ul class="login_info_list">
                        <li><a href="#">회원정보관리</a></li>
                        <li><a href="mypage/doyun">프로필</a></li>
                        <li><a href="board/shop">아이템 샵</a></li>
                        <li class="logout"><a href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <ul class="row">
                <li><a href="../board/list?board_cd=notice">공지사항</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li><a href="../board/list?board_cd=fight">대전</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li><a href="../board/list?board_cd=team">협동</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li><a href="../board/list?board_cd=free">게시판</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li><a href="../rank">랭킹</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="home_content">
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">간단한 통계 예정
                        </div>
                        <div class="main_list">간단한 통계 예정
                        </div>
                    </div>
                    <div class="center_main">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="row user">
                                        <div class="user_profile">
                                            <a href="/mypage/doyun">
                                                <div class="profile">
                                                    <p class="user_icon"><img src="../static/img/doyun_icon.png"
                                                            alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="user_level">Lv : 100</p>
                                                        <p class="user_nick">doyun</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                    <!-- <div class="user_bagdge">
                                                        </div> -->
                                                </div>
                                                <div class="user_content">
                                                    <p>
                                                        안녕하세요.
                                                    </p>
                                                </div>
                                                <div>
                                                    베찌 나열공간
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <a href="#">
                                                <div class="profile">
                                                    <p class="user_icon"><img src="" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="user_level">Lv : 70</p>
                                                        <p class="user_nick">때릴거야?</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                </div>
                                                <div class="user_content">
                                                    <p></p>
                                                </div>
                                                <div>
                                                    베찌 나열공간
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 20</p>
                                                    <p class="nik">이론마스터</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 49</p>
                                                    <p class="nik">전투는실전</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="row user">
                                        <div class="user_profile">
                                            <a href="/mypage/doyun">
                                                <div class="profile">
                                                    <p class="icon"><img src="../img/doyun_icon.png" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 100</p>
                                                        <p class="nik">doyun</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                    <!-- <div class="user_bagdge">
                                                        </div> -->
                                                </div>
                                                <div class="user_content">
                                                    <p>
                                                        안녕하세요.
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <a href="#">
                                                <div class="profile">
                                                    <p class="icon"><img src="" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 70</p>
                                                        <p class="nik">철권고수</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                </div>
                                                <div class="user_content">
                                                    <p></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 100</p>
                                                    <p class="nik">이론첼린저</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="user_icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="user_level">Lv : 60</p>
                                                    <p class="user_nickname ">스나이퍼</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                            <div>
                                                베찌 나열공간
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="row user">
                                        <div class="user_profile">
                                            <a href="/mypage/doyun">
                                                <div class="profile">
                                                    <p class="icon"><img src="../img/doyun_icon.png" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 100</p>
                                                        <p class="nik">doyun</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                    <!-- <div class="user_bagdge">
                                                        </div> -->
                                                </div>
                                                <div class="user_content">
                                                    <p>
                                                        안녕하세요.
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <a href="#">
                                                <div class="profile">
                                                    <p class="icon"><img src="" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 70</p>
                                                        <p class="nik">배린이</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                </div>
                                                <div class="user_content">
                                                    <p></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 120</p>
                                                    <p class="nik">헤드헌터</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 49</p>
                                                    <p class="nik">데바데석유</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="row user">
                                        <div class="user_profile">
                                            <a href="/mypage/doyun">
                                                <div class="profile">
                                                    <p class="icon"><img src="../img/doyun_icon.png" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 100</p>
                                                        <p class="nik">doyun</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                    <!-- <div class="user_bagdge">
                                                        </div> -->
                                                </div>
                                                <div class="user_content">
                                                    <p>
                                                        안녕하세요.
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <a href="#">
                                                <div class="profile">
                                                    <p class="icon"><img src="" alt="#"></p>
                                                    <div class="user_info">
                                                        <p class="level">Lv : 70</p>
                                                        <p class="nik">홀리</p>
                                                        <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                    </div>
                                                </div>
                                                <div class="user_content">
                                                    <p></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 100</p>
                                                    <p class="nik">바론강타</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                        <div class="user_profile">
                                            <div class="profile">
                                                <p class="icon"><img src="" alt="#"></p>
                                                <div class="user_info">
                                                    <p class="level">Lv : 49</p>
                                                    <p class="nik">용스틸장인</p>
                                                    <img class="bagdge" src="../img/starbucks.png" alt="스벅">
                                                </div>
                                            </div>
                                            <div class="user_content">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="autoplay-progress">
                                <svg viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="20"></circle>
                                </svg>
                                <span></span>
                            </div>
                        </div>
                        <div class="battle">
                            <div class="row Proceeding">
                                <div class="main2">공지사항 리스트</div>
                                <div class="main2">랭킹 간단히</div>
                                <div class="main2">대전게시판 리스트</div>
                                <div class="main2">협동게시판 리스트</div>
                                <div class="main2">자유게시판 리스트</div>
                                <div class="main2">이벤트게시판 리스트</div>
                            </div>
                        </div>
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            공지사항 페이지
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            대전 페이지
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            협동 페이지
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            게시판 페이지
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            랭킹 페이지
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            회원정보
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            프로필
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            아이템 샵
            <div class="content">
                <div class="row main">
                    <div class="left_main">
                        <div class="main_list">
                            <p>메뉴</p>
                        </div>
                        <div class="main_list">
                            <p>메뉴2</p>
                        </div>
                    </div>
                    <div class="center_main">
                    </div>
                    <div class="right_main">
                    </div>
                </div>
            </div>
        </section>
        <footer>
            푸터
        </footer>
    </div>
</body>

</html>