<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login_Style.css">
    <script src="./js/login.js"></script>
    <script src="./js/mail.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script> <!-- google recaptcha -->
    <link id="captchaKey" th:data-contextPath="${@environment.getProperty('google.site')}"/>
    <title>Document</title>
    <script>
        const captcha_Key = document.querySelector("#captchaKey").getAttribute("data-contextPath");
        window.onload = function () {
            const frmLogin = document.frmLogin;
            const navLogin = document.querySelector('#navigation li[name=login]');
            setLoginPage();
            frmLogin.reset();
            navLogin.click();
        }

    </script>
</head>

<body>
    <div id="wrap_full">
        <header>
            <h1 class="logo"><a href="/"><img src="../img/logo.png" alt="logo"></a></h1>
        </header>
        <div id="frmLogin">
            <form method="post" name="frmLogin" action="#" onsubmit="return check_recaptcha();">
                <div id="login-header">
                    <div>
                        <strong class="title">User Login</strong>
                        <div>
                            <button type="button" id="btn-close" value="cancel">❌</button>
                        </div>
                    </div>
                </div>
                <nav id="nav" class="nav">
                    <ul id="navigation">
                        <li name="login">LOGIN</li>
                        <li name="signup">SIGNUP</li>
                    </ul>
                </nav>
                <div id="login-contents">
                    <div>
                        <label for="id" class="login signup">
                            <div class="label">ID:</div>
                            <div class="verifyContraints" name="id-fail" style="display: none;">❗</div>
                            <div class="verifyContraints" name="id-pass" style="display: none;">✔</div>
                            <input type="text" id="id" name="id" logintype="login" oninput="verifyIdContraints()" />
                            <input type="button" id="duplicate-id" value="중복 확인" style="display: none;" />
                        </label>
                        
                        <label for="password" class="login signup">
                            <div class="label">PW:</div>
                            <div class="verifyContraints" name="pw-fail" style="display: none;">❗</div>
                            <div class="verifyContraints" name="pw-pass" style="display: none;">✔</div>
                            <input type="password" id="password" name="password" logintype="login"
                            oninput="comparePassword();verifyPasswordContraints();" />
                        </label>
                        
                        <label for="passwordCheck" class="signup">
                            <div class="label">PWCHECK:</div>
                            <div class="verifyContraints" name="pwc-fail" style="display: none;">❗</div>
                            <div class="verifyContraints" name="pwc-pass" style="display: none;">✔</div>
                            <input type="password" id="passwordCheck" name="passwordCheck" oninput="comparePassword()" />
                        </label>
                        
                        <label for="nickname" class="signup">
                            <div class="label">NICKNAME:</div>
                            <div class="verifyContraints" name="nck-fail" style="display: none;">❗</div>
                            <div class="verifyContraints" name="nck-pass" style="display: none;">✔</div>
                            <input type="text" id="nickname" name="nickname" oninput="verifyNicknameContraints()" />
                            <input type="button" id="duplicate-nickname" value="중복 확인" />
                        </label>
                        <label for="email" class="signup">
                            <div class="label">E-Mail:</div>
                            <input type="text" id="email" name="email" />
                            <input type="button" id="duplicate-mail" value="중복 확인" />
                            <input type="button" id="btn-email" class="btn-email" value="인증번호" disabled></input>
                        </label>
                        <label for="email" class="signup">
                            <div id="mail_number" name="mail_number" style="display: none">
                                <input type="text" name="number" id="number" placeholder="인증번호 입력" />
                                <input type="text" name="confirm" id="confirm" style="display: none"  value="" readonly/>
                                <input type="button" name="confirmBtn" id="confirmBtn" style=" margin-top: 1px;" value="이메일 인증" ></input>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="login-footer">
                    <button id="btn-login" class="login">LOG IN</button>
                    <button id="btn-signup" class="signup" disabled>SIGN UP</button>
                </div>
                <div class="g-recaptcha" data-sitekey="6LfJJDIpAAAAAPY_wY2MHDLseQvR8Wpnl8rtftKg" id="captcha" style="display:none"></div>
            </form>
            
            <!--스팀 로그인 버튼-->
            <br>
            <a href="https://steamcommunity.com/openid/login?openid.ns=http://specs.openid.net/auth/2.0&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.return_to=http://localhost:8080/login/steam/callback&openid.realm=http://localhost:8080&openid.mode=checkid_setup">
                <img src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_02.png" width="109" height="66" border="0">
            </a>
            <!--카카오톡 로그인 버튼-->
            <a id="kakao-login-btn" href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=6c633b1da1bdc67e6071145ed5723fec&redirect_uri=http://localhost:8080/login/kakao/callback">
                <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
            </a>
        </div>
    </div>
</body>

</html>