<div class="swiper memberSwiper">
    <div class="swiper-wrapper">
        <!-- JS로 추가될 예정 -->
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    <div class="swiper-pagination"></div>

</div>
<div class="board">
    <div class="row Proceeding">
        <div class="main2">공지사항 리스트</div>
        <div class="main2">랭킹 간단히</div>
        <div class="main2">대전게시판 리스트</div>
        <div class="main2">협동게시판 리스트</div>
        <div class="main2">자유게시판 리스트</div>
        <div class="main2">이벤트게시판 리스트</div>
    </div>
</div>
<!-- <section class="">
    공지사항 페이지
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    대전 페이지
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    협동 페이지
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    게시판 페이지
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    랭킹 페이지
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    회원정보
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    프로필
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section>
<section class="">
    아이템 샵
    <div class="content">
        <div class="row main">
            <div class="left_main">
                <div class="main_list">
                    <p>메뉴</p>
                </div>
                <div class="main_list">
                    <p>메뉴2</p>
                </div>
            </div>
            <div class="center_main">
            </div>
            <div class="right_main">
            </div>
        </div>
    </div>
</section> -->